{# Macros #}
{% macro get_variable_markup(label, value) %}
  {% set class = value ? 'value' : 'no-value' %}
  <p>
    <span class="label">{{ label }}:</span>
    <span class="{{ class }}">{{ value or 'null' }}</span>
  </p>
{% endmacro %}

{% macro get_section_markup(header, data, subheader) %}
  <section class="variable-group">
    <h2>{{ header }}</h2>
    {% if subheader %}<h3>{{ subheader }}</h3>{% endif %}
    {% for pair in data %}
      {{ get_variable_markup(pair[0], pair[1]) }}
    {% endfor %}
  </section>
{% endmacro %}

{# Depends on .pseudo-svg #}
{% macro get_icon_markup(class_name) %}
  <p>
    <span class="pseudo-svg {{ class_name }}">{{ class_name }}</span>
  </p>
{% endmacro %}

{# Depends on .svg-icon #}
{% macro get_svg_icon_markup(class_name) %}
  <div>
    <div class="svg-icon {{ class_name }}"></div>
    <span>{{ class_name }}</span>
  </div>
{% endmacro %}

{# Data #}
{%
  set content_pairs = [
    ['content.absolute_url', content.absolute_url],
    ['content.archived', content.archived],
    ['content.author_email', content.author_email],
    ['content.author_name', content.author_name],
    ['content.author_username', content.author_username],
    ['content.campaign', content.campaign],
    ['content.campaign_name',content.campaign_name],
    ['content.created', content.created],
    ['content.meta_description', content.meta_description],
    ['content.name', content.name],
    ['content.publish_date', content.publish_date],
    ['content.publish_date_localized', content.publish_date_localized],
    ['content.template_path', content.template_path],
    ['content.slug', content.slug],
    ['content.absolute_url', content.absolute_url],
    ['content.updated', content.updated],
    ['content.publish_date', content.publish_date],
    ['content.name', content.name]
  ]
%}
{%
  set is_in_pairs = [
    ['is_in_editor', is_in_editor],
    ['is_in_global_content_editor', is_in_global_content_editor],
    ['is_in_hs_app', is_in_hs_app],
    ['is_in_previewer', is_in_previewer],
    ['is_in_blog_post_editor', is_in_blog_post_editor],
    ['is_in_blog_post_previewer', is_in_blog_post_previewer],
    ['is_in_email_editor', is_in_email_editor],
    ['is_in_email_previewer', is_in_email_previewer],
    ['is_in_module_previewer', is_in_module_previewer],
    ['is_in_page_editor', is_in_page_editor],
    ['is_in_page_previewer', is_in_page_previewer],
    ['is_in_template_previewer', is_in_template_previewer],
    ['is_in_theme_editor', is_in_theme_editor],
    ['is_in_theme_previewer', is_in_theme_previewer]
  ]
%}
{%
  set miscellanious_pairs = [
    ['page_meta.canonical_url', page_meta.canonical_url],
    ['page_meta.html_title', page_meta.html_title],
    ['page_meta.meta_description', page_meta.meta_description],
    ['page_meta.name', page_meta.name],
    ['content_id', content_id],
    ['favicon_link', favicon_link],
    ['hubspot_analytics_tracking_code', hubspot_analytics_tracking_code],
    ['local_dt', local_dt],
    ['local_time_zone', local_time_zone],
    ['year', year],
    ['company_domain', company_domain]
  ]
%}
{%
  set request_pairs = [
    ["request.domain", request.domain],
    ["request.full_url", request.full_url],
    ["request.path", request.path],
    ["request.path_and_query", request.path_and_query],
    ["request.query", request.query],
    ["request.query_dict", request.query_dict],
    ["request.scheme", request.scheme],
    ["request.search_engine", request.search_engine],
    ["request.search_keyword", request.search_keyword]
  ]
%}
{%
  set blog_pairs = [
    ['blog_author', blog_author],
    ['blog', blog],
    ['blog != null and blog == group', blog != null and blog == group],
    ['content.comment_count', content.comment_count],
    ['content.comment_list', content.comment_list],
    ['content.featured_image_alt_text', content.featured_image_alt_text],
    ['content.featured_image', content.featured_image],
    ['content.next_post_featured_image_alt_text', content.next_post_featured_image_alt_text],
    ['content.next_post_featured_image', content.next_post_featured_image],
    ['content.next_post_name', content.next_post_name],
    ['content.next_post_slug', content.next_post_slug],
    ['content.tag_list', content.tag_list],
    ['contents.total_page_count', contents.total_page_count],
    ['current_page_num', current_page_num],
    ['is_listing_view', is_listing_view],
    ['last_page_num', last_page_num],
    ['next_page_num', next_page_num],
    ['simple_list_page', simple_list_page],
    ['tag', tag],
    ['topic', topic]
  ]
%}
{% 
  set icon_classes = [
    'check-before',
    'arrow-link arrow-link-forward',
    'arrow-link arrow-link-back',
    'calendar-plus-before',
    'phone-chat-before',
    'whatsapp-before',
    'chevron-back-before'
  ]
%}
{%
  set svg_icons = [
    'history',
    'price-tag'
  ]
%}

<!-- Begin Test Variables module html  -->
<div class="test-variables">
  <h1>Test Hubspot Variables</h1>
  <a
    class="docs-link"
    href="https://developers.hubspot.com/beta-docs/reference/cms/hubl/variables"
    target="_blank"
  >Hubspot variables doc</a>
 
  <div class="variable-groups-wrapper">
    {{ get_section_markup('All Templates', content_pairs, 'content') if module.show_content_info }}
    {{ get_section_markup('All Templates', is_in_pairs, 'Is in...') if module.show_is_in_info }}
    {{ get_section_markup('All Templates', miscellanious_pairs, 'Miscellanious') if module.show_miscellaneous_info }}
    {{ get_section_markup('Request', request_pairs) if module.show_request_info }}
    {{ get_section_markup('Blog', blog_pairs) if module.show_blog_info }}

    {% if module.show_icons %}
      <section class="variable-group icons">
        <h2>CSS</h2>
        <h3>Icons</h3>
        {% for class in icon_classes %}
          {{ get_icon_markup(class) }}
        {% endfor %}
        
        {% for class in svg_icons %}
          {{ get_svg_icon_markup(class) }}
        {% endfor %}
      </section>
    {% endif %}

    <section>
      <h2>Links</h2>
      <div>
        <a class="link">link water</a>
      </div>
      <div>
        <a class="link slate">link slate</a>
      </div>
      <div>
        <a class="link grey-3">link slate</a>
      </div>
    </section>
  </div>
  
  <section>
    <h2>Site Settings</h2>
    <details>
      <summary>Show siteSettings - a child of DomainSettings</summary>
      <pre>{{ site_settings.siteSettings|pprint }}</pre>
    </details>
  </section>
  <section>
    <h2>Theme Settings</h2>
    <details>
      <summary>Show theme settings</summary>
      <pre>{{ theme|pprint }}</pre>
    </details>
  </section>
</div>

{# Hubl email templates don't allow separate stylesheets, but inline is ok #}
{% require_css %}
  <style>
  .test-variables {
    padding: 20px;
  }

  .test-variables .docs-link {
    padding-bottom: 10px;
  }

  .variable-groups-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
  }

  .test-variables .label {
    margin-right: 10px;
  }

  .test-variables .no-value {
    font-style: italic;
  }

  .test-variables .icons {
    --icon--color: var(--color--cherry);
  }

  pre {
    border-left: 1px solid black;
  }
  </style>
{% end_require_css %}
<!-- End Test Variables module html  -->
