{% set offset = module.layout == "two_column" ? 5 : 3 %}

{% macro render_blog_posts(posts, layout) %}
  <div class="row">
    {% for content in posts %}
      {% set author = content.blog_author.name %}
      {% set is_large_card = layout == "two_column" and loop.index <= 2 %}
      {% set initial_post_words = content.post_body|striptags|wordcount %}
      {% set read_time_post_words = (initial_post_words / 200)|round(0, 'ceil') %}
      {% set is_read_time_words = read_time_post_words <=1 ? 'Read time: less than 1 min' : 'Read time: {{ read_time_post_words }} mins'  %}
      {% set card_type = is_large_card ? 'large' : 'small' %}
      <a
        href="{{ content.url }}"
        class="blog-teasers__card blog-teasers__{{ card_type }}-card"
      >
        <img src="{{ content.featured_image }}" alt="{{ content.name }}">
        <span class="blog-teasers__category">{{ content.topic_list[0].name }}</span>
        <h4 class="blog-teasers__heading">{{ content.name }}</h4>
        {% if author %}
          <p class="blog-teasers__byline">By {{ author }} | {{ is_read_time_words }}</p>
        {% endif %}
      </a>
    {% endfor %}
  </div>
{% endmacro %}

{% macro render_blog_posts_by_layout(layout, tag) %}
  {% set posts = blog_recent_tag_posts("default", [tag], layout == "two_column" ? 5 : 3, "AND") %}
  {{ render_blog_posts(posts, layout) }}
{% endmacro %}

{% set clean_tags = module.tag_field | replace('-', ' ') | replace(',', '') | capitalize %}
<div class="blog-teasers">
  <div class="blog-teasers__container">
    <h4 class="blog-teasers__header">{{ clean_tags }}</h4>
    <hr class="blog-teasers__line">
    <div class="blog-teasers__posts">
      {{ render_blog_posts_by_layout(module.layout, module.tag_field) }}
    </div>
    <div class="blog-teasers__view-more">
      <button
        id="blog-teasers-view-more-btn"
        class="hs-button jd-request-btn jd-request-btn-inverse arrow-link"
      >
        View more {{ clean_tags }} articles
      </button>
    </div>
  </div>
</div>

<script>
  (function () {
    const tag = '{{ module.tag_field }}';
    let offset = {{ offset || 0 }};
    let viewMorePosts = [];

    function getWordCount(text) {
      // Trim whitespace and split by spaces or other delimiters
      const words = text.trim().split(/\s+/);
      return words.length > 0 ? words.length : 0; // Return 0 if no words
    }

    function removeTags(text) {
      // Use a regular expression to match anything between < and >
      return text.replace(/<[^>]*>/g, '').trim();
    }

    function fetchPostContent(url) {
      return new Promise((resolve, reject) => {
        $.get(url)
          .done((data) => resolve(data))
          .fail(() => reject(new Error(`Failed to load data from ${url}`)));
      });
    }

    function appendViewMoreResults(data) {
      let row1 = '';
      let row2 = '';
      let imageUrl = '';

      for (let i = 0; i < 6; i++) {
        const post = data.results[i];
        viewMorePosts.push(post);
        const readTimePlaceHolder = 'Calculating...';
        const title = removeTags(post.title);
        if (post.featuredImageUrl) {
          imageUrl = post.featuredImageUrl;
        }
        const row = `
          <a href="${post.url}" class="blog-teasers__card blog-teasers__small-card">
            <img src="${imageUrl}" alt="${title}">
            <span class="blog-teasers__category">${post.tags[0]}</span>
            <h4 class="blog-teasers__heading">${title}</h4>
            <p class="blog-teasers__byline">By ${post.authorFullName} | <span id="read-time-${post.id}">${readTimePlaceHolder}</span></p>
          </a>
        `;

        if (i < 3) {
          row1 += row;
        } else {
          row2 += row;
        }
      }

      // Append the constructed rows to the DOM
      $(`<div class="row">${row1}</div>`).appendTo('.blog-teasers__posts');
      $(`<div class="row">${row2}</div>`).appendTo('.blog-teasers__posts');
    }

    function processParagraphs(data, post) {
      const paragraphs = $(data).find('.jd-post-content');
      let wordCount = 0;

      // Loop through each found paragraph
      paragraphs.each(function () {
        const paragraphText = $(this).text();
        wordCount += getWordCount(paragraphText);
      });
      const readTime = Math.ceil(wordCount / 200);
      const formatReadTime =
        readTime <= 1
          ? 'Read time: less than 1 min'
          : `Read time: ${readTime} mins`;
      $(`p #read-time-${post.id}`).empty().html(`${formatReadTime}`);
    }

    async function populateReadTimes(post) {
      try {
        const data = await fetchPostContent(post.url);
        if (data) {
          processParagraphs(data, post);
        }
        return data;
      } catch (error) {
        console.error('An unexpected error occurred:', error);
        return null; // Return null in case of an error
      }
    }

    async function loadPosts(searchUrl, btn) {
      try {
        const data = await fetchPostContent(searchUrl);
        if (data) {
          if (data.results.length < 6) {
            $('.blog-teasers__view-more').hide();
          } else {
            $('.blog-teasers__view-more').show();
            appendViewMoreResults(data);

            // Collect all promises
            const promises = viewMorePosts.map((post) => populateReadTimes(post)); // Create an array of promises

            // Await all promises
            const updatedDataArray = await Promise.all(promises);

            // Process results
            updatedDataArray.forEach((updatedData) => {
              if (!updatedData) {
                console.warn(`Failed to fetch data for a post.`);
              }
            });

            offset += 6;
            $(btn).removeClass('disable-btn');
          }
        }
        return data;
      } catch (error) {
        console.error('An unexpected error occurred:', error);
        return null;
      }
    }

    $('#blog-teasers-view-more-btn').click(function () {
      const btn = this;
      viewMorePosts = [];
      $(this).addClass('disable-btn');
      const searchUrl = `${window.location.origin}/_hcms/search?&term=${encodeURIComponent(tag)}&type=BLOG_POST&limit=${6}&offset=${offset}`;
      loadPosts(searchUrl, btn);
    });
  })();
</script>
