{% set offset = module.layout == "two_column" ? 5 : 3 %}

{% macro render_blog_posts(posts, layout) %}
  <div class="row">
    {% for content in posts %}
      {% set author = content.blog_author.name %}
      {% set is_large_card = layout == "two_column" and loop.index <= 2 %}
      {% set initial_post_words = content.post_body|striptags|wordcount %}
      {% set read_time_post_words = (initial_post_words / 200)|round(0, 'ceil') %}
      {% set is_read_time_words = read_time_post_words <=1 ? 'Read time: less than 1 min' : 'Read time: {{ read_time_post_words }} mins'  %}
      {% set card_type = is_large_card ? 'large' : 'small' %}
      <a
        href="{{ content.url }}"
        class="blog-teasers__card blog-teasers__{{ card_type }}-card"
      >
        <img src="{{ content.featured_image }}" alt="{{ content.name }}">
        <span class="blog-teasers__category">{{ content.topic_list[0].name }}</span>
        <h4 class="blog-teasers__heading">{{ content.name }}</h4>
        {% if author %}
          <p class="blog-teasers__byline">By {{ author }} | {{ is_read_time_words }}</p>
        {% endif %}
      </a>
    {% endfor %}
  </div>
{% endmacro %}

{% macro render_blog_posts_by_layout(layout, tag) %}
  {% set posts = blog_recent_tag_posts("default", [tag], layout == "two_column" ? 5 : 3, "AND") %}
  {{ render_blog_posts(posts, layout) }}
{% endmacro %}

{% set clean_tags = module.tag_field | replace('-', ' ') | replace(',', '') | capitalize %}
<div class="blog-teasers">
  <div class="blog-teasers__container">
    <h4 class="blog-teasers__header">{{ clean_tags }}</h4>
    <hr class="blog-teasers__line">
    <div class="blog-teasers__posts">
      {{ render_blog_posts_by_layout(module.layout, module.tag_field) }}
    </div>
    <div class="blog-teasers__view-more">
      <button
        class="blog-teasers-view-more-btn hs-button jd-request-btn jd-request-btn-inverse arrow-link"
      >
        View more {{ clean_tags }} articles
      </button>
    </div>
  </div>
</div>

<script>
  (function () {
    const tag = '{{ module.tag_field }}';
    let offset = {{ offset || 0 }};
    const limit = 6;
    let viewMorePosts = [];

    function getReadTime(wordCount) {
      const readTime = Math.ceil(wordCount / 200);
      const formatReadTime =
        readTime <= 1
          ? 'Read time: less than 1 min'
          : `Read time: ${readTime} mins`;
      return formatReadTime;
    }

    function getWordCount(text) {
      const words = text.trim().split(/\s+/).filter(Boolean);
      return words.length;
    }

    function removeTags(text) {
      return text.replace(/<[^>]*>/g, '').trim();
    }

    function fetchPostContent(url) {
      return fetch(url)
        .then((response) => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.text();
        })
        .catch((error) => {
          console.error('Fetch error:', error);
          return null;
        });
    }

    function appendViewMoreResults(data) {
      let row1 = '';
      let row2 = '';

      data.results.forEach((post, i) => {
        viewMorePosts.push(post);
        const readTimePlaceHolder = 'Calculating...';
        const title = removeTags(post.title);
        const imageUrl = post.featuredImageUrl || '';

        const row = `
                  <a href="${post.url}" class="blog-teasers__card blog-teasers__small-card">
                      <img src="${imageUrl}" alt="${title}">
                      <span class="blog-teasers__category">${post.tags[0]}</span>
                      <h4 class="blog-teasers__heading">${title}</h4>
                      <p class="blog-teasers__byline">By ${post.authorFullName} | <span id="read-time-${post.id}">${readTimePlaceHolder}</span></p>
                  </a>
              `;

        if (i < 3) {
          row1 += row;
        } else {
          row2 += row;
        }
      });

      // Insert rows into DOM
      document
        .querySelector('.blog-teasers__posts')
        .insertAdjacentHTML('beforeend', `<div class="row">${row1}</div>`);
      document
        .querySelector('.blog-teasers__posts')
        .insertAdjacentHTML('beforeend', `<div class="row">${row2}</div>`);

      console.log('Rows appended successfully.');
    }

    function updateReadTime(data, post) {
      const parser = new DOMParser();
      const doc = parser.parseFromString(data, 'text/html');
      const paragraphs = doc.querySelectorAll('.jd-post-content');
      let wordCount = 0;

      paragraphs.forEach((paragraph) => {
        const paragraphText = paragraph.textContent || '';
        wordCount += getWordCount(paragraphText);
      });

      const readTime = getReadTime(wordCount);
      document.querySelector(`#read-time-${post.id}`).innerHTML = readTime;
    }

    function populateReadTimes(post) {
      return fetchPostContent(post.url)
        .then((data) => {
          if (data) {
            updateReadTime(data, post);
          }
          return data;
        })
        .catch((error) => {
          console.error('An unexpected error occurred:', error);
          return null;
        });
    }

    function loadPosts(searchUrl, button) {
      return fetch(searchUrl)
        .then((response) => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.json();
        })
        .then((data) => {
          if (data && data.results) {
            if (data.results.length < limit) {
              document
                .querySelector('.blog-teasers__view-more')
                .classList.add('hidden');
            }
            if (data.results.length > 0) {
              appendViewMoreResults(data);

              const promises = viewMorePosts.map((post) =>
                populateReadTimes(post),
              );

              return Promise.all(promises).then(() => {
                offset += limit;
                button.classList.remove('disable-btn');
                return true;
              });
            }
          }
          return null;
        })
        .catch((error) => {
          console.error('An unexpected error occurred:', error);
          return null;
        });
    }

    document
      .querySelector('.blog-teasers-view-more-btn')
      .addEventListener('click', function () {
        const btn = this;
        viewMorePosts = [];
        btn.classList.add('disable-btn');
        const searchUrl = `${window.location.origin}/_hcms/search?&term=${encodeURIComponent(tag)}&type=BLOG_POST&limit=${limit}&offset=${offset}`;
        loadPosts(searchUrl, btn);
      });
  })();
</script>
