/* Number in the variable name represents a multiplier for 0.25rem */
:root {
  --shadow--xs: 0 1px 2px 0 var(--color--legacy--blue--tangaroa--alpha-5);
  --shadow--sm: 0 1px 3px 0 var(--color--legacy--blue--tangaroa--alpha-10),
    0 1px 2px 0 var(--color--legacy--blue--tangaroa--alpha-6);
  --shadow--md: 0 4px 8px -2px var(--color--legacy--blue--tangaroa--alpha-10),
    0 2px 4px -2px var(--color--legacy--blue--tangaroa--alpha-6);
  --shadow--lg: 0 12px 16px -4px var(--color--legacy--blue--tangaroa--alpha-8),
    0 4px 6px -2px var(--color--legacy--blue--tangaroa--alpha-3);
  --shadow--xl: 0 20px 24px -4px var(--color--legacy--blue--tangaroa--alpha-8),
    0 8px 8px -4px var(--color--legacy--blue--tangaroa--alpha-3);
  --shadow--2xl: 0 24px 48px -12px var(--color--legacy--blue--tangaroa--alpha-18);
  --shadow--button: 0px 4px 20px 0px var(--color--legacy--black--black--alpha-8);
  --shadow--sticky-header: 0px 50px 100px 0px rgba(70, 70, 70, 0.25);
}
