/* prettier-ignore */
:root {
  /* Global colors */
  
  --theme--global-colors--primary-color: var(--color--legacy--blue--oxford-blue);
  --theme--global-colors--primary-color--darkened: var(--color--legacy--blue--oxford-blue-2);
  --theme--global-colors--secondary-color: var(--color--cherry);
  --theme--global-colors--secondary-color--darkened: var(--color--legacy--red--fire-engine-red);
  --theme--global-colors--tertiary-color: var(--color--legacy--green--highland);
  --theme--global-colors--quaternary-color: var(--color--melon);
  
  /* Global fonts */
  
  --theme--global-fonts--primary-font: var(--font-family--body);
  --theme--global-fonts--primary-font--color: var(--color--legacy--blue--oxford-blue);
  --theme--global-fonts--secondary-font: var(--font-family--heading);
  
  /* Typography */

  --theme--typography--body-text--font: var(--font-family--body);
  --theme--typography--body-text--color: var(--color--grey-2);
  --theme--typography--body-text--color--lightened: var(--color--legacy--grey--grey-1);
  --theme--typography--body-text--color--darkened: var(--color--legacy--grey--nero-1);
  --theme--typography--body-text--font-size: var(--font-size--legacy--7);
  --theme--typography--heading-1--color: var(--color--legacy--blue--oxford-blue);
  --theme--typography--heading-1--font-size: var(--font-size--legacy--28);
  --theme--typography--heading-1--small--font-size: var(--font-size--legacy--24);
  --theme--typography--heading-2--color: var(--color--legacy--blue--oxford-blue);
  --theme--typography--heading-2--font-size: var(--font-size--legacy--25);
  --theme--typography--heading-2--small--font-size: var(--font-size--legacy--18);
  --theme--typography--heading-3--color: var(--color--legacy--blue--oxford-blue);
  --theme--typography--heading-3--font-size: var(--font-size--legacy--18);
  --theme--typography--heading-3--small--font-size: var(--font-size--legacy--13);
  --theme--typography--heading-4--color: var(--color--legacy--blue--oxford-blue);
  --theme--typography--heading-4--font-size: var(--font-size--legacy--13);
  --theme--typography--heading-4--small--font-size: var(--font-size--legacy--11);
  --theme--typography--heading-5--color: var(--color--legacy--blue--oxford-blue);
  --theme--typography--heading-5--font-size: var(--font-size--legacy--11);
  --theme--typography--heading-6--color: var(--color--legacy--blue--oxford-blue);
  --theme--typography--heading-6--font-size: var(--font-size--legacy--7);
  --theme--typography--link-color: var(--color--cherry);
  --theme--typography--link-color--lightened: var(--color--legacy--orange--sunset-orange-2);
  --theme--typography--link-color--darkened: var(--color--legacy--red--free-speech-red);
  
  /* Buttons */
  
  --theme--buttons--border: 0 solid var(--color--legacy--blue--oxford-blue);
  --theme--buttons--border-color: var(--color--legacy--blue--oxford-blue);
  --theme--buttons--border-color--lightened: var(--color--legacy--blue--fiord);
  --theme--buttons--border-radius: 100px;
  --theme--buttons--padding: 13px 55px;
  --theme--buttons--background-color: var(--color--legacy--blue--oxford-blue);
  --theme--buttons--background-color--lightened: var(--color--legacy--blue--fiord);
  --theme--buttons--hover-color: var(--color--legacy--blue--san-juan);
  --theme--buttons--text-color: var(--color--white);
  --theme--buttons--hover-text-color: var(--color--white);
  --theme--buttons--light-button--border: 0 solid var(--color--white);
  --theme--buttons--light-button--border-color: var(--color--white);
  --theme--buttons--light-button--border-radius: 100px;
  --theme--buttons--light-button--padding: 13px 55px;
  --theme--buttons--light-button--background-color: var(--color--cherry);
  --theme--buttons--light-button--hover-color: var(--color--legacy--red--cinnabar);
  --theme--buttons--light-button--hover-color--lightened: var(--color--legacy--orange--sunset-orange-1);
  --theme--buttons--light-button--text-color: var(--color--white);
  --theme--buttons--light-button--hover-text-color: var(--color--white);
  
  /* Forms */
  
  --theme--forms--border-radius: 8px;
  --theme--forms--field-background-color: var(--color--white);
  --theme--forms--field-border-color: var(--color--grey-4);
  --theme--forms--field-focus-border-color: var(--color--legacy--blue--oxford-blue);
  --theme--forms--form-background-color: var(--color--legacy--blue--chambray);
  --theme--forms--header-background-color: transparent;
  --theme--forms--help-text-color: var(--color--legacy--blue--oxford-blue);
  --theme--forms--header-text-color: var(--color--legacy--blue--oxford-blue);
  --theme--forms--label-color: var(--color--grey-2);
  --theme--forms--padding: 18px 16px;
  
  /* Tables */
  
  --theme--tables--body-background-color: var(--color--white);
  --theme--tables--body-text-color: var(--color--legacy--blue--oxford-blue);
  --theme--tables--footer-background-color: var(--color--white);
  --theme--tables--footer-text-color: var(--color--legacy--blue--oxford-blue);
  --theme--tables--header-background-color: var(--color--legacy--blue--oxford-blue);
  --theme--tables--header-text-color: var(--color--white);
  --theme--tables--border-color: var(--color--legacy--blue--oxford-blue);
    
  /* Sections */

  --theme--spacing--border-radius: 15px;
  --theme--spacing--max-width: 1440px;
  --theme--spacing--vertical-spacing: 37px;
  --theme--spacing--overlay-color: var(--color--legacy--black--black--alpha-30);
  --theme--spacing--overlay-color--alpha-33: var(--color--legacy--black--black--alpha-10);
  --theme--spacing--system-color: var(--color--cherry);

  /* Footer */

  --theme--footer--link-color: var(--color--white);
  --theme--footer--text-color: var(--color--white);
}
