node_modules
.build
.env
.DS_Store
.history
.vscode

# for github actions deploy
task_definition.json
private.key

# HubSpot config file
hubspot.config.yml

# Developer temp files
tmp-dev/

# Developer app config for local envs
**/*.local.*

# Files used during blog tag updates
scripts/update-blog-tags/assets/
