.*
*-min.*
*.min.*
modules_to_move

# Root files
/config
/css
/layouts

# Non-linted themes
/themes/Checklist Icon.module
/themes/Chopra
/themes/demo
/themes/Marketplace

# Third Party Files
fontAwesome
jquery-*.js
node_modules
/themes/Integrative Nutrition/js/bootstrap-slider.js
/themes/Integrative Nutrition/js/lazyload.js
/themes/Integrative Nutrition/js/libphonenumber.js
/themes/Integrative Nutrition/js/magnific-popup.js
/themes/Integrative Nutrition/js/slick.js
/themes/Integrative Nutrition/js/ui.js

# TODO: Remove after refactoring
/themes/Integrative Nutrition/js/_plugins.js
/themes/Integrative Nutrition/js/inspirationgallery.js
/themes/Integrative Nutrition/js/main.css
/themes/Integrative Nutrition/js/main.js
