.social-sharing {
  display: -webkit-box;
  display: flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.social-sharing a {
  line-height: var(--line-height--0);
}

.social-sharing__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex !important;
  transition: all 0.3s;
  margin: 0 0.5rem 0 0;
}

.social-sharing__icon svg {
  width: 15px;
  height: 15px;
  fill: var(--color--white);
}

.social-sharing__icon:hover svg,
.social-sharing__icon:focus svg,
.social-sharing__icon:active svg {
  fill: var(--color--white);
}

.social-sharing__text {
  margin-right: 15px;
  font-size: var(--font-size--legacy--3);
}
