.wellbeing-footer-container-wrapper {
  position: relative;
  bottom: 0;
  background: var(--color--white);
  padding: var(--spacing-12);
  width: 100%;
  color: var(--color--slate);
}

.wellbeing-footer-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.wellbeing-iin-logo-footer {
  text-align: left;
}

.wellbeing-footer-wrapper {
  text-align: left;
}

.wellbeing-footer-title {
  font-size: var(--font-size--extra-large-paragraph);
}

@media (max-width: 48em) {
  .wellbeing-footer-content-wrapper {
    flex-direction: column;
  }
}
