.hs-form__actions__submit {
  background: var(--color--cherry);
  border: 0 solid var(--color--white);
  border-radius: 100px;
  color: var(--color--white);
  display: inline-block;
  max-width: 350px;
  padding: 13px 55px;
  text-align: center;
  text-decoration: none;
}