/* Form */
select { -webkit-appearance: none; appearance: none; position: relative; background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZDcyYTI1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+') no-repeat, linear-gradient(--color--legacy--white--white--alpha-100, --color--legacy--white--white--alpha-100) !important; background-position: right 15px top 17px !important; }
/* select { -webkit-appearance: none; appearance: none; position: relative; background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZDcyYTI1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+') no-repeat !important; background-position: right 15px top 17px !important; } */

.dnd-section h3.form-title { padding-bottom: 30px; font-family: var(--theme--global-fonts--secondary-font);color: var(--theme--forms--header-text-color);margin: 0;{% if theme.forms.header_background_color.opacity > 0 %}padding: 7%;{% endif %} }
{% if theme.forms.form_background_color.opacity > 0 %}
.dnd-section .widget-type-form { background: var(--theme--forms--form-background-color);border-radius: var(--theme--spacing--border-radius);overflow: hidden; }
.dnd-section .widget-type-form form { padding: 7%; }
.dnd-section .dnd-column[class*="background-color"] .widget-type-form { box-shadow: 0 0 15px var(--color--legacy--black--black--alpha-15); }
{% endif %}
.dnd-section .hs-form-field {
  margin-bottom: 1rem;
}

/* Labels */

.dnd-section form label {
  color: var(--color--legacy--blue--gulf-blue);
  display: block;
  font-size: var(--font-size--3);
  padding-top: 0;
  margin-bottom: 0;
  text-align: left;
  width: auto;
}

/* Help text - legends */

.dnd-section form legend {
  color: var(--color--legacy--blue--gulf-blue);
  font-size: var(--font-size--3);
}

/* Inputs */

.dnd-section .input {
  position: relative;
}

.dnd-section input[type=text],
.dnd-section input[type=email],
.dnd-section input[type=password],
.dnd-section input[type=tel],
.dnd-section input[type=number],
.dnd-section input[type=file],
.dnd-section select,
.dnd-section textarea {
  color: var(--color--legacy--blue--gulf-blue);
  display: inline-block;
  font-size: var(--font-size--3);
  padding: 0 20px 16px 20px;
  width: 100%;
}
.dnd-section select,
.dnd-section textarea {
  padding: 16px 20px;
}
.filter-form.direction-hori .tp-main {
  border: 1px solid var(--color--legacy--blue--link-water-2);
  border-color: var(--theme--forms--field-border-color);
  color: var(--theme--typography--body-text--color);
  background: var(--color--legacy--white--white-smoke-4);
  font-size: var(--font-size--3);
  padding: 12px 20px;
  border-radius: 3px;
}

.dnd-section form fieldset.form-columns-1 .hs-input { width: 100%; }

.systems-page input[type=text],
.systems-page input[type=email],
.systems-page input[type=password],
.systems-page input[type=tel],
.systems-page input[type=number],
.systems-page input[type=file],
.systems-page select,
.systems-page textarea {
  background-color: var(--color--white);
  border: 1px solid var(--color--legacy--blue--link-water-2);
  border-radius: 3px;
  color: var(--color--legacy--blue--gulf-blue);
  display: inline-block;
  font-size: var(--font-size--3);
  padding: 0.7rem;
  width: 100%;
}

.systems-page .actions { padding-top: 20px; }

.dnd-section input[type=text]:focus,
.dnd-section input[type=email]:focus,
.dnd-section input[type=password]:focus,
.dnd-section input[type=tel]:focus,
.dnd-section input[type=number]:focus,
.dnd-section input[type=file]:focus,
.dnd-section select:focus,
.dnd-section textarea:focus {
  outline-color: var(--color--legacy--blue--cornflower-blue--alpha-80);
}

.dnd-section fieldset {
  max-width: 110% !important;
  margin-right: -8px !important;
}


/* Inputs - checkbox/radio */

form .inputs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inputs-list > li {
  display: block;
  margin: 0.7rem 0;
  padding: 0;
  width: 100%;
}

.inputs-list input,
.inputs-list span {
  font-size: var(--font-size--3);
  vertical-align: middle;
}

.hs-input[type=checkbox],
.hs-input[type=radio] {
  border: none;
  cursor: pointer;
  height: auto;
  line-height: normal;
  margin-right: 0.35rem;
  padding: 0;
  width: auto;
}

/* .hs-fieldtype-intl-phone.hs-input select {
 color: var(--color--white)!important;
} */

@media (max-width: 765px) {
  .form-columns-2 .hs-form-field .hs-input {
    width: 100%!important;
  }
}

/* Inputs - datepicker */

.hs-fieldtype-date .input .hs-dateinput:before {
  color: var(--color--legacy--blue--gulf-blue);
  content:'\01F4C5';
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fn-date-picker .pika-table thead th {
  color: var(--color--white);
}

.fn-date-picker td.is-today .pika-button {
  color: var(--color--legacy--blue--mirage);
}

.fn-date-picker td.is-selected .pika-button {
  background: var(--color--legacy--blue--mirage);
  border-radius: 0;
  box-shadow: none;
}

.fn-date-picker td .pika-button:hover {
  background-color: var(--color--legacy--blue--mirage) !important;
  border-radius: 0 !important;
  color: var(--color--white);
}

/* Inputs - file picker */

input[type=file] {
  background-color: transparent;
  border: initial;
  box-shadow: none;
  line-height: initial;
  padding: initial;
}

/* Headings and text */

form .hs-richtext,
form .hs-richtext p {
  font-size: var(--font-size--2);
  margin: 0 0 1.4rem;
}

form .hs-richtext img {
  max-width: 100% !important;
}

form .header {
  background-color: transparent;
  border: none;
}

/* GDPR */

.legal-consent-container .hs-form-booleancheckbox-display > span,
.legal-consent-container .hs-form-booleancheckbox-display > span p {
  font-size: var(--font-size--2);
  margin-left: 1rem !important;
}

/* Validation */

.hs-form-required {
  color: red;
}

.hs-input.invalid.error {
  border-color: var(--color--legacy--brown--burnt-sienna);
}

.hs-error-msg {
  color: var(--color--legacy--brown--burnt-sienna);
  margin-top: 0.35rem;
}

/* Submit button */

.dnd-section form input[type=submit],
.dnd-section form .hs-button {
  background-color: var(--color--legacy--violet--gun-powder);
  border: 1px solid var(--color--legacy--violet--gun-powder);
  border-radius: 6px;
  color: var(--color--white);
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size--legacy--6);
  font-weight: normal;
  height: auto;
  line-height: var(--line-height--1);
  margin: 0;
  padding: 15px 53px;
  position: relative;
  text-align: center;
{# default "Get Free Widget" form (renders when no form is passed to the form HubL tag) is an anchor (a.hs-button) rather than a real input, so it needs explcit css to avoid link styling #}
  text-decoration: none;
  transition: all 0.15s linear;
  white-space: normal;
  width: auto;
  word-break: break-word;
}


.dnd-section form input[type=submit]:active,
.dnd-section form .hs-button:active {
  background-color: var(--color--legacy--blue--storm-grey);
  border-color: var(--color--legacy--blue--storm-grey);
{# see "no form selected" note above #}
  color: var(--color--white);
}

/* Captcha */

.grecaptcha-badge {
  
}

{###########################################################################}
{##############################   5. Forms   ###############################}
{###########################################################################}

form,
.submitted-message {
  {{ body_font.style }};
}


/* Form label */

.dnd-section form label {
  color: var(--theme--forms--label-color);
}

/* Form help text */

.dnd-section form legend {
  color: var(--theme--forms--help-text-color);
}

/* Form inputs */

#form-module_166872823299214 label span{color: var(--color--white)!important}

.dnd-section input[type=text],
.dnd-section input[type=email],
.dnd-section input[type=password],
.dnd-section input[type=tel],
.dnd-section input[type=number],
.dnd-section input[type=file],
.dnd-section select,
.dnd-section textarea {
  {% if theme.forms.border_style == 'full' %}border: 1px solid var(--theme--forms--field-border-color);{% else %}border: none;{% endif %}
  {% if theme.forms.border_style == 'underline' %}border-bottom: 1px solid var(--theme--forms--field-border-color);{% endif %}
  border-radius: var(--theme--forms--border-radius);
  background: var(--theme--forms--field-background-color);
  padding: var(--theme--forms--padding);
}
.dnd-section select,
.dnd-section textarea {
  border: 1px solid var(--theme--forms--field-border-color);
  color: var(--theme--typography--body-text--color);
  background: var(--theme--forms--field-background-color);
}
.dnd-section input::-webkit-input-placeholder { color: var(--theme--typography--body-text--color); }
.dnd-section input:-ms-input-placeholder { color: var(--theme--typography--body-text--color); }
.dnd-section input::placeholder { color: var(--theme--typography--body-text--color); }

.dnd-section input[type=text]:focus,
.dnd-section input[type=email]:focus,
.dnd-section input[type=password]:focus,
.dnd-section input[type=tel]:focus,
.dnd-section input[type=number]:focus,
.dnd-section input[type=file]:focus,
.dnd-section select:focus,
.dnd-section textarea:focus {
  border-color: var(--theme--forms--field-focus-border-color);
}

/* Form placeholder text */

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::placeholder,
.hs-fieldtype-date .input .hs-dateinput:before {
  color: var(--theme--typography--body-text--color);
}

/* Date picker */

.fn-date-picker td.is-selected .pika-button {
  background: var(--theme--global-colors--primary-color);
}

.fn-date-picker td .pika-button:hover {
  background-color: var(--theme--global-colors--primary-color) !important;
}

.fn-date-picker td.is-today .pika-button {
  color: var(--theme--global-colors--primary-color);
}

/* Submit button */

.dnd-section form input[type=submit],
.dnd-section form .hs-button {
  background-color: var(--theme--buttons--background-color);
  border: var(--theme--buttons--border);
  border-radius: var(--theme--buttons--border-radius);
  color: var(--theme--buttons--text-color);
  padding: var(--theme--buttons--padding);
  display: inline-block;
}

.dnd-section form input[type=submit]:hover,
.dnd-section form input[type=submit]:focus,
.dnd-section form .hs-button:hover,
.dnd-section form .hs-button:focus {
  border: var(--theme--buttons--border);
  color: var(--theme--buttons--text-color);
}

.dnd-section form input[type=submit]:active,
.dnd-section form .hs-button:active {
  background-color: var(--theme--buttons--background-color--lightened);
  border-color: var(--theme--buttons--border-color--lightened);
  color: var(--theme--buttons--text-color);
}

.dnd-section .span6 form input[type=submit], .dnd-section .span6 form .hs-button, .dnd-section .span5 form input[type=submit], .dnd-section .span5 form .hs-button, .dnd-section .span4 form input[type=submit], .dnd-section .span4 form .hs-button, .dnd-section .span3 form input[type=submit], .dnd-section .span3 form .hs-button { width: 100%;padding: 12px; }
.dnd-section .span6 form input[type=submit]:hover, .dnd-section .span6 form .hs-button:hover, .dnd-section .span5 form input[type=submit]:hover, .dnd-section .span5 form .hs-button:hover, .dnd-section .span4 form input[type=submit]:hover, .dnd-section .span4 form .hs-button:hover, .dnd-section .span3 form input[type=submit]:hover, .dnd-section .span3 form .hs-button:hover { box-shadow: 3px 3px 10px var(--color--legacy--black--black--alpha-20){% if theme.buttons.gr_color.color %}, var(--theme--buttons--hover-color) 600px 0 10px -10px inset{% endif %}; }

.color-section, .color-section form label, .color-section h2, .color-section h3, .color-section h4, .color-section h5 { color: var(--color--white); }
.color-section div[class*="background-color"], .color-section div[class*="background-color"] form label, .color-section div[class*="background-color"] h2, .color-section div[class*="background-color"] h3, .color-section div[class*="background-color"] h4, .color-section div[class*="background-color"] h5 { color: var(--theme--typography--body-text--color); }
.color-section form input[type=text], .color-section form input[type=email], .color-section form input[type=password], .color-section form input[type=tel], .color-section form input[type=number], .color-section form input[type=file], .color-section form select, .color-section form textarea { border-color: var(--color--white); }
.color-section div[class*="background-color"] form input[type=text], .color-section div[class*="background-color"] form input[type=email], .color-section div[class*="background-color"] form input[type=password], .color-section div[class*="background-color"] form input[type=tel], .color-section div[class*="background-color"] form input[type=number], .color-section div[class*="background-color"] form input[type=file], .color-section div[class*="background-color"] form select, .color-section div[class*="background-color"] form textarea  { border-color: var(--theme--forms--field-border-color); }
.color-section form input[type=submit], .color-section form .hs-button {
  text-align: center;
  max-width: 250px;
  text-decoration: none;
  background: var(--theme--buttons--light-button--background-color);
  border: var(--theme--buttons--light-button--border);
  border-radius: var(--theme--buttons--light-button--border-radius);
  color: var(--theme--buttons--light-button--text-color);
  font-family: var(--theme--global-fonts--secondary-font);
  box-shadow: {% if theme.buttons.light_buttons.gr_color.color %}var(--theme--buttons--light-button--hover-color--lightened) 0 0 10px -10px inset{% endif %};
}
.color-section div[class*="background-color"] form input[type=submit], .color-section div[class*="background-color"] form .hs-button {
  text-align: center;
  max-width: 250px;
  text-decoration: none;
  background: var(--theme--buttons--background-color);
  border: var(--theme--buttons--border);
  border-radius: var(--theme--buttons--border-radius);
  color: var(--theme--buttons--text-color);
  font-family: var(--theme--global-fonts--secondary-font);
  box-shadow: {% if theme.buttons.gr_color.color %}var(--theme--buttons--hover-color) 0 0 10px -10px inset{% endif %};
  text-shadow: none;
}
html .color-section form input[type=submit]:hover,
html .color-section form input[type=submit]:focus,
html .color-section form .hs-button:hover,
html .color-section form .hs-button:focus { color: var(--theme--buttons--light-button--hover-text-color) !important;box-shadow: {% if theme.buttons.light_buttons.gr_color.color %}var(--theme--buttons--light-button--hover-color--lightened) 300px 0 10px -10px inset{% endif %} !important; }
html .color-section div[class*="background-color"] form input[type=submit]:hover,
html .color-section div[class*="background-color"] form input[type=submit]:focus,
html .color-section div[class*="background-color"] form .hs-button:hover,
html .color-section div[class*="background-color"] form .hs-button:focus { color: var(--theme--buttons--hover-text-color) !important;box-shadow: {% if theme.buttons.gr_color.color %}var(--theme--buttons--hover-color) 300px 0 10px -10px inset{% endif %} !important; }
html .color-section select { background: var(--color--white); }
html .color-section input::placeholder { color: var(--color--white); }
html .color-section input::-ms-input-placeholder { color: var(--color--white); }
html .color-section input:-ms-input-placeholder{ color: var(--color--white); }
html .color-section div[class*="background-color"] input::placeholder { color: var(--theme--typography--body-text--color); }
html .color-section div[class*="background-color"] input::-ms-input-placeholder { color: var(--theme--typography--body-text--color); }
html .color-section div[class*="background-color"] input:-ms-input-placeholder{ color: var(--theme--typography--body-text--color); }

.hs-form__legal-consent * {
  line-height: var(--line-height--legacy--3);
  font-size: var(--font-size--legacy--2);
}
/* @media (max-width: 765px) {
  .hs-fieldtype-intl-phone.hs-input select {
      width: 100%!important;
   }
   .hs-fieldtype-intl-phone.hs-input input {
     width: 100%!important;
     margin-top: 15px !important;
  }
} */