/* Table */

table {
  border: 1px solid var(--color--legacy--grey--zircon-2);
  margin-bottom: 1.4rem;
}

tbody + tbody {
  border-top: 2px solid var(--color--legacy--grey--zircon-2);
}

/* Table Cells */

th,
td {
  border: 1px solid var(--color--legacy--grey--zircon-2);
  padding: 0.75rem;
  vertical-align: top;
}

/* Table Header */

thead th,
thead td {
  background-color: var(--color--legacy--blue--mirage);
  border-bottom: 2px solid var(--color--legacy--grey--zircon-2);
  color: var(--color--white);
  vertical-align: bottom;
}
