.variant__option-item .variant__title span {
  color: #4F4F4F;
  font-weight: 700;
}
.variant__option-item {
  padding-bottom: 20px;
  display: inline-block;
  margin-right: 60px;
}
.variant__option, .date__variant__option {
  margin: 20px 0;
}
.variant__option input:checked {
  accent-color: #D72A25;
}
.date__variant__option input {
  display: none;
}
.variant__option label {
  margin-right: 15px;
  margin-left: 10px;
  font-size: 16px;
  color: #2D3841;
  font-weight: 700;
  cursor: pointer;
}
.date__variant__option label {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  color: #2D3841;
  border: 1px solid #E7E7E7;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #E7E7E7;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
.date__variant__option input:checked+label {
  background-color: #2D3841;
  color: #fff;
  border: 1px solid #2D3841;
}