.large-quote-slider .slick-arrow {
  top: 85px !important;
  z-index: 2;
  background: none !important;
  padding: 0 !important;
  color: var(--color--water) !important;
}

.large-quote-slider .slick-arrow:hover,
.large-quote-slider .slick-arrow:focus {
  color: var(--color--water) !important;
}

.large-quote-slider .slick-dots button {
  background: var(--color--grey-4);
  width: 8px;
  height: 8px;
}

.large-quote-slider .slick-dots .slick-active button {
  background: var(--color--slate);
}

.large-quote-slide {
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.large-quote-img {
  margin: 0 50px 0 0;
  border-radius: 50%;
  background-position: center !important;
  background-size: cover !important;
  width: 220px;
  min-width: 220px;
  height: 220px;
  min-height: 220px;
}

.large-quote-quote > div:nth-child(2) {
  margin-top: 10px;
  font-size: var(--font-size--6);
  font-style: italic;
}

.large-quote-quote > div:nth-child(3) {
  margin-top: 15px;
  font-size: var(--font-size--3);
  font-weight: bold;
}

.large-quote-quote > div:nth-child(4) {
  font-size: var(--font-size--3);
  font-style: italic;
}

@media (max-width: 991px) {
  .large-quote-slide {
    display: block;
  }

  .large-quote-img {
    margin: 0 auto;
  }
}
