.large-quote-slider .slick-arrow {
  background: none !important;
  padding: 0 !important;
  color: #003d4b !important;
  z-index: 2;
  top: 85px !important;
}

.large-quote-slider .slick-arrow:hover,
.large-quote-slider .slick-arrow:focus {
  color: #003d4b !important;
}

.large-quote-slider .slick-dots button {
  width: 8px;
  height: 8px;
  background: #bdbdbd;
}

.large-quote-slider .slick-dots .slick-active button {
  background: #142023;
}

.large-quote-slide {
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.large-quote-img {
  border-radius: 50%;
  margin: 0 50px 0 0;
  width: 220px;
  min-width: 220px;
  height: 220px;
  min-height: 220px;
  background-position: center !important;
  background-size: cover !important;
}

.large-quote-quote > div:nth-child(2) {
  font-style: italic;
  margin-top: 10px;
  font-size: 24px;
}

.large-quote-quote > div:nth-child(3) {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
}

.large-quote-quote > div:nth-child(4) {
  font-style: italic;
  font-size: 16px;
}

@media (width <= 991px) {
  .large-quote-slide {
    display: block;
  }
  
  .large-quote-img {
    margin: 0 auto;
  }
}
