.arrow-cards { display: flex; }
.arrow-card { width: 26%; }
.arrow-card-sep { width: 9%; margin: 0 1%; display: flex; align-items: center; }
.arrow-card-sep svg { width: 100%; }
.arrow-card-img { border-radius: 8px; background-position: center !important; background-size: cover !important; display: flex; justify-content: center; align-items: flex-end; }
.arrow-card-img > div { font-size: 26px; font-weight: bold; width: 45px; height: 45px; background: white; border-radius: 50%; margin-bottom: -12px; display: flex; align-items: center; justify-content: center; }
.arrow-card-text { margin-top: 25px; text-align: center; }
.arrow-card-title { margin-bottom: 10px; font-size: 24px; }

@media(max-width: 1024px) {
  .arrow-cards { display: block; }
  .arrow-card { max-width: 600px; width: 100%; margin: 0 auto 50px; }
  .arrow-card:last-child { margin-bottom: 0; }
  .arrow-card-sep { display: none; }
}