<div style="display: flex; flex-wrap: wrap; position: relative; justify-content: {{ module.alignment }};">
{% for item in module.buttons %}
  {% set button_opts = {
    "primary" : item.button_style == 'primary',
    "secondary" : item.button_style == 'secondary',
    "hero" : item.button_style == 'hero',
    "tertiary" : item.button_style == 'tertiary',
    "link" : item.button_style == 'link',
  } %}
  {% if item.jump_link %}
    <span id="{{ name }}_btn_{{ loop.index }}" data-target="#{{ item.jump_link }}" class="jump-button jd-request-btn hs-button{% if button_opts.primary %} light-button{% elif button_opts.secondary %} jd-request-btn-inverse{% elif button_opts.hero %} jd-trans-btn{% elif button_opts.tertiary %} jd-request-btn-tertiary{% elif button_opts.link %} jd-request-btn-link{% endif %} jd-arrow-link" 
    data-track-label="{{ item.dl_label }}">
      {{ item.text_field }}
    </span>
  {% else %}
    {% set href = item.link_field.url.href %}
    {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}
    <a id="{{ name }}_btn_{{ loop.index }}" href="{{ href }}" class="jump-button jd-request-btn hs-button{% if button_opts.primary %} light-button{% elif button_opts.secondary %} jd-request-btn-inverse{% elif button_opts.hero %} jd-trans-btn{% elif button_opts.tertiary %} jd-request-btn-tertiary{% elif button_opts.link %} jd-request-btn-link{% endif %} jd-arrow-link" 
    data-track-label="{{ item.dl_label }}"
       {% if item.link_field.open_in_new_tab %}target="_blank"{% endif %}
       {% if item.link_field.rel %}rel="{{ item.link_field.rel }}"{% endif %}
      > 
      {{ item.text_field }}
    </a>
  {% endif %}
{% endfor %}
</div>

{% require_css %}
<style>
  {% scope_css %}
  svg { 
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    width: 20px; 
    height: 20px;
  }

  .jd-request-btn { 
    margin-right: 10px; 
    width: auto; 
    {{ module.style.spacing_field.css }} 
  }

  .jd-subitems a {
    color: var(--color--black);
  }
  {% end_scope_css %} 
</style>
{% end_require_css %}