<div style="display: flex; flex-wrap: wrap; position: relative; justify-content: {{ module.alignment }};">
{% for item in module.buttons %}
  {% set classes = 'jump-button jd-request-btn hs-button jd-arrow-link' %}
  {% set button_opts = '' %}
  {% if item.button_style == 'primary' %}
    {% set button_opts = ' light-button' %}
  {% elif item.button_style == 'secondary' %}
    {% set button_opts = ' jd-request-btn-inverse' %}
  {% elif item.button_style == 'hero' %}
    {% set button_opts = ' jd-trans-btn' %}
  {% elif item.button_style == 'tertiary' %}
    {% set button_opts = ' jd-request-btn-tertiary' %}
  {% elif item.button_style == 'link' %}
    {% set button_opts = ' jd-request-btn-link' %}
  {% endif %}
  {% if button_opts %}
    {% set classes = classes ~ button_opts %}
  {% endif %}
  {% if item.jump_link %}
    <span 
      id="{{ name }}_btn_{{ loop.index }}" 
      data-target="#{{ item.jump_link }}" 
      class="{{ classes }}"
      data-tracking-id="{{ item.dl_label }}"
    >
      {{ item.text_field }}
      {% if item.show_arrow %}
        <i class="fa-regular fa-circle-arrow-right" style="padding-left: 10px;"></i>
      {% endif %}
    </span>
  {% else %}
    {% set href = item.link_field.url.href %}
    {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}
    <a 
      id="{{ name }}_btn_{{ loop.index }}" 
      href="{{ href }}" 
      class="{{ classes }}"  
      data-tracking-id="{{ item.dl_label }}"
      {% if item.link_field.open_in_new_tab %}target="_blank"{% endif %}
      {% if item.link_field.rel %}rel="{{ item.link_field.rel }}"{% endif %}
    > 
      {{ item.text_field }}
      {% if item.show_arrow %}
        <i class="fa-regular fa-circle-arrow-right" style="padding-left: 10px;"></i>
      {% endif %}
    </a>
  {% endif %}
{% endfor %}
</div>

{% require_css %}
<style>
  {% scope_css %}
  svg { 
    display: inline-block;
    margin-left: 6px;
    width: 20px; 
    height: 20px;
    vertical-align: middle;
  }

  .jd-arrow-link::after {
    display: none;
  }

  .jd-request-btn { 
    margin-right: 10px; 
    {{ module.style.spacing_field.css }} 
    width: auto; 
  }

  .jd-subitems a {
    color: var(--color--black);
  }
{% end_scope_css %} 
</style>
{% end_require_css %}
