<!--
 templateType: section
 label: CTA - Green
 description: "A green CTA section"
 isAvailableForNewContent: true
 screenshotPath: ../../images/IIN_cta_green.png
-->
{# Hero section #}
{% dnd_section
      max_width='{{theme.spacing.max_width}}'
    %}
  {% dnd_column
    offset=0,
    width=12
  %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=12,
        background_color="rgba(210, 221, 204, 1)",
        padding={
          "default" : {
            "bottom" : "50px",
            "left" : "50px",
            "right" : "50px",
            "top" : "50px"
          },
          "mobile" : {
            "bottom" : "30px",
            "left" : "30px",
            "right" : "30px",
            "top" : "30px"
          }
        }
      %}
        {% dnd_row
          padding={
            "default" : {
              "bottom" : "50px"
            },
            "mobile" : {
              "bottom" : "30px"
            }
          }
        %}
          {% dnd_column
            offset=0,
            width=12
          %}
            {% dnd_row %}
              {% dnd_module
                path="@hubspot/rich_text",
                offset=0,
                width=12
              %}
                {% module_attribute "html" %}
                  <h2>Become a Health Coach in as little as six months</h2>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_column
            offset=0,
            width=6,
            padding={
              "default" : {
                "right" : "12%"
              },
              "mobile" : {
                "right" : "0px"
              }
            }
          %}
            {% dnd_row
              padding={
                "default" : {
                  "bottom" : "10px",
                  "top" : "10px"
                }
              }
            %}
              {% dnd_column
                offset=0,
                width=2,
                padding={
                  "default" : {
                    "right" : "10px"
                  },
                  "mobile" : {
                    "left" : "40%",
                    "right" : "40%"
                  }
                }
              %}
                {% dnd_row %}
                  {% dnd_module
                    path="/Integrative Nutrition/modules/SVG Icon",
                    offset=0,
                    width=12,
                    icon=10
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module
                    path="@hubspot/horizontal_spacer",
                    offset=0,
                    width=12
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}
              {% dnd_column
                offset=2,
                width=10
              %}
                {% dnd_row %}
                  {% dnd_module
                    path="@hubspot/rich_text",
                    offset=0,
                    width=12
                  %}
                    {% module_attribute "html" %}
                      <p><span>Reclaim your power to transform your health and your career by integrating science and spirit.</span></p>
                    {% end_module_attribute %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module
                    path="@hubspot/horizontal_spacer",
                    offset=0,
                    width=12
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}
            {% end_dnd_row %}
            {% dnd_row
              padding={
                "default" : {
                  "bottom" : "10px",
                  "top" : "10px"
                }
              }
            %}
              {% dnd_column
                offset=0,
                width=2,
                padding={
                  "default" : {
                    "right" : "10px"
                  },
                  "mobile" : {
                    "left" : "40%",
                    "right" : "40%"
                  }
                }
              %}
                {% dnd_row %}
                  {% dnd_module
                    path="/Integrative Nutrition/modules/SVG Icon",
                    offset=0,
                    width=12,
                    icon=21
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module
                    path="@hubspot/horizontal_spacer",
                    offset=0,
                    width=12
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}
              {% dnd_column
                offset=2,
                width=10
              %}
                {% dnd_row %}
                  {% dnd_module
                    path="@hubspot/rich_text",
                    offset=0,
                    width=12
                  %}
                    {% module_attribute "html" %}
                      <p><span>Get lifetime access to our comprehensive program that’s evolved with new content, new teachers, and a brand-new app.</span></p>
                    {% end_module_attribute %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module
                    path="@hubspot/horizontal_spacer",
                    offset=0,
                    width=12
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}
            {% end_dnd_row %}
            {% dnd_row
              padding={
                "default" : {
                  "bottom" : "10px",
                  "top" : "10px"
                }
              }
            %}
              {% dnd_column
                offset=0,
                width=2,
                padding={
                  "default" : {
                    "right" : "10px"
                  },
                  "mobile" : {
                    "left" : "40%",
                    "right" : "40%"
                  }
                }
              %}
                {% dnd_row %}
                  {% dnd_module
                    path="/Integrative Nutrition/modules/SVG Icon",
                    offset=0,
                    width=12,
                    icon=14
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module
                    path="@hubspot/horizontal_spacer",
                    offset=0,
                    width=12
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}
              {% dnd_column
                offset=2,
                width=10
              %}
                {% dnd_row %}
                  {% dnd_module
                    path="@hubspot/rich_text",
                    offset=0,
                    width=12
                  %}
                    {% module_attribute "html" %}
                      <p><span>Earn your certificate and credibility as a Health Coach with the world’s most respected and recognized wellness education.</span></p>
                    {% end_module_attribute %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module
                    path="@hubspot/horizontal_spacer",
                    offset=0,
                    width=12
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}
            {% end_dnd_row %}
            {% dnd_row
              padding={
                "default" : {
                  "bottom" : "10px",
                  "top" : "10px"
                }
              }
            %}
              {% dnd_column
                offset=0,
                width=2,
                padding={
                  "default" : {
                    "right" : "10px"
                  },
                  "mobile" : {
                    "left" : "40%",
                    "right" : "40%"
                  }
                }
              %}
                {% dnd_row %}
                  {% dnd_module
                    path="/Integrative Nutrition/modules/SVG Icon",
                    offset=0,
                    width=12,
                    icon=12
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module
                    path="@hubspot/horizontal_spacer",
                    offset=0,
                    width=12
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}
              {% dnd_column
                offset=2,
                width=10
              %}
                {% dnd_row %}
                  {% dnd_module
                    path="@hubspot/rich_text",
                    offset=0,
                    width=12
                  %}
                    {% module_attribute "html" %}
                      <p><span>Join the largest global community of Health Coaches, over 155,000 students and graduates in 175 countries, with opportunities to connect in-person and virtually.</span></p>
                    {% end_module_attribute %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                  {% dnd_module
                    path="@hubspot/horizontal_spacer",
                    offset=0,
                    width=12
                  %}
                  {% end_dnd_module %}
                {% end_dnd_row %}
              {% end_dnd_column %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=6,
            width=6,
            background_color="rgba(248, 245, 240, 1)",
            padding={
              "default" : {
                "bottom" : "30px",
                "top" : "30px"
              }
            }
          %}
            {% dnd_row %}
              {% dnd_module
                path="@hubspot/rich_text",
                offset=0,
                width=12
              %}
                {% module_attribute "html" %}
                  <h4 style="text-align: center;">Save Over 35%<br><span style="text-decoration: line-through;"><strong>$6,995</strong></span></h4>
                  <p style="text-align: center;">Limited Time Online Price</p>
                  <p style="text-align: center; font-size: 60px; line-height: 1.15;"><span style="color: #ed8a72;"><strong>$4,395</strong></span></p>
                  <p style="text-align: center;"><strong>No Interest Payment Plans Starting at<br>$199/Month Available Now</strong></p>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path="/Integrative Nutrition/modules/Button",
                offset=0,
                width=12,
                style={
                  "alignment_field" : {
                    "horizontal_align" : "CENTER",
                    "vertical_align" : "MIDDLE"
                  },
                  "button_style" : "light"
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
{# End Hero section #}