.popular-blog__container {
  width: 100%;
}

.popular-blog__section {
  display: block;
  border-bottom: 1px solid var(--color--grey-4);
  padding: var(--spacing-8) 0;
}

.popular-blog__header {
  font-size: var(--font-size--paragraph);
}

.popular-blog__category {
  color: var(--color--water);
  font-weight: var(--font-weight--bold);
}

.popular-blog__heading {
  font: var(--font--big-number);
  font-size: var(--font-size--20);
}

.popular-blog__byline {
  color: var(--color--slate);
  font-size: var(--font-size--legacy--2);
}
