<div class="full-step-alt-nav">
  <div class="container">
    {% if module.header_image.src %}
      {% set sizeAttrs = 'width="{{ module.header_image.width }}" height="{{ module.header_image.height }}"' %}
      {% if module.header_image.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.header_image.width }}" height="{{ module.header_image.height }}" style="max-width: 100%; height: auto;"' %}
      {% elif module.header_image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.header_image.max_width }}" height="{{ module.header_image.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
      {% set loadingAttr = module.header_image.loading != 'disabled' ? 'loading="{{ module.header_image.loading }}"' : '' %}
      <img src="{{ module.header_image.src }}" alt="{{ module.header_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
    {% endif %}
  </div>
</div>

<div class="full-step-form-wrap" style="background:url('{{module.background_image[0].src}}'); min-height:{{ module.min_height }}">
  <div class="full-step-pop" style="display: none">
    <div class="full-step-pop-content">{{ module.pop_message }}</div>
  </div>
  <div class="container">
    <div class="full-step-form-start">
      <div>{{ module.starting_text }}</div>
      <div class="full-step-buttons">
        <div class="full-step-start hs-button jd-request-btn jd-request-btn-inverse" data-tracking-id="{{ module.dl_label }}">Get Started</div>
      </div>
    </div>
    <div class="full-step-form-outer" style="display: none;">
      <div class="full-step-form-slide-count"></div>
      <div class="full-step-form"></div>
      <div class="full-step-buttons">
        <div class="full-step-skip hs-button jd-request-btn jd-request-btn-inverse">Skip</div>
        <div class="full-step-next hs-button jd-request-btn jd-request-btn-inverse">Next</div>
      </div>
    </div>
  </div>
</div>

<script charset="utf-8" src="//js.hsforms.net/forms/embed/v2.js"></script>

<script>
  $('.deal-bar').hide();
  $('.static-body').addClass('remove-top-padding');

  // Ideally this using IIN.config.portalID instead of hub_id,
  // but due to script load order that is difficult.
  // This inline tag loads before the app-config in main.js
  hbspt.forms.create({
    region: 'na1',
    portalId: '{{ hub_id }}',
    formId: '{{ module.form_field.form_id }}',
    target: '.full-step-form',
    onFormReady: function () {
      const bgImages = [];

      {% for item in module.background_image %}
        bgImages.push('{{ item.src }}');
      {% endfor %}

      const stepCount = $('.full-step-form fieldset').length;

      $('.full-step-form-slide-count').text('1/' + stepCount);
      $('.full-step-form fieldset').first().addClass('full-step-active');

      let hasNextStep = true;
      let hasStarted = false;
      let isPopping = false;
      
      function trackFormFallout() {
        const $currentStep = $('.full-step-form fieldset.full-step-active');
        const formName = $('input[name="leadsource"]').attr('value');
        const formFieldName = [];
        $currentStep.find('input[id]').each(function() {
          const inputType = $(this).attr('type');
          const fieldName = $(this).attr('id');
          if (inputType === 'checkbox' || inputType === 'radio') {
            if ($(this).prop('checked')) {
              formFieldName.push($(this).attr('value'));
            }
          } else {
              formFieldName.push(fieldName.split('-')[0]);
          }
        });
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          'event':'form_fallout',
          'form_name':formName,
          'form_field_name':formFieldName.length===1?formFieldName[0]:formFieldName
        });
        console.log('Form fallout triggered:',formFieldName);
      }
    
      function nextStep(skip) {
        if (isPopping) {
          return;
        }

        const $currentStep = $('.full-step-form fieldset.full-step-active');

        if (skip) {
          $currentStep.find('input').each(function () {
            $(this).val('').change();
            $(this).prop('checked', false);
          });
        }

        let missingRequired = false;

        $currentStep.find('input[required]').each(function () {
          if (!$(this).val()) {
            missingRequired = true;
          }
        });

        if (missingRequired) {
          console.log('missing required');
          return;
        }

        if ($currentStep.find('.invalid').length > 0) {
          console.log('error');
          return;
        }
        
        const nextIndex = $currentStep.next().index();

        if (nextIndex + 1 === {{ module.step_to_show_pop }}) {
          isPopping = true;

          try {
            const name = $('.full-step-form input[name=firstname]').val().trim();

            $('.full-step-pop-content').html($('.full-step-pop-content').html().replace(/FIRST_NAME/g, name))
          } catch(e) {
            console.log(e);
          }
           
          $('.full-step-pop').show();
          $('.full-step-alt-nav').show();
          $('#jd-mobile-menu').hide();
          $('.jd-header-wrap').hide();

          setTimeout(function () {
            $('.full-step-pop').hide();
            $('.full-step-form-outer').hide();

            $('.full-step-form-outer').slideDown({
              duration: 400,
              easing: 'linear'
            });

            isPopping = false;
          }, {{ module.pop_message_duration_ms }});
        }     
  
        trackFormFallout();      
  
        let bgImage = bgImages[nextIndex + 1];

        if (!bgImage) {
          bgImage = bgImages[bgImages.length - 1];
        }

        $('.full-step-form-wrap').css('background', 'url("' + bgImage + '")');
        $('.full-step-form-outer').hide();
        $currentStep.removeClass('full-step-active');
        $currentStep.next().addClass('full-step-active');

        if (!isPopping) {
          $('.full-step-form-outer').slideDown({
            duration: 400,
            easing: 'linear'
          });
        } else {
          $('.full-step-form-outer').show();
        }

        $('.full-step-form-slide-count').text(nextIndex + 1 + '/' + $('.full-step-form fieldset').length);

        if (!$currentStep.next().next().is('fieldset')) {
          hasNextStep = false;
          $('.full-step-buttons').hide();
          $('.full-step-form .hs-submit').show();
        }
      }

      $('.full-step-buttons .full-step-next').click(function () {
        nextStep(false)
      });

      $('.full-step-buttons .full-step-skip').click(function () {
        nextStep(true)
      });

      $(document).keypress(function (e) {
        const key = e.which;

        if (key === 13 && hasNextStep && hasStarted) {
          e.preventDefault();
          nextStep();
        }
      });

      $('.full-step-start').click(function () {
        
        let bgImage = bgImages[1];

        if (!bgImage) {
          bgImage = bgImages[bgImages.length - 1];
        }

        $('.full-step-form-wrap').css('background', 'url("' + bgImage + '")');
        $('.full-step-form-start').hide();

        $('.full-step-form-outer').slideDown({
          duration: 400,
          easing: 'linear'
        });

        hasStarted = true;
      });
    },
    onFormSubmitted: function () {
    console.log('submitted HUBSPOT CALL');
     function clearAllCookies() {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i];
          const eqPos = cookie.indexOf("=");
          const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
          document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/";
      }
      console.log("Cookies cleared");
     }

      setTimeout(function () {      
        clearAllCookies();
        window.location.href = '{{ module.redirect_url }}';
        console.log('submitted');
      }, 3000);
    }
  });
</script>
