.footer-container-wrapper {
  background: var(--color--water);
  padding: var(--spacing-12);
  color: var(--color--white);
}

.footer-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.iin-logo-footer {
  text-align: left;
}

.footer-title-wrapper {
  text-align: left;
}

.footer-title {
  font-size: var(--font-size--extra-large-paragraph);
}

@media (max-width: 48em) {
  .footer-content-wrapper {
    flex-direction: column;
  }

  .footer-title {
    font-size: var(--font-size--3);
    padding: var(--spacing-4) 0;
  }
}