{% from "../../macros/get-reading-time.html" import get_reading_time %}
{% from '../../macros/get-tag-link.html' import add_menu_to_dict %}

{% set tag_menu = menu(module.tag_menu) if module.tag_menu %}
{% set tag_dict = {} %}
{{ add_menu_to_dict(tag_menu, tag_dict) }}

{% macro render_blog_posts(posts) %}
  <div class="blog-popular-posts__row">
    {% for post in posts %}
      {% set author = post.blog_author.name %}
      {% set is_read_time_words = get_reading_time(content.post_body)|trim  %}
      {% set tag_name = post.topic_list[0].name %}
      {% set tag_link = tag_dict[tag_name] %}
      <div class="blog-popular-posts__section">
        <a href="{{ tag_link }}" class="blog-popular-posts__category link">{{ tag_name }}</a>
        <h3 class="blog-popular-posts__heading">
          <a href="{{ post.url }}" class="link slate">{{ post.name }}</a>
        </h3>
        {% if author %}
          <p class="blog-popular-posts__byline">By {{ author }} | {{ is_read_time_words }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro render_popular_blog_posts_by_tag(tag) %}
  {% set time_frame = module.time_frame %}
  {% set popular_posts = blog_popular_posts("default", 3, [tag], time_frame, "AND") %}
  {{ render_blog_posts(popular_posts) }}
{% endmacro %}

<div class="blog-popular-posts">
  <div class="blog-popular-posts__container">
    {% if module.section_title %}
      <h2 class="blog-popular-posts__header">{{ module.section_title }}</h2>
    {% endif %}
    <div class="blog-popular-posts__posts">
      {{ render_popular_blog_posts_by_tag(module.pop_tag_field) }}
    </div>
  </div>
</div>
