{% macro render_blog_posts(posts) %}
  <div class="blog-popular-posts__row">
    {% for post in posts %}
      {% set author = post.blog_author.name %}
      {% set initial_post_words = post.post_body|striptags|wordcount %}
      {% set read_time_post_words = (initial_post_words / 200)|round(0, 'ceil') %}
      {% set is_read_time_words = read_time_post_words <=1 ? 'read time: less than 1 min' : 'read time: {{ read_time_post_words }} mins'  %}
      <a href="{{ post.url }}" class="blog-popular-posts__section">
        <span class="blog-popular-posts__category">{{ post.topic_list[0].name }}</span>
        <h4 class="blog-popular-posts__heading">{{ post.name }}</h4>
        {% if author %}
          <p class="blog-popular-posts__byline">By {{ author }} | {{ is_read_time_words }}</p>
        {% endif %}
      </a>
    {% endfor %}
  </div>
{% endmacro %}

{% macro render_popular_blog_posts_by_tag(tag) %}
  {% set time_frame = module.time_frame %}
  {% set popular_posts = blog_popular_posts("default", 3, [tag], time_frame, "AND") %}
  {{ render_blog_posts(popular_posts) }}
{% endmacro %}

<div class="blog-popular-posts">
  <div class="blog-popular-posts__container">
    {% if module.section_title %}
      <h4 class="blog-popular-posts__header">{{ module.section_title }}</h4>
    {% endif %}
    <div class="blog-popular-posts__posts">
      {{ render_popular_blog_posts_by_tag(module.pop_tag_field) }}
    </div>
  </div>
</div>
