.blog-popular-posts__container {
  width: 100%;
}

.blog-popular-posts__section {
  border-bottom: 1px solid var(--color--grey-4);
  padding: var(--spacing-8) 0;
}

.blog-popular-posts__header {
  font: var(--font--paragraph);
}

@media screen and (max-width: 767px) {
  .blog-popular-posts__header {
    font: var(--font--large-paragraph--mobile);
  }
}

.blog-popular-posts__category {
  font: var(--font--paragraph--bold);
}

@media screen and (max-width: 767px) {
  .blog-popular-posts__category {
    font: var(--font--testimonial-name--mobile);
  }
}

.blog-popular-posts__heading {
  font: var(--font--h6--desktop);
}

@media screen and (max-width: 767px) {
  .blog-popular-posts__heading {
    font: var(--font--h4--mobile);
  }
}

.blog-popular-posts__byline {
  color: var(--color--slate);
  font: var(--font--legal);
}
