.table-of-contents-container {
  padding: var(--spacing-16);
}

.table-of-contents {
  flex-shrink: 0;
  margin: unset;
  color: var(--color--slate);
  font: 600 var(--font-size--24) / var(--line-height--legacy--10)
    var(--font-family--body);
}

/* override global styles */
.table-of-contents a {
  /* remove default transition to prevent mismatch with underline */
  transition: unset;
  color: var(--color--slate);
}

.table-of-contents a:visited {
  color: var(--color--legacy--blue--persian-blue);
}

.table-of-contents a:hover {
  color: var(--color--legacy--blue);
}

.table-of-contents a:focus {
  color: var(--color--legacy--blue);
}

.table-of-contents a:active {
  color: var(--color--legacy--blue);
}

.table-of-contents-centered {
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .table-of-contents-container {
    padding: var(--spacing-24) var(--spacing-5);
  }

  .table-of-contents {
    font: 600 var(--font-size--18) / var(--line-height--legacy--11)
      var(--font-family--body);
  }
}
