<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8">
    <title>{{ page_meta.html_title }}</title>

    {% if site_settings.favicon_src %}
      <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
    {% endif %}

    <meta name="description" content="{{ page_meta.meta_description }}">

    {{ require_css(get_asset_url('../../css/main.css')) }}
    {{ require_css(get_asset_url('../../css/slick.css')) }}
    {{ require_css(get_public_template_url("../../fontAwesome/css/all.css")) }}
    {{ require_css(get_asset_url('../../css/theme-overrides.css')) }}
    {{ require_css(get_asset_url('../../css/ui.css')) }}

    <script src="{{ get_asset_url('../../js/jquery-3.5.1.js') }}"></script>
    {{ require_js(get_asset_url('../../js/ui.js')) }}
    {{ require_js(get_asset_url('../../js/lazyload.js')) }}
    {{ require_js(get_asset_url('../../js/slick.js')) }}
    {{ require_js(get_asset_url('../../js/main.js')) }}
    {{ require_js(get_asset_url("../../child.js")) }}

    {{ standard_header_includes }}

    {% include "../partials/site-header.html" %}

    {{ require_css(get_public_template_url("../../child.css")) }}

    <!-- Needle Embed Code -->
    {% module "module_170301398209032" path="/Integrative Nutrition/modules/Enable Needle", label="Enable Needle" %}

    <!-- Weglot Init -->
    <link rel="alternate" hreflang="en" href="https://info.integrativenutrition.com">
    <link rel="alternate" hreflang="es" href="https://es.info.integrativenutrition.com">
    <script src="https://cdn.weglot.com/weglot.min.js"></script>
    <script>
      Weglot.initialize({
        api_key: 'wg_ad881f10ce5b7dafa5d165448d1a6c336'
     });
    </script>

    <link rel="shortcut icon" href="{{ get_asset_url('/Chopra/Images/Chopra favicon-32x32.png') }}">
  </head>
  <body class="page-{{ content.slug }}">
    <div class="body-wrapper {{ builtin_body_classes }}">
      {% set global_color = theme.global_colors.primary_color.color|convert_rgb|split(',') %}
      {% set global_color2 = theme.global_colors.secondary_color.color|convert_rgb|split(',') %}
      {% block header %}
      {% module "language_switcher" path="@hubspot/language_switcher" %}
      {#
      {% module "theme_header" path="../../modules/Header", label="Header" %}
      #}
      {% module "module_16994793896223" path="/Integrative Nutrition/modules/Header", label="Header" %}
      {% endblock header %}
      <div class="static-body responsive">
        {% block body %}
        {% endblock body %}
      </div>
      {% global_partial path='../partials/pop_ups.html' %}
      {% block footer %}
        {% module "module_170568113305719" path="/Integrative Nutrition/modules/Bottom Cta", label="Bottom Cta" %}
        {% global_partial path='../partials/flex_footer.html' %}
      {% endblock footer %}
    </div>
    {{ standard_footer_includes }}
  </body>
</html>
