<!--
  templateType: email_backup_unsubscribe_page
  isAvailableForNewContent: true
  label: email backup unsubscribe
  screenshotPath: ../../images/template-previews/system-pv.png
-->
{% extends '../layouts/base.html' %}
{% block header %}
<div class="static-header">
  {% module "theme_header" path="../../modules/Header", label="Header" %}
</div>
{% endblock header %}
{% block body %}
<div class="system-header"></div>
<main class="body-container-wrapper">
  <section class="content-wrapper dnd-section">
    <div class="systems-page">
      {% module 'backup_unsubscribe'
        extra_classes='backup-unsubscribe',
        path='@hubspot/email_simple_subscription'
      %}
    </div>
  </section>
</main>
{% endblock body %}