<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: password prompt
  screenshotPath: ../../images/template-previews/system-pv.png
-->
{% extends '../layouts/base.html' %}
{% block header %}
<div class="static-header">
  {% module "theme_header" path="../../modules/Header", label="Header" %}
</div>
{% endblock header %}
{% block body %}
<div class="system-header"></div>
<main class="body-container-wrapper">
  <section class="content-wrapper dnd-section">
    <div class="systems-page">
      {% module 'content'
        path='@hubspot/rich_text',
        html='<h1>Password Required</h1><p>Please enter the password required to view this page.</p>'
      %}
      {% module 'password_prompt'
        extra_classes='password-prompt',
        path='@hubspot/password_prompt'
      %}
    </div>
  </section>
</main>
{% endblock body %}