<div class="jd-cart-outer">
  <div class="spinner hidden"></div>
  <div class="jd-cart">
    <div style="margin-bottom: 20px">
      <strong>Your Cart</strong> > Checkout
    </div>
    <div class="jd-your-cart">
      <h2>Your Cart</h2>
      {% set href = module.link_field.url.href %}
      {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
      {% endif %}
      <a href="{{ href }}"
        {% if module.link_field.open_in_new_tab %}target="_blank"{% endif %}
        {% if module.link_field.rel %}rel="{{ module.link_field.rel }}"{% endif %}
      >
        Continue Shopping
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"  
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10 3.125C6.20304 3.125 3.125 6.20304 3.125 10C3.125 13.797 6.20304 16.875 10 16.875C13.797 16.875 16.875 13.797 16.875 10C16.875 6.20304 13.797 3.125 10 3.125ZM1.875 10C1.875 5.51269 5.51269 1.875 10 1.875C14.4873 1.875 18.125 5.51269 18.125 10C18.125 14.4873 14.4873 18.125 10 18.125C5.51269 18.125 1.875 14.4873 1.875 10Z"
            fill="#FFF"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10.0314 6.90669C10.2755 6.66261 10.6712 6.66261 10.9153 6.90669L13.5669 9.55833C13.811 9.80241 13.811 10.1981 13.5669 10.4422L10.9153 13.0939C10.6712 13.3379 10.2755 13.3379 10.0314 13.0939C9.78731 12.8498 9.78731 12.454 10.0314 12.21L12.2411 10.0003L10.0314 7.79057C9.78731 7.5465 9.78731 7.15077 10.0314 6.90669Z"
            fill="#FFF"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6.25 10C6.25 9.65482 6.52982 9.375 6.875 9.375H13.125C13.4702 9.375 13.75 9.65482 13.75 10C13.75 10.3452 13.4702 10.625 13.125 10.625H6.875C6.52982 10.625 6.25 10.3452 6.25 10Z"
            fill="#FFF"
          />
        </svg>
      </a>
    </div>
    <div class="jd-course-total-head">
      <div>Course</div>
      <div>Total</div>
    </div>
    <div class="jd-cart-items"></div>
    <div class="jd-cart-empty-msg">
      {{ module.empty_cart_message }}
      {% set href = module.link_field.url.href %}
      {% if module.link_field.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
      {% endif %}
      <div style="display: flex; justify-content: center">
        <a href="{{ href }}" class="jd-request-btn hs-button light-button"
          {%- if module.link_field.open_in_new_tab %}
            target="_blank"
          {%- endif -%}
          {%- if module.link_field.rel -%}
            rel="{{ module.link_field.rel }}"
          {%- endif -%}
        >
          Explore all courses
        </a>
      </div>
    </div>
  </div>
  
  <div class="jd-cart-summary-outer">
    <div class="jd-cart-summary">
      <div>Order Summary</div>
      <div class="jd-cart-summary-items"></div>
      <div class="jd-cart-summary-bottom">
        At checkout, taxes are calculated, and discounts are applied.
      </div>
    </div>
    <div class="jd-checkout-btn-wrap" style="display: none">
      <button style="width: 310px" id="jd-checkout-btn" class="jd-request-btn jd-arrow-link hs-button light-button" type="button">
        Proceed to Checkout
      </button>
    </div>
  </div>
</div>

<div class="dnd-section jd-cart-enrollment">
  <div class="jd-cart-enrollment-form">
    <button class="jd-cart-enrollment-form-btn" type="button">
      <svg
        clip-rule="evenodd"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/>
      </svg>
    </button>
    <h3>Enrollment Agreement</h3>
    <div class="jd-cart-enrollment-form-target"></div>
  </div>
</div>

<script>
  {%- set bundles = [] -%}
  {%- for row in hubdb_table_rows('shopify_bundle_product_recommendations') -%}
    {%- do bundles.append(row) -%}
  {%- endfor -%}
  {%- set form_id = module.enrollment_form.form_id -%}
  {%- set raw_data = { bundles: bundles, formID: form_id } %}
  (function () {
    const jsonData = JSON.stringify({{ raw_data|tojson }});

    window.sessionStorage.setItem('cart', jsonData);
  })();
</script>

{{ require_js("//js.hsforms.net/forms/embed/v2.js", "footer") }}
