
{% set level = module.level %}
<div class="blog-search-term {{ level }}">
  <div class="blog-search-term__header">
    {% if module.blog_search_heading %}
      <h1>{{ module.blog_search_heading }}</h1>
    {% endif %}
  </div>
  <div class="blog-search-term__wrapper class">
    <form id="blog-search-term__form" class="blog-search-term__form">
      <input
        class="blog-search-term__input"
        id="blog-search-term__input"
        placeholder="{{ module.search_placeholder_text }}"
        type="search"
        value
      />
      {% if module.blog_search_button_text and !module.search_results %}
      <button class="blog-search-term__button hide">
        {{ module.blog_search_button_text }}
      </button>
      {% endif %}
      <button class="blog-search-term__cancel hide{{ module.search_results ? ' hide-cancel-search' : ''}}">
        Cancel
      </button>
    </form>
  </div>
  <div class="blog-search-term__menu blog-tag-menu">
    <span>All Industry Leading + Coaching Total Health + Wellbeing Alumni + Experts</span>
  </div>
</div>

{% if module.search_results %}
<div class="blog-search-term__results-container">
  {# Search Results term title are rendered client side #}
  <h2 class="blog-search-term__results">
    Search Results For <span class="blog-search-term__results-term"></span>
  </h2>
  {# Search Results total count are rendered client side #}
  <div class="blog-search-term__results-wrapper-count">
     <span class="blog-search-term__results-count"></span> Results
  </div>
</div>
{% endif %}

{# Listing Search Results are rendered client side #}
<div class="blog-search-term__listing"></div>

<div class="{{ module.search_results ? 'blog-search-term__load-results' : 'blog-search-term__view-more'}}">
  <button type="button" class="hs-button jd-request-btn jd-request-btn-inverse arrow-link">
    View more
  </button>
</div>
