.svg-chevron {
  top: -10vw !important;
  transform: skewY(11deg);
}

.svg-diagonal {
  transform: skewY(11deg);
}

.svg-chevron svg,
.svg-diagonal svg {
  height: 100%;
}

.diagonal-img {
  position: absolute;
  inset: -10vw 0;
  transform: skewY(-11deg);
}

.chev-wrapper {
  transform: skewY(-21.3deg);
  height: 100%;
  overflow: hidden;
}

.chev-img {
  position: absolute;
  inset: 10vw 0 0;
  transform: skewY(11.1deg);
}

.swoop-cover {
  position: absolute;
  inset: 40vw 0 0;
  z-index: -1;
}

.dnd-section-custom-bg.svg-bg {
  overflow: hidden;
  pointer-events: none;
}

.dnd-section-custom-bg.svg-bg svg {
  position: static;
  width: 100%;
}

.dnd-section-custom-bg.svg-bg .golden-swoop {
  position: absolute;
  top: -25.5vw;
  bottom: unset;
}

.dnd-section-custom-bg.bg-bend {
  right: -40px;
  left: -40px;
  background: var(--tooltip-start);
  background: linear-gradient(
    135deg,
    var(--tooltip-start) 30%,
    var(--tooltip-end) 100%
  );
}

.dnd-section-custom-bg.bend-top {
  top: -7vw !important;
  border-top-left-radius: 50% 7vw;
  border-top-right-radius: 50% 7vw;
}

.dnd-section-custom-bg.bend-bottom {
  bottom: -7vw !important;
  border-bottom-left-radius: 50% 7vw;
  border-bottom-right-radius: 50% 7vw;
}

.dnd-section-custom-bg .overlay {
  height: 100%;
}
