.hform-btn {
  display: none !important;
}

/* Post */
.jd-post-content {
  margin-bottom: 50px;
}

.jd-blog-post {
  display: flex;
  margin: 220px auto 100px;
  width: 1440px;
  max-width: 90%;
}

.jd-blog-post-left {
  flex: 1;
  padding-right: 50px;
}

.jd-blog-post-right {
  width: 30%;
}

.jd-post-published {
  margin-bottom: 26px;
  color: var(--color--legacy--green--rolling-stone);
}

.jd-post-share {
  display: flex;
  align-items: center;
  color: var(--color--cherry);
  font-weight: bold;
}

.jd-post-share > * {
  margin-right: 15px;
  margin-bottom: 50px;
}

.jd-blog-post-author {
  border: 1px solid var(--color--legacy--white--gainsboro-2);
  padding: 25px;
}

.jd-blog-post-related {
}

h3.jd-related-header {
  margin: 40px 0 !important;
  text-align: center;
}

.jd-related-post {
  margin-bottom: 40px;
  border: 1px solid var(--color--legacy--white--gainsboro-2);
  text-align: center;
}

.jd-related-post .item-img {
  display: block;
  background-position: center !important;
  background-size: cover !important;
  padding-top: 67%;
}

.jd-related-post .content {
  padding: 25px;
}

.jd-blog-post-related .jd-related-post h3 {
  margin: 25px 0 0 !important;
}

.jd-blog-post-related .jd-related-post a:hover {
  text-decoration: none !important;
}

.jd-blog-post-author-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.jd-blog-post-author-avatar {
  margin-right: 20px;
  border-radius: 50%;
  background-position: center !important;
  background-size: cover !important;
  min-width: 70px;
  max-width: 70px;
  min-height: 70px;
  max-height: 70px;
}

.jd-blog-post-author-title strong {
  color: var(--color--legacy--green--rolling-stone);
  font-size: var(--font-size--legacy--8);
}

.jd-blog-nav {
  display: flex;
  align-items: center;
  margin: 75px 0;
  font-size: var(--font-size--legacy--4);
  font-weight: bold;
}

.jd-blog-nav > * {
  margin-right: 15px;
}

.jd-blog-nav a {
  color: var(--color--legacy--blue--oxford-blue);
}

.jd-blog-nav a:hover {
  text-decoration: none;
}

.jd-breadcrumb {
  display: inline-block;
  border-width: 4px 0 4px 5px;
  border-style: solid;
  border-color: transparent transparent transparent
    var(--color--legacy--blue--big-stone);
  width: 0;
  height: 0;
  content: '';
}

.jd-post-content img {
  height: auto;
}

.jd-post-hero {
  background-position: center !important;
  background-size: cover !important;
  padding: 100px 0;
}

.jd-post-hero-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 1440px;
  max-width: 90%;
}

.jd-post-hero-inner > div {
  width: 48%;
}

.jd-post-hero-right {
  display: flex;
  justify-content: center;
}

.jd-post-hero-right h3.form-title {
  display: none;
}

.jd-post-hero-form {
  border: 1px solid var(--color--legacy--white--gainsboro-2);
  background: var(--color--white);
  padding: 25px;
  width: 450px;
  max-width: 100%;
}

.jd-post-hero-form input {
  border: none !important;
  background: var(--color--legacy--blue--solitude-5) !important;
}

.jd-post-hero-form .actions {
  text-align: center;
}

.jd-post-hero-form .actions input[type='submit'] {
  background: var(--color--cherry) !important;
}

.jd-blog-more-wrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.jd-blog-more-wrap .jd-request-btn {
  cursor: pointer;
}

.jd-listing-item {
  display: flex;
  margin-bottom: 25px;
  border: 1px solid var(--color--legacy--white--gainsboro-2);
}

.jd-listing-content {
  padding: 30px 35px;
}

.jd-listing-content .jd-post-published {
  margin-bottom: 15px;
}

.jd-listing-img {
  display: block;
  background-position: center !important;
  background-size: cover !important;
  min-width: 420px;
}

.jd-listing-read-more {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

html .jd-listing-read-more .jd-request-btn.hs-button {
  padding: 15px 50px;
  width: auto;
  font-size: var(--font-size--legacy--7);
  font-weight: normal;
}

.jd-blog-listing-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 35px;
  width: 800px;
  max-width: 100%;
}

.jd-blog-listing-filter > * {
  margin-bottom: 15px;
  width: 48% !important;
}

.jd-blog-listing-filter input,
.jd-blog-listing-filter select {
  border: none !important;
  background: var(--color--legacy--blue--solitude-5) !important;
}

.jd-blog-listing-filter select {
  appearance: none !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAICAYAAAAiJnXPAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACuSURBVHgBjZCxDcIwEEW/YwZgBEagAspkE5iAS6AnAwAxk4QNEJ3paOkYwQxgG9tyRBBg8buT/rv/7zicaF01s8n0JqVUSCj6LlmcHxjwloiGCWADy3IhhAqQ2O5rWHMGZ+1PwGAOrQs/d0kQu4YApnyFPlCuymUAjCl8yhsUpM0C1uZUuc0+gWhsweoI3Dsb+6hCNEKWndy6I6yvFIBr38Pw7YYXeHD3Cvyr1Cef4aBIXOOxzEoAAAAASUVORK5CYII=') !important;
  background-position: 93% center !important;
  background-repeat: no-repeat !important;
}

.jd-blog-listing-head {
  margin-bottom: 35px;
  text-align: center;
}

.jd-listing-item .hs-search-highlight {
  color: var(--color--cherry) !important;
}

.jd-blog-load {
  opacity: 0.5;
  pointer-events: none;
}

a.jd-post-name {
  color: var(--color--legacy--blue--oxford-blue);
}

a.jd-post-name:hover {
  text-decoration: none !important;
  color: var(--color--legacy--blue--oxford-blue);
}

@media (max-width: 1024px) {
  .jd-blog-post {
    display: block;
  }

  .jd-blog-post-left {
    margin-bottom: 50px;
    padding-right: 0;
  }

  .jd-blog-post-right {
    width: 100%;
  }

  .jd-blog-post-related {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .jd-related-post {
    margin: 0 20px 40px;
    width: 300px;
  }

  .jd-post-hero-inner {
    display: block;
  }

  .jd-post-hero-inner > div {
    width: 100%;
  }

  .jd-post-hero-right {
    margin-top: 25px;
  }

  .jd-blog-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .jd-listing-item {
    display: block;
    width: 48%;
  }

  .jd-listing-img {
    padding-top: 60%;
    width: 100%;
    min-width: 1px;
  }
}

@media (max-width: 767px) {
  .jd-listing-item {
    width: 100%;
  }

  .jd-blog-listing-filter > * {
    width: 100% !important;
  }
}

/* Blog Post */
.post-container {
  margin: 0 auto;
  width: 1000px;
  max-width: 80%;
}

.blog-post-title {
  margin: -200px auto 100px;
  box-shadow: 0 0 10px var(--color--legacy--black--black--alpha-20);
  background: var(--color--white);
  padding: 50px 5%;
  width: 1200px;
  max-width: 90%;
  text-align: center;
}

.blog-post-title h1 {
  color: var(--theme--global-colors--secondary-color);
}

#hubspot-topic_data .topic-link {
  font-size: var(--font-size--legacy--11);
}

.blog-post-author {
  margin-bottom: 20px;
  font-size: var(--font-size--legacy--11);
}

.blog-post-title-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.blog-post-title-bottom > div {
  margin: 20px 15px 0;
}

.blog-post-body-wrapper {
  display: flex;
  justify-content: flex-end;
}

.blog-post-body {
  margin-bottom: 50px;
  padding-left: 25px;
  width: 900px;
  max-width: 100%;
}

.blog-post-related-wrapper {
  margin-left: 50px;
  width: calc((100vw - 600px) / 2);
  min-width: 300px;
}

.blog-post-related {
  width: 300px;
  max-width: 100%;
}

.blog-post-related-inner,
.blog-post-sub {
  margin-bottom: 50px;
  box-shadow: 1px 1px 10px var(--color--legacy--black--black--alpha-20);
  padding: 25px;
}

.blog-post-related .item-inner {
  margin-bottom: 15px;
}

.blog-post-related .item-inner:last-child {
  margin-bottom: 0;
}

.blog-post-related .item-img {
  display: block;
  margin: 0 0 15px !important;
  background-size: cover !important;
  padding-top: 50%;
}

.related-post-title a {
  color: var(--theme--global-colors--secondary-color);
  font-size: var(--font-size--legacy--8);
}

.blog-post-related-wrapper .blog-sub-2 {
  margin-bottom: 0;
  max-width: 300px;
}

.blog-share a {
  color: var(--theme--global-colors--primary-color);
}

.simple-post-body-wrapper {
  padding-top: 40px;
}

.simple-post-body-wrapper .blog-post-body {
  padding-left: 0;
  width: 100%;
}

.simple-post-body-wrapper .blog-post-related {
  width: 100%;
}

.simple-post-body-wrapper .blog-post-related .item-inner {
  width: 32%;
}

.simple-post-body-wrapper .blog-post-related .item-inner:nth-child(2) {
  margin: 0 2%;
}

.simple-post-body-wrapper .related-wrapper {
  display: flex;
  padding: 20px 0 40px;
}

@media (max-width: 991px) {
  .blog-post-body-wrapper {
    display: block;
    padding: 0 5%;
  }

  .blog-post-body {
    padding-left: 0;
  }

  .blog-post-related-wrapper {
    margin-left: 0;
    width: 100%;
  }

  .blog-post-related {
    width: 100%;
  }

  .simple-post-body-wrapper .blog-post-related .item-inner {
    width: 49%;
  }

  .simple-post-body-wrapper .blog-post-related .item-inner:nth-child(2) {
    margin: 0 0 0 2%;
  }

  .simple-post-body-wrapper .blog-post-related .item-inner:nth-child(3) {
    display: none;
  }
}

/* Blog Listing */

.blog-item {
  display: flex;
  margin-bottom: 15px;
}

.blog-item-img {
  display: block;
  margin-right: 25px;
  width: 35%;
  min-width: 35%;
}

.blog-item-content {
  padding: 50px 0 25px;
}

.blog-item-name {
  display: flex;
  margin-bottom: 10px;
}

.blog-item-name h3 {
  margin-right: 15px;
  color: var(--theme--typography--body-text--color) !important;
}

.blog-body-wrapper .column-ct {
  display: flex;
}

.blog-body-wrapper .left-column-ct {
  margin-top: 0;
  margin-right: 50px;
  width: calc((100vw - 600px) / 2);
  min-width: 300px;
}

.blog-body-wrapper .right-column-ct {
  padding-right: 30px;
  max-width: 900px;
}

.blog-body-wrapper .left-col-section {
  margin-left: auto;
  padding-left: 30px;
  width: 300px;
}

.blog-filter {
  margin: 2px 0 50px;
  box-shadow: 1px 1px 10px var(--color--legacy--black--black--alpha-20);
}

.blog-filter-inner {
  margin-top: 5px;
  padding: 30px;
}

.blog-filter a {
  display: inline-block;
  margin-bottom: 5px;
  color: var(--theme--typography--body-text--color) !important;
}

.blog-filter a.selected {
  color: var(--theme--global-colors--primary-color) !important;
}

h3.blog-filter-topics-label {
  margin-bottom: 0 !important;
}

.blog-filters {
  margin-top: 5px;
}

.blog-sub-2 {
  position: relative;
  float: none !important;
  margin-bottom: 50px;
  max-width: 250px;
}

.blog-sub-2 h3 {
  padding-bottom: 0 !important;
  color: var(--theme--typography--body-text--color) !important;
  font-size: var(--font-size--legacy--8) !important;
  font-weight: normal !important;
}

.blog-sub-2 .hs-error-msgs {
  display: none !important;
}

.blog-sub-2 form {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--theme--typography--body-text--color);
}

.blog-sub-2 input[type='submit'] {
  opacity: 0;
  margin-top: 0 !important;
  padding: 0 !important;
  width: 30px !important;
  max-width: 30px !important;
  height: 35px !important;
  min-height: 35px !important;
  font-size: 1px;
}

.blog-sub-2 input {
  border: none !important;
  padding: 10px 0 10px 15px !important;
}

.blog-sub-2 .hs-form-field {
  margin-bottom: 0 !important;
}

.blog-body-wrapper .stagger-search {
  max-width: 250px;
}

.blog-sub-arrow {
  position: absolute;
  right: 8px;
  bottom: 10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--theme--global-colors--primary-color);
  width: 0;
  height: 0;
  pointer-events: none;
}

.blog-filter-topics-label i {
  display: none;
  float: right;
}

.topics a {
  color: var(--theme--global-colors--secondary-color);
  font-weight: bold;
}

@media (max-width: 991px) {
  .blog-body-wrapper .column-ct {
    display: block;
  }

  .blog-body-wrapper .left-col-section {
    padding: 0 5%;
    width: 100%;
    max-width: 100%;
  }

  .blog-body-wrapper .right-column-ct {
    width: 100%;
    max-width: 100%;
  }

  .blog-body-wrapper .right-column-ct > div {
    margin: 0 5%;
  }

  .blog-filter {
    margin: 0 5% 50px;
  }

  .blog-filter .left-col-section {
    padding: 0;
  }

  .blog-body-wrapper .right-column-ct,
  .blog-body-wrapper .left-column-ct {
    padding-right: 0;
    width: 100%;
  }

  .blog-filter {
    padding: 15px 20px 10px;
  }

  .blog-filters {
    display: none;
  }

  .blog-filter-topics-label i {
    display: inline;
  }
}

@media (max-width: 767px) {
  .blog-item {
    display: block;
  }

  .blog-item-img {
    width: 100%;
    height: 50vw;
  }

  .blog-item-content {
    padding: 25px 0;
  }

  .simple-post-body-wrapper .related-wrapper {
    display: block;
  }

  .simple-post-body-wrapper .blog-post-related .item-inner {
    width: 100%;
  }

  .simple-post-body-wrapper .blog-post-related .item-inner:nth-child(2) {
    margin: 0;
  }
}

/* Blog header */

.mbp-blog-hero .widget-type-blog_subscribe {
  width: 100%;
}

.mbp-blog-hero .widget-type-blog_subscribe h3.form-title {
  padding-bottom: 10px;
}

.mbp-blog-hero .widget-type-blog_subscribe form {
  display: flex;
}

.mbp-blog-hero .widget-type-blog_subscribe .hs_email {
  flex: 1;
  margin-bottom: 0;
}

.mbp-blog-hero .widget-type-blog_subscribe .actions input {
  font-size: var(--font-size--legacy--13);
}

.dnd-section.blog-body-wrapper {
  padding-bottom: 0;
}

.blog-header {
  background-color: var(--color--legacy--blue--pattens-blue);
  text-align: center;
}

.blog-header__inner {
  margin: 0 auto;
  padding: 3.3rem 0;
  max-width: 600px;
}

.blog-header__title {
  font-size: var(--font-size--32);
}

.blog-header__subtitle {
  margin: 1rem 0 2rem;
}

.blog-header__form {
  margin: 0 1rem;
}

@media screen and (min-width: 768px) {
  .blog-header__form {
    margin: 0 auto;
    width: 500px;
  }
}

/* Blog header - author listing */

.blog-header__author-avatar {
  margin: 0 auto 1.5rem;
  border-radius: 50%;
  box-shadow: 0 0 12px 0 var(--color--legacy--black--black--alpha-15);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.blog-header__author-social-links a {
  display: inline-block;
  position: relative;
  margin: 0 5px;
  border-radius: 50%;
  background-color: var(--color--black);
  width: 40px;
  height: 40px;
}

.blog-header__author-social-links a:hover {
  background-color: var(--color--legacy--violet--gun-powder);
}

.blog-header__author-social-links svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 15px;
  fill: var(--color--white);
}

/* Blog listing */

.blog-index {
  display: flex;
  flex-wrap: wrap;
  padding: 3.3rem 0;
}

.blog-index::after {
  flex: auto;
  content: '';
  -webkit-box-flex: 1;
}

.blog-index__tag-header {
  -webkit-box-flex: 1;
  flex: 1 0 100%;
  padding: 1rem;
}

.blog-index__tag-subtitle {
  line-height: var(--line-height--110);
  font-size: var(--font-size--legacy--9);
}

.blog-index__tag-heading {
  border-bottom: 3px solid var(--color--legacy--blue--link-water-2);
  padding-bottom: 1rem;
}

.blog-index__post {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .blog-index__post {
    -webkit-box-flex: 0;
    flex: 0 0 calc(100% / 2);
  }
}

@media screen and (min-width: 1000px) {
  .blog-index__post {
    -webkit-box-flex: 0;
    flex: 0 0 calc(100% / 3);
  }
}

@media screen and (min-width: 768px) {
  .blog-index__post--large {
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
    justify-items: space-between;
  }
}

.blog-index__post-image {
  display: block;
  background-image: url('https://cdn2.hubspot.net/hubfs/6326501/boilerplate/grayscale-mountain.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 63%;
}

@media screen and (min-width: 768px) {
  .blog-index__post-image--large {
    -webkit-box-flex: 1;
    flex: 1 1 100%;
    padding-bottom: 0;
  }

  .blog-index__post-content--large {
    -webkit-box-flex: 1;
    flex: 1 1 100%;
    padding-left: 2rem;
  }

  .blog-index__post-image--large {
    -webkit-box-flex: 1;
    flex: 1 1 48%;
  }

  .blog-index__post-content--large {
    -webkit-box-flex: 1;
    flex: 1 1 48%;
    padding-left: 2rem;
  }

  .blog-index__post-content--full-width {
    -webkit-box-flex: 1;
    flex: 1 1 100%;
    padding-left: 0;
  }
}

.blog-index__post-content h2 {
  margin: 0.5rem 0;
}

.blog-index__post-content--small h2 {
  font-size: var(--font-size--20);
}

.blog-index__post-content p {
  font-family: var(--font-family--legacy--blog);
}

.blog-index__post-content a {
  color: var(--color--legacy--violet--gun-powder);
}

.blog-index__post img {
  max-width: 100%;
  height: auto;
}

/* Blog pagination */

.blog-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.3rem;
  text-align: center;
  font-family: var(--font-family--legacy--blog);
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.blog-pagination__link {
  display: inline-flex;
  margin: 0 0.1rem;
  border: 2px solid transparent;
  border-radius: 7px;
  padding: 0.25rem 0.4rem;
  text-decoration: none;
  line-height: var(--line-height--100);
  color: var(--color--legacy--violet--gun-powder);
}

.blog-pagination__link--active {
  border: 2px solid var(--color--legacy--blue--spindle);
}

.blog-pagination__link:hover,
.blog-pagination__link:focus {
  text-decoration: none;
}

.blog-pagination__prev-link,
.blog-pagination__next-link {
  display: inline-flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.blog-pagination__prev-link {
  margin-right: 0.25rem;
  text-align: right;
}

.blog-pagination__next-link {
  margin-left: 0.25rem;
  text-align: left;
}

.blog-pagination__prev-link--disabled,
.blog-pagination__next-link--disabled {
  cursor: default;
  color: var(--color--legacy--blue--spindle);
  pointer-events: none;
}

.blog-pagination__prev-link svg,
.blog-pagination__next-link svg {
  fill: var(--color--legacy--violet--gun-powder);
  margin: 0 5px;
}

.blog-pagination__prev-link--disabled svg,
.blog-pagination__next-link--disabled svg {
  fill: var(--color--legacy--blue--spindle);
}

.blog-pagination__number-link:hover,
.blog-pagination__number-link:focus {
  border: 2px solid var(--color--legacy--blue--spindle);
}

/* Blog related posts */

.blog-recent-posts {
  margin-top: 3rem;
  padding: 2rem 0;
}

.blog-recent-posts h2 {
  text-align: center;
}

.blog-recent-posts__list {
  display: flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.topic-list {
  margin: 10px 0;
}

.mp-posts.post-listing {
  margin-top: 10px;
}

.mp-posts h4 {
  color: var(--theme--typography--body-text--color);
}

.blog-recent-posts__list .box {
  margin-top: 15px;
  border-radius: var(--theme--spacing--border-radius);
  width: 32%;
}

.blog-recent-posts__list .box:nth-child(2) {
  margin: 15px 2% 0;
}

.blog-recent-posts__list .box .item-img {
  display: block;
  border-radius: var(--theme--spacing--border-radius)
    var(--theme--spacing--border-radius) 0 0;
  padding-top: 60%;
}

.blog-recent-posts__list .box .content {
  margin-top: 20px;
  border-bottom: 2px solid var(--color--legacy--white--white-smoke-1);
  padding: 0 0 20px;
}

.blog-recent-posts__list h4 a {
  color: var(--theme--typography--body-text--color);
}

.blog-recent-posts__list .more-link {
  color: var(--theme--global-colors--tertiary-color);
}

.blog-recent-posts__list .more-link i {
  color: var(--theme--global-colors--tertiary-color);
}

.blog-sub {
  padding-right: 10px;
}

.blog-sub .widget-type-blog_subscribe {
  width: 100%;
}

.blog-sub .hs_error_rollup {
  display: none !important;
}

.blog-recent-posts__post {
  display: block;
  flex: 0 0 100%;
  padding: 1rem;
  color: var(--color--legacy--violet--gun-powder);
  -webkit-box-flex: 0;
}

@media screen and (min-width: 768px) {
  .blog-recent-posts__post {
    -webkit-box-flex: 0;
    flex: 0 0 calc(100% / 2);
  }
}

@media screen and (min-width: 1000px) {
  .blog-recent-posts__post {
    -webkit-box-flex: 0;
    flex: 0 0 calc(100% / 3);
  }
}

.blog-recent-posts__post:hover {
  text-decoration: none;
}

.blog-recent-posts__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 63%;
}

.blog-recent-posts__title {
  margin: 1rem 0 0.5rem;
}

/* Blog comments */

.blog-comments {
  margin: 0 auto;
  max-width: 680px;
}

.blog-comments form {
  max-width: 100%;
}

.blog-comments .hs-submit {
  text-align: center;
}

.blog-comments .hs-button {
  border: 2px solid var(--color--legacy--violet--gun-powder);
  background-color: transparent;
  color: var(--color--legacy--violet--gun-powder);
}

.blog-comments .hs-button:hover {
  background-color: var(--color--legacy--violet--gun-powder);
  color: var(--color--white);
}

.blog-comments .comment-reply-to {
  border: 0 none;
}

.blog-comments .comment-reply-to:hover {
  background-color: transparent;
  text-decoration: underline;
  color: var(--color--legacy--violet--gun-powder);
}

/* Blog */

.blog-sub h3 {
  margin: 0;
}

.blog-sub form {
  display: flex;
}

.blog-sub form > .field {
  flex: 1 auto;
  max-width: 300px;
}

.blog-sub form .field > label {
  display: none;
}

html .blog-sub form .input {
  padding: 0;
}

.blog-sub .actions {
  padding-top: 0;
}

.blog-sub .field input {
  border: 1px solid var(--theme--global-colors--primary-color);
  border-right: none;
  border-radius: var(--theme--buttons--border-radius) 0 0
    var(--theme--buttons--border-radius);
  background: var(--color--legacy--white--white--alpha-70)
    url('https://cdn2.hubspot.net/hubfs/6647721/subscription-Icon.png')
    no-repeat 3.5% center;
  padding: 10px 10px 10px 50px;
  width: 100%;
  height: 50px;
}

.dnd-section .blog-sub form input[type='submit'],
.dnd-section .blog-sub form .hs-button {
  padding: 10px 20px;
  height: 50px;
}

.blog-sub .actions input {
  display: inline-block;
  transition: var(--transition--default);
  border: var(--theme--buttons--border);
  border-radius: 0 var(--theme--buttons--border-radius)
    var(--theme--buttons--border-radius) 0;
  box-shadow: 3px 3px 10px var(--color--legacy--black--black--alpha-20){% if theme.buttons.gr_color.color %}, var(--theme--buttons--hover-color) 0 0 10px -10px inset{% endif %};
  background: var(--theme--buttons--background-color);
  padding: 5px 15px;
  height: 60px;
  text-decoration: none;
  white-space: nowrap;
  color: var(--theme--buttons--text-color);
  font-family: var(--theme--global-fonts--secondary-font);
}

.blog-sub .actions input:hover,
.blog-sub .actions input:focus {
  box-shadow: 3px 3px 10px var(--color--legacy--black--black--alpha-20){% if theme.buttons.gr_color.color %}, var(--theme--buttons--hover-color) 300px 0 10px -10px inset{% endif %};
  text-decoration: none;
  color: var(--theme--buttons--text-color);
}

.mp-posts {
  display: flex;
  flex-wrap: wrap;
}

.mp-posts .mb-resource-wrapper {
  width: 50%;
}

.resource-cta {
  position: fixed;
  top: 90px;
  transition: var(--transition--default);
  z-index: 10;
  background: var(--theme--global-colors--secondary-color);
  padding: 30px 0;
  width: 100%;
  color: var(--color--white);
}

.resource-cta.scroll {
  padding: 15px 0;
}

.resource-cta a {
  text-decoration: none;
  color: var(--color--white);
}

.resource-cta h3 {
  margin-bottom: 10px;
  font-size: var(--font-size--legacy--20);
}

.resource-cta.scroll h3 {
  margin-bottom: 0;
  font-size: var(--font-size--legacy--16);
}

.cta-item .item-inner {
  display: flex;
  align-items: center;
  height: auto;
}

.cta-item .content {
  flex: 1;
}

.resource-cta.scroll .text {
  display: none;
}

.resource-cta .more-link {
  display: inline-block;
  border: 1px solid var(--color--white);
  border-radius: var(--theme--spacing--border-radius);
  padding: 10px 30px;
  letter-spacing: 2px;
  font-family: var(--theme--global-fonts--secondary-font);
}

.resource-cta .more-link:hover {
  background: var(--color--white);
  color: var(--theme--global-colors--secondary-color);
}

.resource-cta .more-link strong {
  font-weight: normal;
}

.resource-cta .more-link i {
  transition: var(--transition--default);
  color: var(--color--white);
}

.resource-cta .more-link:hover i {
  color: var(--theme--global-colors--secondary-color);
}

.blog-pagin-wrapper {
  padding: 10px;
  text-align: right;
}

.blog-pagin-wrapper a {
  margin-left: 5px;
  text-decoration: none;
  color: var(--color--legacy--grey--grey-3);
}

.blog-pagin-wrapper a.active {
  color: var(--theme--global-colors--tertiary-color);
}

.mb-resource-filter .hs-search-field input {
  margin-bottom: 0;
}

.hs-search-field__suggestions {
  position: absolute;
  border: none !important;
  border-radius: var(--theme--spacing--border-radius);
  box-shadow: 0 0 5px var(--color--legacy--black--black--alpha-10);
  background: var(--color--legacy--white--white-smoke-1);
  padding: 0 15px;
  color: var(--theme--global-colors--secondary-color);
}

.hs-search-field__suggestions li {
  padding: 1px 0;
}

.hs-search-field__suggestions li:nth-child(1) {
  padding-top: 15px;
}

.hs-search-field__suggestions li:nth-last-child(1) {
  padding-bottom: 20px;
}

html .hs-search-field__suggestions a {
  color: var(--theme--global-colors--secondary-color);
}

html .hs-search-field__suggestions a:hover {
  color: var(--theme--global-colors--tertiary-color);
}

.hs-search-highlight {
  color: var(--theme--global-colors--tertiary-color) !important;
}

.blog-topics-wrapper {
  margin-top: 20px;
}

.resource-section .post-page .right-column {
  padding-left: 0;
  width: 100%;
}

.resource-section .post-page h1 {
  margin-bottom: 10px;
}

.read-time {
  font-family: var(--font-family--legacy--bebas);
  font-size: var(--font-size--legacy--8);
}

.author-share {
  padding-bottom: 30px;
  font-weight: 600;
}

.author-share a {
  text-decoration: none;
  color: var(--theme--global-colors--tertiary-color);
}

.author-share a:hover {
  opacity: 0.8;
  color: var(--theme--global-colors--tertiary-color);
}

.author-share a i {
  margin-left: 5px;
}

.blog-inside-img {
  display: block;
  margin: 0 auto 30px;
  max-width: 100%;
}

.author-share {
  display: flex;
}

.author-wrapper {
  display: flex;
  width: auto;
}

.author-img {
  display: block;
  position: relative;
  border: 3px solid var(--color--white);
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.author-share .blog-share {
  border-left: 3px solid var(--color--white);
  border-radius: 0 var(--theme--spacing--border-radius)
    var(--theme--spacing--border-radius) 0;
  padding-left: 10px;
  text-transform: uppercase;
  font-size: var(--font-size--legacy--11);
}

.author-wrapper > div {
  padding-right: 10px;
}

.blog-audio {
  margin-bottom: 20px;
}

.acc-hero .widget-type-blog_subscribe form {
  display: flex;
}

.acc-hero .widget-type-blog_subscribe .hs_email {
  flex: 1 auto;
}

.acc-hero .widget-type-blog_subscribe .actions {
  margin-top: 40px;
  margin-left: 30px;
}

.no-featured {
  padding: 50px 0;
}

@media (max-width: 950px) {
  .blog-recent-posts__list .box {
    width: 49%;
  }

  .blog-recent-posts__list .box:nth-child(2) {
    margin-right: 0;
  }

  .blog-recent-posts__list .box:nth-child(3) {
    display: none;
  }

  .blog-sub {
    padding-top: 20px;
    padding-right: 0;
  }

  .blog-topics-wrapper {
    position: relative;
    background: var(--color--white);
  }

  .mb-resource-filter h3,
  .blog-topics-wrapper a {
    color: var(--color--legacy--grey--suva-grey);
  }

  .mb-resource-filter h3 {
    position: relative;
    margin: 0;
    padding: 10px 20px 10px 10px;
    font-size: var(--font-size--legacy--7);
  }

  .mb-resource-filter h3::after {
    position: absolute;
    right: 10px;
    font-family: var(--font-family--icons);
    content: '';
  }

  .blog-topics-wrapper > div {
    display: none;
    position: absolute;
    border-top: 1px solid var(--color--legacy--grey--suva-grey);
    box-shadow: 0 3px 5px var(--color--legacy--black--black--alpha-15);
    background: var(--color--white);
    width: 100%;
    max-height: 70vh;
    overflow: auto;
  }

  .blog-topics-wrapper:hover > div {
    display: block;
  }
}

@media (max-width: 767px) {
  .mp-posts .mb-resource-wrapper {
    width: 100%;
  }

  .blog-recent-posts__list .box {
    width: 100%;
  }

  .blog-recent-posts__list .box:nth-child(2) {
    margin-left: 0;
  }
}
