.sample-class-video-wrapper 
.section-header {
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center 
}

.sample-class-hero-wrapper 
.dnd-column .dnd-column[class*=background-color] {
  box-shadow: none !important;
  border-radius: 0 !important;
  transform: translate(0, 200px);
}

@media (max-width:768px){
 .sample-class-hero-wrapper.dnd-section {
   background-position: 90% center !important;
   background-size: auto !important;
 }
}  