{# Set dictionary of sanitized param values. #}
{% set clean_dict = {} %}

{% for key, value in request.query_dict.items() %}
  {% set cleanKey = key|urldecode|trim %}
  {% set cleanValue = value|urldecode|replace('™','')|replace('$', '')|replace('_', '')|replace('~', ' ')|trim %}
  {% if cleanValue %}
    {% do clean_dict.put(cleanKey, cleanValue) %}
  {% endif %}
{% endfor %}

{# Set variables from params to use in template.  #}
{% set address = clean_dict.Address %}
{% set books = clean_dict.Books %}
{% set course = clean_dict.Course %}
{% set date = clean_dict.Date %}
{% set email = clean_dict.Email %}
{% set hours = clean_dict.hours %}
{% set phone = clean_dict.Phone %}
{% set price = clean_dict.Price %}
{% set promo = clean_dict.Promo %}
{% set publication_date = clean_dict.PublicationDate %}
{% set registration = clean_dict.Registration %}
{% set revision_date = clean_dict.RevisionDate %}
{% set start_date = clean_dict.StartDate %}
{% set student_name = clean_dict.Name %}
{% set tax = clean_dict.Tax %}
{% set variant = clean_dict.Variant %}
{% set weeks = clean_dict.weeks %}

{# Set field suffix to distinguish between English and Spanish sibling fields. #}
{% set language_code = 'es' if request.query is containing 'Spanish' else 'en' %}
{% set field_suffix = '' if language_code == 'en' else '_es'  %}

{# Create dictionary for rendering params #}
{% set variant_dict = {} %}
{% set settings = module.settings %}  

{% if start_date %}
  {% do variant_dict.put(settings.start_date['heading' ~ field_suffix], start_date) %}
{% endif %}
{% if variant %}
  {% do variant_dict.put(settings.variant['heading' ~ field_suffix], variant) %}
{% endif %}
{% if student_name %}
  {% do variant_dict.put(settings.student_name['heading' ~ field_suffix], student_name) %}
{% endif %}
{% if email %}
  {% do variant_dict.put(settings.email['heading' ~ field_suffix], email) %}
{% endif %}
{% if address %}
  {% do variant_dict.put(settings.address['heading' ~ field_suffix], address) %}
{% endif %}
{% if phone %}
  {% do variant_dict.put(settings.phone['heading' ~ field_suffix], phone) %}
{% endif %}

{% set summary_dict = {} %}
{% set summary_should_display = false %}

{% if price %}
  {% set price_formatted = price|int | format_currency_value(currency='USD', maxDecimalDigits=0) %}
  {% do summary_dict.put(settings.price['heading' ~ field_suffix], price_formatted) %}
{% endif %}
{% if promo|int %}
  {% set promo_formatted = promo|int | format_currency_value(currency='USD', maxDecimalDigits=0) %}
  {% do summary_dict.put(settings.promo['heading' ~ field_suffix], '-' ~ promo_formatted) %}
{% endif %}
{% if tax|int %}
  {% set tax_formatted = tax|int | format_currency_value(currency='USD', maxDecimalDigits=0) %}
  {% do summary_dict.put(settings.tax['heading' ~ field_suffix], tax_formatted) %}
{% endif %}
{% if price and (promo|int or tax|int) %}
  {% set summary_should_display = true %}
  {% set net_tuition = price|int - promo|int + tax|int %}
  {% set net_tuition_formatted = net_tuition | format_currency_value(currency='USD', maxDecimalDigits=0) %}
  {% do summary_dict.put(settings.net_tuition['heading' ~ field_suffix], net_tuition_formatted) %}
{% endif %}

{# Complaint field is inserted into module rich text fields by using token. #}
{% set complaint = module.settings.complaint['content' ~ field_suffix] %}

{#
  CRM product is not currently used in the template but this approach may have
  value in the future.
#}
{% set query = 'name=' ~ course %}
{% set crm_options = [
  'ip__shopify__body_html',
  'ip__shopify__handle',
  'name',
  'enrollment_agreement___english',
  'enrollment_agreement___spanish'
] %}
{% set product = crm_objects('product', query, crm_options|join(','), false) %}
  
<div class="enrollment-agreement">
  {% image
    src={{ settings.logo.src }},
    alt={{ settings.logo.alt }},
    width={{ settings.logo.width }},
    height={{ settings.logo.height }},
    loading={{ settings.logo.loading }}
  %}

  {{ settings.contact }}

  <h1>{{ course }} {{ settings.page['heading' ~ field_suffix] }}</h1>

  {% if variant_dict|length %}
  <div class="basic-info">
    {% for key, value in variant_dict.items() %}
    <div>
      <strong>{{ key }}:</strong> {{ value }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if summary_should_display %}
  <section class="summary">
    <h2>{{ settings.summary['heading' ~ field_suffix] }}</h2>
    <table class="data">
    {% for key, value in summary_dict.items() %}
      <tr>
        <th scope="row">{{ key }}</th>
        <td>{{ value }}</td>
      </tr>
    {% endfor %}
    </table>
  </section>
  {% endif %}

  {{ module.terms['content' ~ field_suffix] }}

  <section class="details">
    <h2>{{ settings.course['heading' ~ field_suffix] }}</h2>
    {% if books or course or hours or price or registration or weeks %}
    <table class="data">
      {% if course or hours or weeks %}
      <tr>
        <td colspan="2">
          {% if course %}
          <h3>{{ course }}</h3>
          {% endif %}
          {% if hours %}
          <p>
            {{ settings.duration['heading' ~ field_suffix] }}:
            {{ hours }} {{ settings.duration['units' ~ field_suffix] }}
          </p>
          {% endif %}
          {% if weeks %}
          <p>
            {{ settings.completion['intro' ~ field_suffix] }}:
            {{ weeks }}
            {{ settings.completion['units' ~ field_suffix] }}
            {{ settings.completion['notes' ~ field_suffix] }}
          </p>
          {% endif %}
        </td>
      </tr>
      {% endif %}
      {% if registration %}
      <tr>
        <th scope="row">
          {{ settings.registration['heading' ~ field_suffix] }}
        </th>
        <td>
          {{ registration | format_currency_value(currency='USD', maxDecimalDigits=0) }}
        </td>
      </tr>
      {% endif %}
      {% if registration or books %}
      <tr>
        <th scope="row">
          {{ settings.tuition['heading' ~ field_suffix] }}
        </th>
        <td>
          {{ (price|int - registration|int - books|int) | format_currency_value(currency='USD', maxDecimalDigits=0) }}
        </td>
      </tr>
      {% endif %}
      {% if books %}
      <tr>
        <th scope="row">
          {{ settings.books['heading' ~ field_suffix] }}
        </th>
        <td>
          {{ books|int | format_currency_value(currency='USD', maxDecimalDigits=0) }}
        </td>
      </tr>
      {% endif %}
      {% if price %}
      <tr>
        <th scope="row">
          {{ settings.price['heading' ~ field_suffix] }}
        </th>
        <td>
          {{ price|int | format_currency_value(currency='USD', maxDecimalDigits=0) }}
        </td>
      </tr>
      {% endif %}
    </table>
    {% endif %}

    {{ module.main['content' ~ field_suffix] }}

    {{ settings.acknowledgement['content' ~ field_suffix] }}

    {% if date %}
    <p>
      <strong>{{ settings.date['heading' ~ field_suffix] }}:</strong>
      {{ date }}
    </p>
    {% endif %}
    <p>
      {{ settings.receiver['instructions' ~ field_suffix] }}
    </p>
    {% if student_name %}
    <p>
      <strong>{{ settings.receiver['heading' ~ field_suffix] }}:</strong>
      {{ student_name }}
    </p>
    {% endif %}
    <p>
      <strong>{{ settings.signature['heading' ~ field_suffix] }}:</strong>
    </p>
    {% if revision_date %}
    <p>
      <strong>{{ settings.revision_date['heading' ~ field_suffix] }}:</strong>
      {{ revision_date }}
    </p>
    {% endif %}
    {% if publication_date %}
    <p>
      <strong>{{ settings.publication_date['heading' ~ field_suffix] }}:</strong>
      {{ publication_date }}
    </p>
    {% endif %}
      
    {% image
      src={{ settings.signature.image.src }},
      alt={{ settings.signature.image.alt }},
      width={{ settings.signature.image.width }},
      height={{ settings.signature.image.height }},
      loading={{ settings.signature.image.loading }}
    %}
  </section>
</div>
