.hs-button {
  display: block;
  border-radius: 2em;
  padding: 18px;
  width: auto;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  color: var(--color--white);
  font-family: var(--font-family--body);
  font-weight: 700;
}

.jd-arrow-link::after {
  display: inline-block;
  margin-left: 6px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 3.125C6.20304 3.125 3.125 6.20304 3.125 10C3.125 13.797 6.20304 16.875 10 16.875C13.797 16.875 16.875 13.797 16.875 10C16.875 6.20304 13.797 3.125 10 3.125ZM1.875 10C1.875 5.51269 5.51269 1.875 10 1.875C14.4873 1.875 18.125 5.51269 18.125 10C18.125 14.4873 14.4873 18.125 10 18.125C5.51269 18.125 1.875 14.4873 1.875 10Z' fill='%23FFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.0314 6.90669C10.2755 6.66261 10.6712 6.66261 10.9153 6.90669L13.5669 9.55833C13.811 9.80241 13.811 10.1981 13.5669 10.4422L10.9153 13.0939C10.6712 13.3379 10.2755 13.3379 10.0314 13.0939C9.78731 12.8498 9.78731 12.454 10.0314 12.21L12.2411 10.0003L10.0314 7.79057C9.78731 7.5465 9.78731 7.15077 10.0314 6.90669Z' fill='%23FFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.25 10C6.25 9.65482 6.52982 9.375 6.875 9.375H13.125C13.4702 9.375 13.75 9.65482 13.75 10C13.75 10.3452 13.4702 10.625 13.125 10.625H6.875C6.52982 10.625 6.25 10.3452 6.25 10Z' fill='%23FFF'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  content: '';
}

/* Primary */
.hs-button.light-button {
  display: inline-block;
  border: 0 solid var(--color--white);
  border-radius: 100px;
  background: var(--color--iin-red);
  padding: 13px 55px;
  max-width: 270px;
  text-align: center;
  text-decoration: none;
  color: var(--color--white);
  font-family: var(--font-family--body);
}

.hs-button.light-button:hover {
  background: var(--color--legacy--red--cinnabar);
  text-decoration: none;
  color: var(--color--white);
}

.hs-button.light-button:focus {
  border: 2px solid var(--color--midnight);
}

.hs-button.light-button.jd-arrow-link::after {
  display: inline-block;
  margin-left: 6px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 3.125C6.20304 3.125 3.125 6.20304 3.125 10C3.125 13.797 6.20304 16.875 10 16.875C13.797 16.875 16.875 13.797 16.875 10C16.875 6.20304 13.797 3.125 10 3.125ZM1.875 10C1.875 5.51269 5.51269 1.875 10 1.875C14.4873 1.875 18.125 5.51269 18.125 10C18.125 14.4873 14.4873 18.125 10 18.125C5.51269 18.125 1.875 14.4873 1.875 10Z' fill='%23FFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.0314 6.90669C10.2755 6.66261 10.6712 6.66261 10.9153 6.90669L13.5669 9.55833C13.811 9.80241 13.811 10.1981 13.5669 10.4422L10.9153 13.0939C10.6712 13.3379 10.2755 13.3379 10.0314 13.0939C9.78731 12.8498 9.78731 12.454 10.0314 12.21L12.2411 10.0003L10.0314 7.79057C9.78731 7.5465 9.78731 7.15077 10.0314 6.90669Z' fill='%23FFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.25 10C6.25 9.65482 6.52982 9.375 6.875 9.375H13.125C13.4702 9.375 13.75 9.65482 13.75 10C13.75 10.3452 13.4702 10.625 13.125 10.625H6.875C6.52982 10.625 6.25 10.3452 6.25 10Z' fill='%23FFF'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  content: '';
}

/* Hero */
.hs-button.jd-request-btn.jd-trans-btn {
  margin: 5px 0 0;
  margin-right: 10px;
  box-shadow: 2px 2px 2px var(--color--legacy--black--black--alpha-20);
  background: hsl(0deg 0% 100% / 48%);
  padding: 15px 2.5em;
  max-width: 270px;
  color: var(--color--midnight);
  backdrop-filter: blur(12px);
}

.hs-button.jd-request-btn.jd-trans-btn:hover {
  text-decoration: underline;
}

.jd-request-btn.jd-trans-btn:focus {
  border: 2px solid var(--color--midnight);
}

.jd-request-btn.jd-trans-btn.jd-arrow-link::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' fill='none'%3E%3Cpath fill='%231D1D1D' fill-rule='evenodd' d='M17.375 10a6.875 6.875 0 1 0-13.75 0 6.875 6.875 0 0 0 13.75 0M10.5 1.875a8.125 8.125 0 1 1 0 16.25 8.125 8.125 0 0 1 0-16.25' clip-rule='evenodd'/%3E%3Cpath fill='%231D1D1D' fill-rule='evenodd' d='M13 10a.63.63 0 0 1-.207.465l-3.125 2.812a.625.625 0 1 1-.836-.93L11.44 10 8.83 7.652a.625.625 0 1 1 .837-.93l3.125 2.813A.63.63 0 0 1 13 10' clip-rule='evenodd'/%3E%3C/svg%3E");
}

/* Secondary */
.hs-button.jd-request-btn.jd-request-btn-inverse {
  border: 1px solid var(--color--midnight);
  background: var(--color--white);
  max-width: 270px;
  color: var(--color--midnight);
}

.hs-button.jd-request-btn.jd-request-btn-inverse:hover {
  background: var(--color--midnight);
  color: var(--color--white);
}

.hs-button.jd-request-btn.jd-request-btn-inverse:focus {
  text-decoration: underline;
}

/* Tertiary */
a.jd-request-btn-tertiary {
  color: var(--color--midnight);
}

a.jd-request-btn-tertiary::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 3.125C6.20304 3.125 3.125 6.20304 3.125 10C3.125 13.797 6.20304 16.875 10 16.875C13.797 16.875 16.875 13.797 16.875 10C16.875 6.20304 13.797 3.125 10 3.125ZM1.875 10C1.875 5.51269 5.51269 1.875 10 1.875C14.4873 1.875 18.125 5.51269 18.125 10C18.125 14.4873 14.4873 18.125 10 18.125C5.51269 18.125 1.875 14.4873 1.875 10Z' fill='%23d72a25'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.0314 6.90669C10.2755 6.66261 10.6712 6.66261 10.9153 6.90669L13.5669 9.55833C13.811 9.80241 13.811 10.1981 13.5669 10.4422L10.9153 13.0939C10.6712 13.3379 10.2755 13.3379 10.0314 13.0939C9.78731 12.8498 9.78731 12.454 10.0314 12.21L12.2411 10.0003L10.0314 7.79057C9.78731 7.5465 9.78731 7.15077 10.0314 6.90669Z' fill='%23d72a25'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.25 10C6.25 9.65482 6.52982 9.375 6.875 9.375H13.125C13.4702 9.375 13.75 9.65482 13.75 10C13.75 10.3452 13.4702 10.625 13.125 10.625H6.875C6.52982 10.625 6.25 10.3452 6.25 10Z' fill='%23d72a25'/%3E%3C/svg%3E");
}

a.jd-request-btn-tertiary:hover {
  text-decoration: underline;
  color: var(--color--midnight);
}

a.jd-request-btn-tertiary:focus {
  border: 2px solid var(--color--midnight);
  color: var(--color--midnight);
}

/* Link */
a.jd-request-btn-link {
  color: var(--color--midnight);
}

a.jd-request-btn-link:hover {
  text-decoration: underline;
  color: var(--color--iin-red);
}
