.card-cta-lists {
  border-radius: 15px;
  padding: 50px;
}

.card-cta-lists__header,
.card-cta-lists__text {
  padding-bottom: 15px;
}

.card-cta-lists__lists li {
  padding-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .card-cta-lists {
    padding: 30px;
  }
}
