.footer-container {
  color: var(--color--white);
}

.footer-container .hs-menu-wrapper ul {
  padding: 0 0 1.5rem;
}

.footer-container .hs-menu-wrapper li {
  font-size: var(--font-size--legacy--1);
}

.footer-container .hs-menu-wrapper .hs-menu-children-wrapper {
  padding-left: 15px;
}

.footer-container li::marker {
  content: '';
}

.footer-container h3.form-title {
  padding-bottom: 10px;
}

.footer-container h2,
.footer-container h3,
.footer-container h4,
.footer-container h5 {
  color: var(--color--white);
}

.footer-container a {
  display: inline-block;
  color: var(--color--white);
}

.footer-container a:hover,
.footer-container a:visited,
.footer-container a:focus {
  color: var(--color--white);
}

.footer-container li.hs-menu-item {
  margin-bottom: 12px;
}

.footer-container .social-links a {
  margin-left: 5px;
  padding: 10px;
}

.footer-container .social-links a:nth-child(1) {
  margin-left: 0;
}

.footer-container .contact-info-container .link {
  text-decoration: underline;
}

.footer-container .contact-info-container .nav-item-heading {
  --icon--color: var(--color--white);

  margin-bottom: var(--spacing-2);
  font: var(--font--testimonial-name--desktop);
}

.footer-container .contact-info-container .nav-item-description {
  font: var(--font--small-paragraph);
}

.footer-container .contact-info-container li:not(:last-of-type) {
  margin-bottom: var(--spacing-4);
}

.footer-container .contact-info-container .contact-number {
  font: var(--font--small-paragraph--semibold);
}

.footer-container .contact-info-container .contact-number:first-of-type {
  margin-bottom: var(--spacing-2);
}

@media (max-width: 1000px) {
  .footer-container img {
    margin: 0 auto;
  }
}
