.slider-nav .slick-prev, .slider-nav .slick-next { position: static; }
.blog-item .custom-img {
  border-radius: 0;
}
.box-image-wrapper { max-width: 100%; }
.box-image-wrapper.align-right { margin-left: auto; }
.box-image-wrapper.align-center { margin-left: auto;margin-right: auto; }
.item-img.shape-landscape { padding-top: 60%; }
.item-img.shape-square { padding-top: 100%; }
.item-img.shape-portrait { padding-top: 150%; }
.item-img.shape-circle { padding-top: 100%;border-radius: 50% !important; }

.blog-item h4 {
  font-weight: bold;
}

.blog-item h4 a {
  color: var(--color--legacy--violet--gun-powder);
}

.blog-item .item-meta {
  font-weight: bold;
  color: var(--color--legacy--blue--mariner-2);
  font-size: 16px;
  margin-bottom: 15px;
}

.blog-item .item-meta .topic-link {
  text-transform: capitalize;
  font-size: 16px;
}

.blog-item .item-inner {
  position: relative;
}

.blog-item .more-link {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.mb-scroller-wrapper .slick-dots, .slider-nav .slick-dots {
  padding-left: 0;
}

.center-cards .slick-list {  display: flex !important; position: relative; justify-content: center; flex-wrap: wrap;   }
