.slider-nav .slick-prev,
.slider-nav .slick-next {
  position: static;
}

.blog-item .custom-img {
  border-radius: 0;
}

.box-image-wrapper {
  max-width: 100%;
}

.box-image-wrapper.align-right {
  margin-left: auto;
}

.box-image-wrapper.align-center {
  margin-right: auto;
  margin-left: auto;
}

.item-img.shape-landscape {
  padding-top: 60%;
}

.item-img.shape-square {
  padding-top: 100%;
}

.item-img.shape-portrait {
  padding-top: 150%;
}

.item-img.shape-circle {
  border-radius: 50% !important;
  padding-top: 100%;
}

.blog-item h4 {
  font-weight: bold;
}

.blog-item h4 a {
  color: var(--color--legacy--violet--gun-powder);
}

.blog-item .item-meta {
  margin-bottom: 15px;
  color: var(--color--legacy--blue--mariner-2);
  font-size: var(--font-size--legacy--7);
  font-weight: bold;
}

.blog-item .item-meta .topic-link {
  text-transform: capitalize;
  font-size: var(--font-size--legacy--7);
}

.blog-item .item-inner {
  position: relative;
}

.blog-item .more-link {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.mb-scroller-wrapper .slick-dots,
.slider-nav .slick-dots {
  padding-left: 0;
}

.center-cards .slick-list {
  display: flex !important;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}
