.hs-form__actions__submit {
  display: inline-block;
  border: 0 solid var(--color--white);
  border-radius: 100px;
  background: var(--color--cherry);
  padding: 13px 55px;
  max-width: 350px;
  text-align: center;
  text-decoration: none;
  color: var(--color--white);
}

/* Generic button style for anchor links */
.styled-button {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  border-radius: var(--spacing-6);
  box-shadow: var(--shadow--button);
  background-color: var(--fill--color);
  padding: 0 var(--spacing-6);
  width: var(--spacing-64);
  height: var(--spacing-12);
  text-decoration: none;
  text-shadow: none;
  line-height: normal;
  color: var(--accent--color);
  font-family: var(--font-family--body);
  font-size: var(--font-size--16);
  font-weight: 700;
}

.styled-button:hover,
.styled-button:focus {
  text-decoration: none;
}

@media (max-width: 767px) {
  .styled-button {
    width: var(--spacing-40);
  }
}

.dnd-section button.close-button,
.dnd-section button.close-button:hover,
.dnd-section button.close-button:focus,
.close-button {
  border: none;
  background-color: transparent;
  background-image: var(--icon--x);
  width: 24px;
  height: 24px;
}

/* White text on red background */
.primary-button {
  --accent--color: var(--color--white);
  --fill--color: var(--color--cherry);
}

.primary-button:hover,
.primary-button:focus {
  --accent--color: var(--color--white);
  --fill--color: var(--color--legacy--red--cinnabar-2);

  /* re-assert to prevent override */
  color: var(--color--white);
}

/* Green text on white background */
.secondary-button {
  --accent--color: var(--color--water);
  --fill--color: var(--color--white);

  border: 1px solid var(--accent--color);

  /* re-assert to prevent override */
  color: var(--accent--color);
}

.secondary-button:hover,
.secondary-button:focus {
  --accent--color: var(--color--white);
  --fill--color: var(--color--water);

  /* re-assert to prevent override */
  color: var(--accent--color);
}

/* White text on green background */
.tertiary-button {
  --accent--color: var(--color--white);
  --fill--color: var(--color--water);

  /* re-assert to prevent override */
  color: var(--accent--color);
}

.tertiary-button:hover,
.tertiary-button:focus {
  background-color: var(--color--legacy--green--mosque);

  /* re-assert to prevent override */
  color: var(--accent--color);
}

/* Arrow properties */
.arrow-link::after,
.arrow-link::before {
  display: inline-block;
  transition: var(--transition--default);
  background-color: var(--accent--color);
  background-repeat: no-repeat;
  width: var(--icon--square--size);
  height: var(--icon--square--size);
  vertical-align: text-bottom;
  mask-image: var(--icon--arrow--right);
}

/* Forward arrow content */
.arrow-link.arrow-link-forward::after {
  margin-left: var(--icon--gap);
  content: '';
}

/* Backward arrow content */
.arrow-link.arrow-link-back::before {
  transform: rotate(180deg);
  margin-right: var(--icon--gap);
  content: '';
}

/* PDF links */
.pdf-link::before {
  --icon--size: 15px;

  display: inline-block;
  transition: var(--transition--default);
  margin-right: var(--spacing-1);
  background-color: var(--color--water);
  background-repeat: no-repeat;
  width: var(--icon--size);
  height: var(--icon--size);
  content: '';
  mask-image: var(--icon--pdf);
}

/* Set colors for light-button attached carets */
.light-button.caret {
  --accent--color: var(--color--white);
}

/* caret properties */
.caret::after {
  display: inline-block;
  transition: var(--transition--default);
  background-color: var(--accent--color);
  background-repeat: no-repeat;
  width: var(--icon--square--size);
  height: var(--icon--square--size);
  vertical-align: text-bottom;
  mask-image: var(--asset--caret--down);
}

/* caret content */
.caret.caret-down::after {
  margin-left: var(--icon--gap);
  content: '';
}

.caret.caret-up::after {
  mask-image: var(--asset--caret--up);
  margin-left: var(--icon--gap);
  content: '';
}

/* Used to style a button to look like a link */
.dnd-section button.link-style,
.dnd-section button.link-style:focus {
  text-decoration: underline;
  color: var(--color--water) !important;
}

.dnd-section button.link-style:hover {
  color: var(--color--water--medium) !important;
}

.dnd-section .remove-globals,
.dnd-section .remove-globals:hover,
.dnd-section .remove-globals:focus {
  display: unset;
  border: unset;
  border-radius: unset;
  background: unset;
  padding: unset;
  max-width: unset;
  text-align: unset;
  text-decoration: unset;
  text-shadow: unset;
  color: unset;
  font-family: unset;
}

button.no-button,
button.no-button:hover,
button.no-button:focus,
button.no-button:active,
.dnd-section button.no-button,
.dnd-section button.no-button:hover,
.dnd-section button.no-button:focus,
.dnd-section button.no-button:active {
  transition: none;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  background: none;
  padding: 0;
  text-align: left;
  text-decoration: none;
  line-height: inherit;
  letter-spacing: inherit;
  color: initial;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}
