/* Form */
select {
  appearance: none;
  position: relative;
  background:
    url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZDcyYTI1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+')
      no-repeat,
    linear-gradient(
      var(--color--legacy--white--white--alpha-100),
      var(--color--legacy--white--white--alpha-100)
    ) !important;
  background-position: right 15px top 17px !important;
}

.dnd-section h3.form-title {
  margin: 0;
  padding-bottom: 30px;
  {% if theme.forms.header_background_color.opacity > 0 %}
  padding: 7%;
  {% endif %}
  color: var(--theme--forms--header-text-color);
  font-family: var(--theme--global-fonts--secondary-font);
}

{% if theme.forms.form_background_color.opacity > 0 %}
.dnd-section .widget-type-form {
  border-radius: var(--theme--spacing--border-radius);
  background: var(--theme--forms--form-background-color);
  overflow: hidden;
}

.dnd-section .widget-type-form form {
  padding: 7%;
}

.dnd-section .dnd-column[class*='background-color'] .widget-type-form {
  box-shadow: 0 0 15px var(--color--legacy--black--black--alpha-15);
}
{% endif %}

.dnd-section .hs-form-field {
  margin-bottom: 1rem;
}

/* Labels */

.dnd-section form label {
  display: block;
  margin-bottom: 0;
  padding-top: 0;
  width: auto;
  text-align: left;
  color: var(--color--legacy--blue--gulf-blue);
  font-size: var(--font-size--16);
}

/* Help text - legends */

.dnd-section form legend {
  color: var(--color--legacy--blue--gulf-blue);
  font-size: var(--font-size--16);
}

/* Inputs */

.dnd-section .input {
  position: relative;
}

.dnd-section input[type='email'],
.dnd-section input[type='file'],
.dnd-section input[type='number'],
.dnd-section input[type='password'],
.dnd-section input[type='tel'],
.dnd-section input[type='text'],
.dnd-section select,
.dnd-section textarea {
  display: inline-block;
  padding: 0 20px 16px;
  width: 100%;
  color: var(--color--legacy--blue--gulf-blue);
  font-size: var(--font-size--16);
}

.dnd-section select,
.dnd-section textarea {
  padding: 16px 20px;
}

.filter-form.direction-hori .tp-main {
  border: 1px solid var(--color--legacy--blue--link-water-2);
  border-radius: 3px;
  border-color: var(--theme--forms--field-border-color);
  background: var(--color--legacy--white--white-smoke-4);
  padding: 12px 20px;
  color: var(--theme--typography--body-text--color);
  font-size: var(--font-size--16);
}

.dnd-section form fieldset.form-columns-1 .hs-input {
  width: 100%;
}

.systems-page input[type='email'],
.systems-page input[type='file'],
.systems-page input[type='number'],
.systems-page input[type='password'],
.systems-page input[type='tel'],
.systems-page input[type='text'],
.systems-page select,
.systems-page textarea {
  display: inline-block;
  border: 1px solid var(--color--legacy--blue--link-water-2);
  border-radius: 3px;
  background-color: var(--color--white);
  padding: 0.7rem;
  width: 100%;
  color: var(--color--legacy--blue--gulf-blue);
  font-size: var(--font-size--16);
}

.systems-page .actions {
  padding-top: 20px;
}

/* Inputs - file picker */

input[type='file'] {
  border: initial;
  box-shadow: none;
  background-color: transparent;
  padding: initial;
  line-height: initial;
}

.dnd-section input[type='email']:focus,
.dnd-section input[type='file']:focus,
.dnd-section input[type='number']:focus,
.dnd-section input[type='password']:focus,
.dnd-section input[type='tel']:focus,
.dnd-section input[type='text']:focus,
.dnd-section select:focus,
.dnd-section textarea:focus {
  outline-color: var(--color--legacy--blue--cornflower-blue--alpha-80);
}

.dnd-section fieldset {
  margin-right: -8px !important;
  max-width: 110% !important;
}

/* Inputs - checkbox/radio */

form .inputs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inputs-list > li {
  display: block;
  margin: 0.7rem 0;
  padding: 0;
  width: 100%;
}

.inputs-list input,
.inputs-list span {
  vertical-align: middle;
  font-size: var(--font-size--16);
}

.hs-input[type='checkbox'],
.hs-input[type='radio'] {
  margin-right: 0.35rem;
  border: none;
  cursor: pointer;
  padding: 0;
  width: auto;
  height: auto;
  line-height: normal;
}

/* .hs-fieldtype-intl-phone.hs-input select {
 color: var(--color--white) !important;
} */

@media (max-width: 765px) {
  .form-columns-2 .hs-form-field .hs-input {
    width: 100% !important;
  }
}

/* Inputs - datepicker */

.hs-fieldtype-date .input .hs-dateinput::before {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: var(--color--legacy--blue--gulf-blue);
  content: '\01F4C5';
}

.fn-date-picker .pika-table thead th {
  color: var(--color--white);
}

.fn-date-picker td.is-today .pika-button {
  color: var(--color--legacy--blue--mirage);
}

.fn-date-picker td.is-selected .pika-button {
  border-radius: 0;
  box-shadow: none;
  background: var(--color--legacy--blue--mirage);
}

.fn-date-picker td .pika-button:hover {
  border-radius: 0 !important;
  background-color: var(--color--legacy--blue--mirage) !important;
  color: var(--color--white);
}

/* Headings and text */

form .hs-richtext,
form .hs-richtext p {
  margin: 0 0 1.4rem;
  font-size: var(--font-size--14);
}

form .hs-richtext img {
  max-width: 100% !important;
}

form .header {
  border: none;
  background-color: transparent;
}

/* GDPR */

.legal-consent-container .hs-form-booleancheckbox-display > span,
.legal-consent-container .hs-form-booleancheckbox-display > span p {
  margin-left: 1rem !important;
  font-size: var(--font-size--14);
}

/* Validation */

.hs-form-required {
  color: var(--color--cherry);
}

.hs-input.invalid.error {
  border-color: var(--color--legacy--brown--burnt-sienna);
}

.hs-error-msg {
  margin-top: 0.35rem;
  color: var(--color--legacy--brown--burnt-sienna);
}

/* Submit button */

.dnd-section form input[type='submit'],
.dnd-section form .hs-button {
  display: inline-block;
  position: relative;
  margin: 0;
  border: 1px solid var(--color--legacy--violet--gun-powder);
  border-radius: 6px;
  background-color: var(--color--legacy--violet--gun-powder);
  cursor: pointer;
  padding: 15px 53px;
  width: auto;
  height: auto;
  text-align: center;

  /* default "Get Free Widget" form (renders when no form is passed to the form
  HubL tag) is an anchor (a.hs-button) rather than a real input, so it needs
  explicit CSS to avoid link styling */
  text-decoration: none;
  line-height: var(--line-height--110);
  white-space: normal;
  word-break: break-word;
  color: var(--color--white);
  font-size: var(--font-size--legacy--6);
  font-weight: normal;
}

.dnd-section form input[type='submit']:active,
.dnd-section form .hs-button:active {
  border-color: var(--color--legacy--blue--storm-grey);
  background-color: var(--color--legacy--blue--storm-grey);

  /* see "no form selected" note above */
  color: var(--color--white);
}

/* Captcha */

form {
  {{ body_font.style }};
}

.submitted-message {
  {{ body_font.style }};
}

/* Form label */

.dnd-section form label {
  color: var(--theme--forms--label-color);
}

/* Form help text */
.dnd-section form legend {
  color: var(--theme--forms--help-text-color);
}

/* Form inputs */

#form-module_166872823299214 label span {
  color: var(--color--white) !important;
}

.dnd-section input[type='email'],
.dnd-section input[type='file'],
.dnd-section input[type='number'],
.dnd-section input[type='password'],
.dnd-section input[type='tel'],
.dnd-section input[type='text'],
.dnd-section select,
.dnd-section textarea {
  border: {% if theme.forms.border_style == 'full' %}1px solid var(--theme--forms--field-border-color){% else %}none{% endif %};
  {% if theme.forms.border_style == 'underline' %}
  border-bottom: 1px solid var(--theme--forms--field-border-color);
  {% endif %}
  border-radius: var(--theme--forms--border-radius);
  background: var(--theme--forms--field-background-color);
  padding: var(--theme--forms--padding);
}

.dnd-section select,
.dnd-section textarea {
  border: 1px solid var(--theme--forms--field-border-color);
  background: var(--theme--forms--field-background-color);
  color: var(--theme--typography--body-text--color);
}

.dnd-section input::placeholder {
  color: var(--theme--typography--body-text--color);
}

.dnd-section input[type='email']:focus,
.dnd-section input[type='file']:focus,
.dnd-section input[type='number']:focus,
.dnd-section input[type='password']:focus,
.dnd-section input[type='tel']:focus,
.dnd-section input[type='text']:focus,
.dnd-section select:focus,
.dnd-section textarea:focus {
  border-color: var(--theme--forms--field-focus-border-color);
}

/* Form placeholder text */

::placeholder {
  color: var(--theme--typography--body-text--color);
}

.hs-fieldtype-date .input .hs-dateinput::before {
  color: var(--theme--typography--body-text--color);
}

/* Date picker */
.fn-date-picker td.is-selected .pika-button {
  background: var(--theme--global-colors--primary-color);
}

.fn-date-picker td .pika-button:hover {
  background-color: var(--theme--global-colors--primary-color) !important;
}

.fn-date-picker td.is-today .pika-button {
  color: var(--theme--global-colors--primary-color);
}

/* Submit button */

.dnd-section form .hs-button,
.dnd-section form input[type='submit'] {
  display: inline-block;
  transition: all 0.15s linear;
  border: var(--theme--buttons--border);
  border-radius: var(--theme--buttons--border-radius);
  background-color: var(--theme--buttons--background-color);
  padding: var(--theme--buttons--padding);
  color: var(--theme--buttons--text-color);
}

.dnd-section form input[type='submit']:hover,
.dnd-section form input[type='submit']:focus,
.dnd-section form .hs-button:hover,
.dnd-section form .hs-button:focus {
  border: var(--theme--buttons--border);
  color: var(--theme--buttons--text-color);
}

.dnd-section form .hs-button:active,
.dnd-section form input[type='submit']:active {
  border-color: var(--theme--buttons--border-color--lightened);
  background-color: var(--theme--buttons--background-color--lightened);
  color: var(--theme--buttons--text-color);
}

.dnd-section .span6 form input[type='submit'],
.dnd-section .span6 form .hs-button,
.dnd-section .span5 form input[type='submit'],
.dnd-section .span5 form .hs-button,
.dnd-section .span4 form input[type='submit'],
.dnd-section .span4 form .hs-button,
.dnd-section .span3 form input[type='submit'],
.dnd-section .span3 form .hs-button {
  padding: 12px;
  width: 100%;
}

.dnd-section .span6 form input[type='submit']:hover,
.dnd-section .span6 form .hs-button:hover,
.dnd-section .span5 form input[type='submit']:hover,
.dnd-section .span5 form .hs-button:hover,
.dnd-section .span4 form input[type='submit']:hover,
.dnd-section .span4 form .hs-button:hover,
.dnd-section .span3 form input[type='submit']:hover,
.dnd-section .span3 form .hs-button:hover {
  box-shadow: 3px 3px 10px var(--color--legacy--black--black--alpha-20);
}

.color-section,
.color-section form label,
.color-section h2,
.color-section h3,
.color-section h4,
.color-section h5 {
  color: var(--color--white);
}

.color-section div[class*='background-color'],
.color-section div[class*='background-color'] form label,
.color-section div[class*='background-color'] h2,
.color-section div[class*='background-color'] h3,
.color-section div[class*='background-color'] h4,
.color-section div[class*='background-color'] h5 {
  color: var(--theme--typography--body-text--color);
}

.color-section form input[type='text'],
.color-section form input[type='email'],
.color-section form input[type='password'],
.color-section form input[type='tel'],
.color-section form input[type='number'],
.color-section form input[type='file'],
.color-section form select,
.color-section form textarea {
  border-color: var(--color--white);
}

.color-section div[class*='background-color'] form input[type='text'],
.color-section div[class*='background-color'] form input[type='email'],
.color-section div[class*='background-color'] form input[type='password'],
.color-section div[class*='background-color'] form input[type='tel'],
.color-section div[class*='background-color'] form input[type='number'],
.color-section div[class*='background-color'] form input[type='file'],
.color-section div[class*='background-color'] form select,
.color-section div[class*='background-color'] form textarea {
  border-color: var(--theme--forms--field-border-color);
}

.color-section form input[type='submit'],
.color-section form .hs-button {
  border: var(--theme--buttons--light-button--border);
  border-radius: var(--theme--buttons--light-button--border-radius);
  background: var(--theme--buttons--light-button--background-color);
  max-width: 250px;
  text-align: center;
  text-decoration: none;
  color: var(--theme--buttons--light-button--text-color);
  font-family: var(--theme--global-fonts--secondary-font);
}

.color-section div[class*='background-color'] form input[type='submit'],
.color-section div[class*='background-color'] form .hs-button {
  border: var(--theme--buttons--border);
  border-radius: var(--theme--buttons--border-radius);
  background: var(--theme--buttons--background-color);
  max-width: 250px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  color: var(--theme--buttons--text-color);
  font-family: var(--theme--global-fonts--secondary-font);
}

html .color-section form input[type='submit']:hover,
html .color-section form input[type='submit']:focus,
html .color-section form .hs-button:hover,
html .color-section form .hs-button:focus {
  color: var(--theme--buttons--light-button--hover-text-color) !important;
}

html
  .color-section
  div[class*='background-color']
  form
  input[type='submit']:hover,
html
  .color-section
  div[class*='background-color']
  form
  input[type='submit']:focus,
html .color-section div[class*='background-color'] form .hs-button:hover,
html .color-section div[class*='background-color'] form .hs-button:focus {
  color: var(--theme--buttons--hover-text-color) !important;
}

html .color-section select {
  background: var(--color--white);
}

html .color-section input::placeholder {
  color: var(--color--white);
}

html .color-section div[class*='background-color'] input::placeholder {
  color: var(--theme--typography--body-text--color);
}

.hs-form__legal-consent * {
  line-height: var(--line-height--legacy--3);
  font-size: var(--font-size--legacy--2);
}

/*
@media (max-width: 765px) {
  .hs-fieldtype-intl-phone.hs-input input {
    margin-top: 15px !important;
    width: 100% !important;
  }

  .hs-fieldtype-intl-phone.hs-input select {
    width: 100% !important;
  }
}
*/
