/* Base link styles */

.link,
.links {
  --link-color: var(--color--water);
  --link-color--targeted: var(--color--water--medium);
  --link-color--active: var(--color--cherry);
  --link-color--visited: var(--color--water--half-baked);

  transition: none;
  text-decoration: none;
  color: var(--link-color);
}

.link:visited,
.links a:visited {
  color: var(--link-color--visited);
}

.link:hover,
.links a:hover {
  text-decoration: underline;
  color: var(--link-color--targeted);
}

.link:focus,
.links a:focus {
  text-decoration: underline;
  color: var(--link-color--targeted);
}

.link:active,
.links a:active {
  text-decoration: underline;
  color: var(--link-color--active);
}

/* Link variants */

.link.slate,
.links.slate a {
  --link-color: var(--color--slate);
}

.link.grey-3,
.links.grey-3 a {
  --link-color: var(--color--grey-3);
}
