/* Base link styles */

.link {
  --link-color: var(--color--water);
  --link-color--targeted: var(--color--blue);
  --link-color--active: var(--color--cherry);
  --link-color--visited: var(--color--water--half-baked);

  transition: none;
  text-decoration: none;
  color: var(--link-color);
}

.link:hover {
  text-decoration: underline;
  color: var(--link-color--targeted);
}

.link:focus {
  text-decoration: underline;
  color: var(--link-color--targeted);
}

.link:active {
  text-decoration: underline;
  color: var(--link-color--active);
}

.link:visited {
  color: var(--link-color--visited);
}

/* Link variants */

.link.slate {
  --link-color: var(--color--slate);
}

.link.grey-3 {
  --link-color: var(--color--grey-3);
}
