/* Body */

html body {
  line-height: var(--line-height--legacy--body);
  word-break: break-word;
  color: var(--color--legacy--violet--gun-powder);
}

html[lang^='ja'] body,
html[lang^='zh'] body,
html[lang^='ko'] body {
  line-break: strict;
  word-break: break-all;
}

/* Anchors */

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.4rem;
  color: var(--color--legacy--violet--gun-powder);
  font-weight: 700;
}

h1 {
  font-size: var(--font-size--legacy--19);
}

h2 {
  font-size: var(--font-size--legacy--15);
}

h3 {
  font-size: var(--font-size--20);
}

h4 {
  font-size: var(--font-size--legacy--10);
  font-weight: normal;
}

h5 {
  font-size: var(--font-size--16);
}

h6 {
  font-size: var(--font-size--legacy--5);
}

@media (max-width: 767px) {
  .entity-paragraphs-item.paragraphs-item-headline {
    line-height: normal !important;
    font-size: var(--font-size--legacy--23);
  }
}

/* Lists */

ol,
ul {
  margin: 0 0 1.5rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

ul.no-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* Code blocks */

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  margin: 0 0 1.4rem;
  border-left: 2px solid var(--color--legacy--grey--dark-grey-1);
  padding-left: 15px;
}

/* Horizontal rules */

hr {
  border: none;
  height: 1px;
  color: var(--color--legacy--grey--very-light-grey-1);
}

/* Paragraphs */

p {
  margin: 0 0 1.4rem;
}

/* Strong */

strong {
  font-weight: var(--font-weight--bold);
}

/* Subscripts and superscripts */

sup,
sub {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
  font-size: 75%;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Big numbers utility class */

.big-number {
  font: var(--font--big-number);
}

/* Paragraph utility classes */

.p-xl {
  font: var(--font--extra-large-paragraph);
}

.p-lg {
  font: var(--font--large-paragraph--desktop);
}

.p-md {
  font: var(--font--paragraph);
}

@media (max-width: 767px) {
  .p-xl {
    font: var(--font--large-paragraph--mobile);
  }

  .p-lg {
    font: var(--font--large-paragraph--mobile);
  }
}
