<div id="{{name}}" class="bp-bundled-courses-wrap">
  <div class="bp-bundled-courses {% if module.courses|length > 4 %}bp-bundled-courses-sm-plus{% endif %}">
    {% for item in module.courses %}
    <div class="bp-bundled-course bp-{{ item.product_id }}">
      <div class="bp-bundled-course-card">
        <div class="bp-bundled-course-card-head">
          <div class="bp-bundled-course-card-img" style="background: url('{{item.image_field.src}}')"></div>
          <div>
            <div>{{item.course_name}}</div>
            {% if item.product_id %}<div class="bp-price"></div>{% endif %}
          </div>
        </div>
        <div class="bp-card-options"></div>
      </div>
    </div>

    {% if not loop.last %}
    <div class="bp-plus">
      <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  
  <div class="bp-add-cart jd-request-btn hs-button light-button jd-arrow-link">Add Bundle to Cart</div>
  
<script>
(function () {
  const bundleProducts = [];
  
  $('#{{name}} .bp-add-cart').click(async function() {
    for(const product of bundleProducts) {
      let variant;
      for(const v of product.variants) {
        if(v.available) {
          let isMatch = true;
          for(const selectedOption of v.selectedOptions) {
            if(product.userSelectedOptions[selectedOption.name] != selectedOption.value) {
              isMatch = false;
            }
          }
          if(isMatch) {
            variant = v;
          }
        }
      }
      
      if(!variant) {
        alert('This combination of options is invalid')
      } else {
        const lineItemsToAdd = [
          {
            variantId: variant.id,
            quantity: 1
          }
        ];
        console.log(lineItemsToAdd);
        await IINShopifyClient.checkout.addLineItems(getCookie('shopifyCart'), lineItemsToAdd)
          .then((checkout) => {
          console.log(checkout);
        })
          .catch(e => {
          console.log(e);
        });
      }
    }
  });
  
  function checkSelectedOptions(changedAttribute, product) {
    const options = {};
    for(const v of product.variants) {
      if(v.available) {
        let isValid = false;
        // Loading all for changed field
        for(const selectedOption of v.selectedOptions) {
          if(selectedOption.name == changedAttribute) {
            if(!options[selectedOption.name]) {
              options[selectedOption.name] = [ selectedOption.value ];
            } else if(!options[selectedOption.name].includes(selectedOption.value)) {
              options[selectedOption.name].push(selectedOption.value);
            }
            if(selectedOption.value == product.userSelectedOptions[changedAttribute]) {
              isValid = true;
            }
          }
        }
        // Only loading options if valid relative to the changed option
        if(isValid) {
          for(const selectedOption of v.selectedOptions) {
            if(selectedOption.name != changedAttribute) {
              if(!options[selectedOption.name]) {
                options[selectedOption.name] = [ selectedOption.value ];
              } else if(!options[selectedOption.name].includes(selectedOption.value)) {
                options[selectedOption.name].push(selectedOption.value);
              }
            }
          }
        }
      }
    }
    for(const key in options) {
      if(!options[key].includes(product.userSelectedOptions[key])) {
        product.userSelectedOptions[key] = options[key][0];
      }
    }
    console.log("OPTIONS");
    console.log(options);
    
    console.log("SELECTED OPTIONS");
    console.log(product.userSelectedOptions);
    
    let html = '';
    // Not showing options if there is only 1 default field
    if(options[product.optionKeys[0]][0] != 'Default Title') {
      html += '<div class="bp-options">';
      for(const o of product.optionKeys) {
        html += `<select data-shopify-option-type="${o}"><option disabled>${o}</option>`;
        for(let i = 0; i < options[o].length; i++) {
          const val = options[o][i];
          html += `<option ${val == product.userSelectedOptions[o] ? 'selected' : ''} value="${val}">${val}</option>`;
        }
        html += '</select>';
      }
      html += '</div>';
    }

    $(`#{{name}} .bp-${product.id.replace('gid://shopify/Product/', '')} .bp-card-options`).html(html);
      
    // Option click
    $(`#{{name}} .bp-${product.id.replace('gid://shopify/Product/', '')} select`).change(function() {
      const type = $(this).data('shopify-option-type');
      const val = $(this).val();
      product.userSelectedOptions[type] = val;
      checkSelectedOptions(type, product);
    });
  }
  
  IINShopifyClient.checkout.create().then(async (checkout) => {
    let lineItemsToAdd = [];
    {% for item in module.courses %}
      {% if item.product_id %}
        await IINShopifyClient.product.fetch('gid://shopify/Product/{{ item.product_id }}').then(function(product) {
          for(const v of product.variants) {
            if(v.available) {
              lineItemsToAdd.push({
                variantId: v.id,
                quantity: 1
              });
              break;
            }
          }
        })
      {% endif %}
    {% endfor %}
  
    if(lineItemsToAdd.length) {
      await IINShopifyClient.checkout.addLineItems(checkout.id, lineItemsToAdd);
    }
  
    IINShopifyClient.checkout.fetch(checkout.id)
      .then(async checkout => {
        let totalAfterDiscount = parseFloat(checkout.totalPrice.amount);
        let total = totalAfterDiscount;
        if(checkout.discountApplications && checkout.discountApplications.length) {
          for(const discount of checkout.discountApplications) {
            total += parseFloat(discount.value.amount);
          }
        }
        if(total == totalAfterDiscount) {
          $('#course-shopify-price').text('$' + total.toLocaleString());
        } else {
          const difference = total - totalAfterDiscount;
          $('#bundle-shopify-price-savings').html(`Savings of <span>$${difference.toLocaleString()}</span> by bundling together`);
          $('#course-shopify-price').text('$' + totalAfterDiscount.toLocaleString());
          $('#course-shopify-compare').text('$' + total.toLocaleString());
          $('#course-shopify-compare').show();
        }
        for(const line of checkout.lineItems) {
          IINShopifyClient.product.fetch(line.variant.product.id).then(function(product) {
            product.userSelectedOptions = {};
            product.optionKeys = [];
            let initialOptionToCheck;
            for(const v of product.variants) {
              if(v.available) {
                for(const selectedOption of v.selectedOptions) {
                  if(!initialOptionToCheck) {
                    initialOptionToCheck = selectedOption.name;
                    product.userSelectedOptions[selectedOption.name] = selectedOption.value;
                  }
                  // Keeping keys in array to preserve order
                  product.optionKeys.push(selectedOption.name);
                }
                break;
              }
            }
            bundleProducts.push(product);
            checkSelectedOptions(initialOptionToCheck, product);
          })
          .catch(e => { console.log(e); });
        }
    });
  
  });
})();
</script>
</div>