{% import './tools/_macros.css' %}

{## Table of contents
  1. Containers / Grid / DnD Areas
  2. Typography
  3. Buttons
  4. Tables
  5. Site header
  6. Site footer
  7. Blog
  8. Modules
  9. Form contact
##}

{###########################################################################}
{###################  1. Containers / Grid / DnD Areas   ###################}
{###########################################################################}

.hero-section .dnd-column { text-shadow: 2px 2px 2px var(--theme--spacing--overlay-color); }
.hero-section div[class*="background-color"] * { text-shadow: none; }
.hero-section:after { content: '';display:block;position: absolute;z-index: 2;top:0;bottom:0;left:0;right:0;background: var(--theme--spacing--overlay-color);background: linear-gradient(180deg, var(--theme--spacing--overlay-color) 50%, var(--theme--spacing--overlay-color--alpha-33) 100%); }
.hero-section > .row-fluid { position: relative;z-index: 3; }

{###########################################################################}
{###########################   2. Typography   #############################}
{###########################################################################}

html {
  font-size: var(--theme--typography--body-text--font-size);
}

body {
  {{ theme.typography.body_text.style }};
  color: var(--theme--typography--body-text--color);
}

body h1, body h2, body h3, body h4 * { font-family: var(--font-family--legacy--heading); }
@font-face { 
  font-family: 'JuniusX-Bold'; 
  src: url('https://23273748.fs1.hubspotusercontent-na1.net/hubfs/23273748/Website%20Font%20%E2%80%93%20JuniusX/JuniusX-Bold.ttf') format('truetype');
}

@font-face { 
  font-family: 'JuniusX-Regular'; 
  src: url('https://23273748.fs1.hubspotusercontent-na1.net/hubfs/23273748/Website%20Font%20%E2%80%93%20JuniusX/JuniusX-Regular.ttf') format('truetype');
}

@font-face { 
  font-family: 'JuniusX-Medium'; 
  src: url('https://23273748.fs1.hubspotusercontent-na1.net/hubfs/23273748/Website%20Font%20%E2%80%93%20JuniusX/JuniusX-Medium.ttf') format('truetype');
}

@font-face { 
  font-family: 'JuniusX-Light'; 
  src: url('https://23273748.fs1.hubspotusercontent-na1.net/hubfs/23273748/Website%20Font%20%E2%80%93%20JuniusX/JuniusX-Light.ttf') format('truetype');
}

@font-face { 
  font-family: 'JuniusX-Semibold'; 
  src: url('https://23273748.fs1.hubspotusercontent-na1.net/hubfs/23273748/Website%20Font%20%E2%80%93%20JuniusX/JuniusX-Semibold.ttf') format('truetype');
}

/* Paragraphs */

p {
  {{ theme.typography.body_text.style }};
}

/* Anchors */

a {
  color: var(--theme--typography--link-color);
}

a:hover,
a:focus {
  color: var(--theme--global-colors--primary-color);
}

a:active {
  color: var(--theme--typography--link-color--lightened);
}

/* Headings */

h1 {
  {{ theme.typography.heading_one.style }};
  color: var(--theme--typography--heading-1--color);
  font-size: var(--theme--typography--heading-1--font-size);
  line-height: var(--line-height--legacy--heading);
  {% if theme.typography.h1_transform %}text-transform: uppercase;{% endif %}
}

.single-header h1 {
  font-size: var(--theme--typography--heading-2--font-size);
}

h2 {
  {{ theme.typography.heading_two.style }};
  color: var(--theme--typography--heading-2--color);
  font-size: var(--theme--typography--heading-2--font-size);
  line-height: var(--line-height--legacy--heading);
  {% if theme.typography.h2_transform %}text-transform: uppercase;{% endif %}
}

h3 {
  {{ theme.typography.heading_three.style }};
  color: var(--theme--typography--heading-3--color);
  font-size: var(--theme--typography--heading-3--font-size);
  line-height: var(--line-height--legacy--heading);
  margin-top: 0;
  {% if theme.typography.h3_transform %}text-transform: uppercase;{% endif %}
}

h4 {
  {{ theme.typography.heading_four.style }};
  color: var(--theme--typography--heading-4--color);
  font-size: var(--theme--typography--heading-4--font-size);
  line-height: var(--line-height--legacy--heading);
  {% if theme.typography.h4_transform %}text-transform: uppercase;{% endif %}
}

h5 {
  {{ theme.typography.heading_five.style }};
  color: var(--theme--typography--heading-5--color);
  font-size: var(--theme--typography--heading-5--font-size);
  {% if theme.typography.h5_transform %}text-transform: uppercase;{% endif %}
}

h6 {
  {{ theme.typography.heading_six.style }};
  color: var(--theme--typography--heading-6--color);
  font-size: var(--theme--typography--heading-6--font-size);
  {% if theme.typography.h6_transform %}text-transform: uppercase;{% endif %}
}

.size-small {
  font-size: var(--theme--typography--body-text--font-size);
}

/* Blockquote */

blockquote {
  border-left-color: var(--theme--global-colors--secondary-color);
}

@media (max-width: 767px) {
  h1 {
    font-size: var(--theme--typography--heading-1--small--font-size);
    line-height: var(--line-height--legacy--heading);
  }

  .single-header h1 {
    font-size: var(--theme--typography--heading-2--small--font-size);
  }

  h2 {
    font-size: var(--theme--typography--heading-2--small--font-size);
    line-height: var(--line-height--legacy--heading);
  }

  h3 {
    font-size: var(--theme--typography--heading-3--small--font-size);
    line-height: var(--line-height--legacy--heading);
  }

  h4 {
    font-size: var(--theme--typography--heading-4--small--font-size);
    line-height: var(--line-height--legacy--heading);
  }
}

{###########################################################################}
{############################   3. Buttons   ###############################}
{###########################################################################}

.dnd-section button,
.dnd-section .button,
.dnd-section .hs-button,
.menu-wrapper .hs-button {
  display: inline-block;
  text-align: center;
  max-width: 350px;
  text-decoration: none;
  background: var(--theme--buttons--background-color);
  border: var(--theme--buttons--border);
  border-radius: var(--theme--buttons--border-radius);
  color: var(--theme--buttons--text-color);
  padding: var(--theme--buttons--padding);
  font-family: var(--theme--global-fonts--primary-font);
  /*
  box-shadow: {% if theme.buttons.gr_color.color %}var(--theme--buttons--hover-color) 0 0 10px -10px inset{% endif %};
  */
  text-shadow: none;
}
.dnd-section .span4 button, .dnd-section .span4 .button, .dnd-section .span4 .hs-button, .dnd-section .span3 button, .dnd-section .span3 .button, .dnd-section .span3 .hs-button, .dnd-section .span2 button, .dnd-section .span2 .button, .dnd-section .span2 .hs-button, .dnd-section .span1 button, .dnd-section .span1 .button, .dnd-section .span1 .hs-button { max-width: 100%; }

.dnd-section button:hover,
.menu-wrapper .hs-button:hover,
.dnd-section button:focus,
.dnd-section .button:hover,
.dnd-section .button:focus,
.dnd-section .hs-button:hover,
.dnd-section .hs-button:focus,
.slick-active button {
  text-decoration: none;
  color: var(--theme--buttons--hover-text-color) !important;
  /*
  box-shadow: {% if theme.buttons.gr_color.color %}var(--theme--buttons--hover-color) 350px 0 10px -10px inset{% endif %};
  */
  background: var(--theme--buttons--hover-color);
}
.dnd-section button svg,
.dnd-section button svg,
.dnd-section .button svg,
.dnd-section .button svg,
.dnd-section .hs-button svg,
.dnd-section .hs-button svg { fill: var(--theme--buttons--text-color); }
.dnd-section button:hover svg,
.dnd-section button:focus svg,
.dnd-section .button:hover svg,
.dnd-section .button:focus svg,
.dnd-section .hs-button:hover svg,
.dnd-section .hs-button:focus svg,
.slick-active button svg { fill: var(--theme--buttons--hover-text-color) !important; }

body .hs-button.light-button, .dnd-section .button-light form input[type=submit], .dnd-section .button-light form .hs-button, .menu-wrapper .button-light {
  display: inline-block;
  text-align: center;
  max-width: 350px;
  text-decoration: none;
  background: var(--theme--buttons--light-button--background-color);
  border: var(--theme--buttons--light-button--border);
  border-radius: var(--theme--buttons--light-button--border-radius);
  color: var(--theme--buttons--light-button--text-color);
  padding: var(--theme--buttons--padding);
  font-family: var(--theme--global-fonts--primary-font);
  /*
  box-shadow: {% if theme.buttons.light_buttons.gr_color.color %}var(--theme--buttons--light-button--hover-color--lightened) 0 0 10px -10px inset{% endif %};
  */
}

body .hs-button.light-button:hover, .menu-wrapper .button-light:hover,
body .hs-button.light-button:focus, .dnd-section .button-light form input[type=submit]:hover, .dnd-section .button-light form .hs-button:hover {
  text-decoration: none;
  color: var(--theme--buttons--light-button--hover-text-color) !important;
  /*
  box-shadow: {% if theme.buttons.light_buttons.gr_color.color %}var(--theme--buttons--light-button--hover-color--lightened) 350px 0 10px -10px inset{% endif %};
  */
  background: var(--theme--buttons--light-button--hover-color);
}

body .hs-button.light-button:active {
  background-color: var(--theme--buttons--background-color--lightened);
  border-color: var(--theme--buttons--light-button--border-color);
  color: var(--theme--buttons--text-color);
}


{###########################################################################}
{#############################   4. Tables   ###############################}
{###########################################################################}

.dnd-section table {
  background-color: var(--theme--tables--body-background-color);
  border-color: var(--theme--tables--border-color);
  max-width: 100%;
}

.dnd-section th,
.dnd-section td {
  border: none;
  color: var(--theme--tables--body-text-color);
}

.dnd-section thead th,
.dnd-section thead td {
  background-color: var(--theme--tables--header-background-color);
  border: var(--theme--tables--header-background-color);
  color: var(--theme--tables--header-text-color);
}

.dnd-section tfoot td {
  background-color: var(--theme--tables--footer-background-color);
  color: var(--theme--tables--footer-text-color);
}

.dnd-section tbody + tbody {
  border-top-color: var(--theme--tables--border-color);
}

.dnd-section table { border: none;border-radius: var(--theme--buttons--border-radius);overflow: hidden;background: var(--color--legacy--white--white-smoke-5); }
.dnd-section thead th, .dnd-section thead td { border-collapse: collapse; }
.dnd-section thead th:nth-child(1) { border-radius: var(--theme--buttons--border-radius) 0 0 0; }
.dnd-section thead th:nth-last-child(1) { border-radius: 0 var(--theme--buttons--border-radius) 0 0 ; }
.dnd-section tbody { border: none; }
.dnd-section tbody tr { border-bottom: 1px solid var(--theme--tables--border-color); }
.dnd-section tbody tr:nth-last-child(1) { border-bottom: none; }
.dnd-section tbody tr:hover { background: var(--color--legacy--blue--hawkes-blue); }

{###########################################################################}
{###########################   5. Site header   ############################}
{###########################################################################}

.header {
  background-color: var(--theme--header--background-color);
}

body .navigation-primary a,
.header__logo .logo-company-name,
.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
  color: var(--theme--header--menu-link-color);
  font-family: var(--theme--typography--body-text--font);
}

body .navigation-primary a:hover,
body .navigation-primary a:focus,
.header__language-switcher-label-current:hover,
.header__language-switcher-label-current:focus,
.header__language-switcher .lang_list_class li:hover a,
.header__language-switcher .lang_list_class li a:focus {
  color: var(--theme--header--menu-link-color--darkened);
}

body .navigation-primary a:active,
body .header__language-switcher-label-current:active,
body .header__language-switcher .lang_list_class li a:active {
  color: var(--theme--header--menu-link-color--lightened);
}

body .navigation-primary .submenu.level-1 > li > a.active-item:after {
  background-color: var(--theme--global-colors--primary-color);
}

body .submenu.level-2,
body .header__language-switcher .lang_list_class li {
  background-color: var(--theme--header--background-color);
  border-color: var(--theme--header--child-menu-border-color);
}
html .header__language-switcher .lang_list_class { padding-top: 50px;border-bottom: 3px solid var(--theme--global-colors--primary-color);width: 100px; }
html .lang_list_class:before { top: 34px;border: 8px solid transparent;border-bottom-color: var(--color--white);margin-left: -8px; }
html .lang_list_class:after { content: none; }
html .header__language-switcher .lang_list_class li { border: none !important;background: var(--color--white); }

body .submenu.level-2 > li:first-child:before {
  border-color: var(--theme--header--child-menu-border-color);
}


body .submenu.level-2 .menu-item .menu-link:hover,
body .submenu.level-2 .menu-item .menu-link:focus,
body .header__language-switcher .lang_list_class li:hover,
body .submenu.level-2 > li:first-child:hover:before,
body .submenu.level-2 > li:first-child.focus:before {
  background-color: var(--theme--header--background-color);
}

.header__language-switcher .lang_list_class.first-active::after {
  border-bottom-color: var(--theme--header--background-color);
}

.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
  font-family: var(--theme--typography--body-text--font);
}

.header__language-switcher-label-current:after {
  border-top-color: var(--theme--header--menu-link-color);
}

@media(max-width: 767px) {
  .header__navigation {
    background-color: var(--theme--header--background-color);
  }

  .header__navigation-toggle svg,
  .menu-arrow svg {
    fill: var(--theme--header--menu-link-color);
  }
}

{###########################################################################}
{###########################   6. Site footer   ############################}
{###########################################################################}

.footer {
  background-color: var(--theme--footer--background-color);
}

/* Footer Content */

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6
.footer p,
.footer a,
.footer div,
.footer span {
  color: var(--theme--footer--text-color);
}

{###########################################################################}
{##############################   7. Blog   ################################}
{###########################################################################}

.blog-post__date {
  border-color: var(--theme--typography--body-text--color);
}

.blog-tag-filter__menu-link,
.blog-post__tag-link,
.blog-card__tag-link,
.blog-post__author-name,
.blog-card__title a {
  color: var(--theme--typography--body-text--color);
}

.blog-card__tag-link:hover,
.blog-card__title a:hover,
.blog-tag-filter__menu-link:hover,
.blog-post__tag-link:hover,
.blog-post__author-name:hover,
.blog-card__tag-link:focus,
.blog-card__title a:focus,
.blog-tag-filter__menu-link:focus,
.blog-post__tag-link:focus,
.blog-post__author-name:focus {
  color: var(--theme--typography--body-text--color--darkened);
}

.blog-card__tag-link:active,
.blog-card__title a:active,
.blog-tag-filter__menu-link:active,
.blog-post__tag-link:active,
.blog-post__author-name:active {
  color: var(--theme--typography--body-text--color--lightened);
}

.blog-tag-filter__menu-link--active-item:after {
  background-color: var(--theme--global-colors--primary-color);
}

.blog-pagination__link {
  color: var(--theme--typography--body-text--color);
}

.blog-pagination__link--active:after,
.blog-pagination__prev-link:after,
.blog-pagination__next-link:after {
  background-color: var(--theme--global-colors--primary-color);
}

.blog-post__title {
  {{ theme.typography.heading_two.style }};
  color: var(--theme--typography--heading-2--color);
  font-size: var(--theme--typography--heading-2--font-size);
}

.blog-post__author {
  background-color: var(--theme--global-colors--secondary-color);
}

#comments-listing .comment-reply-to {
  color: var(--theme--typography--link-color);
}

#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus {
  color: var(--theme--typography--link-color--darkened);
}

#comments-listing .comment-reply-to:active {
  color: var(--theme--typography--link-color--lightened);
}

{###########################################################################}
{############################  8. Modules   ##############################}
{###########################################################################}

body .icon svg {
  fill: var(--theme--global-colors--primary-color);
}

body .tns-nav button.tns-nav-active {
  background-color: var(--theme--global-colors--primary-color);
}

body .tns-nav button:hover,
body .tns-nav button:focus {
  background-color: var(--theme--global-colors--primary-color);
}

body .team-member__description {
  background-color: var(--theme--global-colors--secondary-color);
}

.mb-resource-filter .topic-list {
  font-size: var(--font-size--legacy--4)!important; color: var(--color--legacy--grey--dim-grey-2);
}



{###########################################################################}
{############################  9. Form contact  ############################}
{###########################################################################}

.dnd-section .hsForm_4a043b7e-cde8-4f0c-8bd9-35d78c377c04 .actions .large {
 max-width:100% !important;
}



.map * {
 height:500px !important;
 min-height:394px !important;
 max-height:394px !important;
  
}

@media (min-width: 360px) and (max-width: 767px) {
  .dnd-section table { width: auto !important; }
 .hs_firstname #hs-form-4a043b7e-cde8-4f0c-8bd9-35d78c377c04_8d2743a0-4066-483c-b4cd-e71eb843216a  .form-columns-2 input {
    margin-right: 0px !important;
  }
  
}


