<!--
    templateType: global_partial
    isAvailableForNewContent: false
    label: Blog Hero
-->
{% if request.postDict.inpageEditorUI %}
  {{ require_css(get_asset_url('../../css/main.css')) }}
  {{ require_css(get_asset_url('../../css/slick.css')) }}
  {{ require_css(get_asset_url('../../css/theme-overrides.css')) }}
{% endif %}
<div class="container-wrapper">
  <div class="blog-container responsive">
    {% dnd_area 'dnd_blog_hero' class='mbp-blog-hero', label='Blog Hero' %}
    
    {% dnd_section
      max_width='{{theme.spacing.max_width}}',
      vertical_alignment='MIDDLE',
      padding={ 'default': { 'top': 150, 'bottom': 150 }, 'mobile': { 'top': 80, 'bottom': 80 } }
    %}
    {% dnd_column %}
    
    {% dnd_row %}
    
    {% dnd_column offset=0, width=7 %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text'%}
            {% module_attribute 'html' %}
              <h1>{{ page_meta.html_title|split(' | ')|last }}</h1>
              <p>Use this space to tell everyone about what you have to offer.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column offset=7, width=5 %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/space'%}{% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    
    {% end_dnd_row %}
    {% end_dnd_column %}
      
    {% end_dnd_section %}
    
    {% end_dnd_area %}
  </div>
</div><!--end footer wrapper -->

<!-- End partial -->