<!--
    templateType: global_partial
    isAvailableForNewContent: false
-->
<!-- Begin partial -->
<div class="mb-custom-header-wrapper">
  <div class="sticky-header">
    <div class="bottom-bar" style="" data-widget-type="cell" data-x="0" data-w="12">
      <div class="container">
        <span class="mobile-click"><div class="ham-wrap"><span class="ham1"></span><span class="ham2"></span><span class="ham3"></span></div><span class="ham-text">Menu</span></span>
      </div>
    </div>
    <div id="mobile-menu">
      mobile
    </div>
  </div>
</div>
<!-- End partial -->