/* Number in the variable name represents a multiplier for 0.25rem */
:root {
  --font-size--1: 5rem;
  --font-size--2: 3rem;
  --font-size--3: 2.5rem;
  --font-size--4: 2rem;
  --font-size--5: 1.5rem;
  --font-size--6: 1.375rem;
  --font-size--7: 1.25rem;
  --font-size--8: 1.125rem;
  --font-size--9: 1rem;
  --font-size--10: 0.875rem;
  --font-size--h1--desktop: var(--font-size--1);
  --font-size--h2--desktop: var(--font-size--2);
  --font-size--h3--desktop: var(--font-size--4);
  --font-size--h4--desktop: var(--font-size--5);
  --font-size--h5--desktop: var(--font-size--6);
  --font-size--h6--desktop: var(--font-size--7);
  --font-size--body--desktop: var(--font-size--9);
  --font-size--h1--mobile: var(--font-size--3);
  --font-size--h2--mobile: var(--font-size--4);
  --font-size--h3--mobile: var(--font-size--5);
  --font-size--h4--mobile: var(--font-size--7)
  --font-size--h5--mobile: var(--font-size--8);
  --font-size--h6--mobile: var(--font-size--9);
  --font-size--body--mobile: var(--font-size--10);
}
