@keyframes pdp-top-slide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.custom-button {
  display: inline-block;
  border: var(--theme--buttons--border);
  border-radius: var(--theme--buttons--border-radius);
  background: var(--theme--buttons--background-color);
  padding: var(--theme--buttons--padding);
  max-width: 350px;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  color: var(--theme--buttons--text-color);
  font-family: var(--theme--global-fonts--primary-font);
}

.pdp-affirm-line {
  padding-top: var(--spacing-2);
  font: var(--font--legal);
}

.pdp-bottom-content {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.pdp-bottom-heading-wrapper {
  --width: 224px;

  width: var(--width);
  min-width: var(--width);
}

.pdp-bottom-middle-head {
  margin-bottom: var(--spacing-4);
  font: var(--font--extra-large-paragraph);
}

.pdp-bottom-options-wrapper {
  flex-grow: 1;
  padding: 0 48px;
}

.pdp-bottom-price-wrapper {
  align-self: flex-end;
  width: 260px;
}

.pdp-bottom-price {
  text-align: right;
}

.pdp-code {
  display: flex;
  margin-top: 15px;
  border-radius: 8px;
  background: var(--color--water--light);
  padding: 8px 16px;
  font: var(--font--legal);
}

.pdp-code .svg-icon {
  margin-right: 10px;
  min-width: 20px;
}

.pdp-code-wrap {
  display: flex;
}

.pdp-price {
  display: flex;
  align-items: center;
}

.pdp-price-button-wrap {
  margin-top: 20px;
  padding-left: 0;
}

.pdp-price-button-wrap > * {
  margin-bottom: 10px;
}

.pdp-price-discount {
  border-radius: 8px;
  background: var(--color--water);
  padding: 4px 8px;
  color: var(--color--white);
}

.pdp-price-wrap {
  margin-right: 15px;
}

.pdp-slash {
  text-decoration: line-through;
  color: var(--color--cherry);
  font: var(--font--small-paragraph--light);
}

.pdp-sticky-wrap > * {
  pointer-events: none;
}

.pdp-bottom {
  display: flex;
}

.pdp-bottom h3 {
  font: var(--font--h2--desktop);
}

.pdp-bottom .jd-add-cart-wrap {
  display: flex;
  width: 100%;
}

.pdp-bottom .jd-add-cart-wrap > * {
  flex: 1;
}

.pdp-bottom .jd-buy-option {
  margin-bottom: var(--spacing-4);
  padding-right: 0;
  break-inside: avoid-column;
}

.pdp-bottom .jd-buy-option-label {
  margin-bottom: var(--spacing-1);
  text-decoration: none;
  color: var(--color--slate);
  font: var(--font--paragraph--medium);
}

.pdp-bottom .jd-shopify-add-btn {
  margin-top: 0;
  width: 260px !important;
  min-width: 150px !important;
  max-width: 100% !important;
}

.pdp-bottom .jd-shopify-options {
  display: block;
  columns: 310px 2;
}

.pdp-top .jd-buy-option {
  margin-bottom: 10px;
  padding-right: 0;
}

.pdp-bottom .jd-buy-option:last-child {
  margin-bottom: 0;
}

.pdp-top .jd-buy-option:last-child {
  margin-bottom: 0;
}

.pdp-bottom .jd-shopify-option-wrap > * {
  margin-right: 24px;
  margin-bottom: 0;
  padding: var(--spacing-2) 0;
}

.pdp-bottom .jd-shopify-option-wrap input {
  accent-color: var(--color--water);
  margin: 0 8px 5px 0;
}

.pdp-bottom .jd-shopify-option-wrap label {
  display: inline-block;
  font: var(--font--paragraph--semibold);
}

.pdp-bottom .pdp-price-button-wrap {
  margin-top: 0;
}

.pdp-bottom .pdp-price-button {
  margin-bottom: 0;
}

.pdp-bottom .pdp-price-discount {
  display: none;
}

.pdp-bottom .pdp-price-total {
  font: var(--font--large-paragraph--light);
}

.pdp-bottom .pdp-price-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 0;
}

.pdp-bottom .pdp-slash {
  margin-right: 5px;
}

.pdp-top-content {
  padding: var(--spacing-6--static) var(--spacing-4--static);
}

.pdp-top-content-sub {
  margin-bottom: 15px;
  font: var(--font--large-paragraph--desktop);
}

.pdp-top-content-top {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.pdp-top-content-top img {
  height: 32px;
}

.pdp-top-content-top > div {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.pdp-top-content-top > div > div {
  font: var(--font--small-paragraph--light);
}

.pdp-top .jd-buy-option-label {
  margin-bottom: var(--spacing-1);
  text-decoration: none;
  color: var(--color--slate);
  font: var(--font--legal);
}

.pdp-top-content-top > div:first-child img {
  margin-right: 10px;
}

.pdp-top-content-heading {
  margin-top: 0;
  margin-bottom: var(--spacing-6);
  color: var(--color--slate);
  font: var(--font--h2--desktop);
}

.pdp-top-slide-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-4);
  padding: var(--spacing-1--static);
  overflow: auto;
}

.pdp-top-slide-btn {
  margin-right: var(--spacing-8--static);
  border: 1px solid var(--color--white);
  border-radius: 16px;
  cursor: pointer;
  padding: var(--spacing-1--static) var(--spacing-6--static);
  white-space: nowrap;
  color: var(--color--water);
  font: var(--font--paragraph--short);
}

.pdp-top-slide-btn:last-child {
  margin-right: 0;
}

.pdp-top-slide-btn-active.pdp-top-slide-btn {
  border-color: var(--color--chalk);
  background: var(--color--water);
  color: var(--color--white);
}

.pdp-top-slide-dot {
  margin-right: 12px;
  border-radius: 4px;
  background: var(--color--grey-4);
  cursor: pointer;
  width: 8px;
  height: 8px;
}

.pdp-top-slide-dot.pdp-top-slide-dot-video {
  border-width: 4px 0 4px 8px;
  border-style: solid;
  border-radius: 0;
  border-color: transparent transparent transparent var(--color--grey-4);
  background: none;
}

.pdp-top-slide-dot.pdp-top-slide-dot-active {
  border: none !important;
  border-radius: 4px;
  background: var(--color--slate);
  width: 15px;
}

.pdp-top-slide-dot:last-child {
  margin-right: 0;
}

.pdp-top-slide-dots {
  display: flex;
  border-radius: 8px;
  background: var(--color--legacy--white--white--alpha-70);
  padding: 12px 25px;
  pointer-events: auto;
}

.pdp-top-slide-dots-inner {
  display: flex;
  position: absolute;
  top: 0;
  align-items: flex-end;
  z-index: 2;
  padding: 30px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.pdp-top-slide-dots-wrap {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.pdp-top-slide-img {
  position: relative;
  border-radius: 8px;
  background-position: center !important;
  background-size: cover !important;
}

.pdp-top-slide-lower-text {
  margin-top: var(--spacing-5);
  color: var(--color--grey-1);
  font: var(--font--small-paragraph);
}

.pdp-top-slide-slide {
  display: none;
  position: relative;
}

.pdp-top-slide-slide-active {
  display: block;
}

.pdp-top-slide-slides {
  position: relative;
}

.pdp-top-slide-wrap {
  padding-right: 28px;
  min-width: 60%;
}

.pdp-top-slide-video-img {
  cursor: pointer;
}

.pdp-top-slide-video-img iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.pdp-top {
  display: flex;
  border-radius: 16px;
  background: var(--color--white);
  padding: 38px 71px 25px 60px;
}

.pdp-top .jd-add-cart-wrap {
  width: 100%;
}

.pdp-top .jd-shopify-add-btn {
  margin-top: 0;
  padding: 12px 18px !important;
  width: 270px !important;
  min-width: 150px !important;
  max-width: 100% !important;
  line-height: var(--line-height--150);
}

.pdp-top .jd-shopify-option-wrap > * {
  margin-bottom: 0;
  padding: var(--spacing-2) 0;
}

.pdp-top .jd-shopify-option-wrap input {
  margin: 0 8px 5px 0;
  accent-color: var(--color--water);
}

.pdp-top .jd-shopify-option-wrap label {
  font: var(--font--small-paragraph--semibold);
}

.pdp-top .jd-shopify-options {
  display: block;
}

.pdp-top .jd-shopify-options label {
  display: inline-block;
}

.pdp-top .pdp-price-button {
  margin-bottom: 0;
  padding-bottom: var(--spacing-2);
}

.pdp-top .pdp-price-button-wrap {
  display: flex;
  flex-wrap: wrap;
  place-content: center space-between;
  margin-top: var(--spacing-3);
  border-top: 1px solid var(--color--grey-5);
  padding-top: var(--spacing-3);
  padding-left: 0;
}

.pdp-top .pdp-price-total {
  padding-bottom: var(--spacing-2);
  font: var(--font--extra-large-paragraph--light);
}

.pdp-top .pdp-price-wrap {
  margin-bottom: 0;
}

/* Sticky nav */
.pdp-close-product-selector {
  position: absolute;
  top: 13px;
  right: 0;
  transform: translateX(50%);
}

.pdp-sticky {
  border-bottom: 1px solid var(--color--grey-4);
  background: var(--color--white);
}

.pdp-sticky-btns {
  display: flex;
  justify-content: flex-end;
  margin-left: 25px;
  padding-bottom: 5px;
}

.pdp-sticky-enroll {
  display: none;
  background: var(--color--chalk);
}

.pdp-sticky-enroll .pdp-bottom h3 {
  font: var(--font--h2--mobile);
}

.pdp-sticky-enroll .pdp-code-wrap {
  display: none;
}

.pdp-sticky-enroll-chev-up {
  display: none !important;
}

.pdp-sticky-enroll-inner {
  margin: 0 auto;
  padding: 20px 0 12px;
  width: 1250px;
  max-width: 95%;
}

.pdp-sticky-enroll-show .pdp-sticky-enroll {
  display: block;
}

.pdp-sticky-enroll-show .pdp-sticky-enroll-chev-down {
  display: none !important;
}

.pdp-sticky-enroll-show .pdp-sticky-enroll-chev-up {
  display: inline !important;
}

.pdp-sticky-head > div:first-child {
  display: flex;
  margin-bottom: 10px;
}

.pdp-sticky-head > div:first-child h3 {
  color: var(--color--slate);
  font: var(--font--h6--desktop);
}

.pdp-sticky-head > div:first-child img {
  margin-right: 10px;
  width: 14px;
  vertical-align: bottom;
}

.pdp-sticky-inner {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0 12px;
  width: 1250px;
  max-width: 95%;
}

.pdp-sticky-inner.expanded {
  padding-right: 30px;
}

.pdp-sticky-wrap {
  transition: 0.6s opacity;
  opacity: 0;
  z-index: 10;
  overflow: auto;
  pointer-events: none;
}

/* this controls the sticky behavior */
.pdp-sticky-wrap-fixed {
  position: fixed;
  inset: 0;
}

.pdp-sticky-wrap.pdp-sticky-show {
  opacity: 1;
}

.pdp-sticky-wrap.pdp-sticky-show > * {
  pointer-events: auto;
}

.sticky-header-shadow {
  box-shadow: var(--shadow--sticky-header);
}

html .hs-button.jd-request-btn.pdp-sticky-btn-left {
  margin: 0 10px 0 0;
  border: 1px solid var(--color--water) !important;
  background: var(--color--white) !important;
  padding-top: 13px;
  padding-bottom: 13px;
  color: var(--color--water) !important;
}

html .hs-button.jd-request-btn.pdp-sticky-btn-left:hover {
  border: 1px solid var(--color--water) !important;
  background: var(--color--water) !important;
  color: var(--color--white) !important;
}

html .hs-button.jd-request-btn.pdp-sticky-btn-right {
  border: 1px solid var(--color--water);
  padding-top: 14px;
  padding-bottom: 14px;
}

html .pdp-sticky-enroll-show .hs-button.jd-request-btn.pdp-sticky-btn-right {
  background: var(--color--grey-4);
}

@media (max-width: 1000px) {
  .pdp-close-product-selector {
    top: 17px;
    transform: none;
  }

  .pdp-bottom-content {
    width: 100%;
  }

  .pdp-bottom-heading-wrapper {
    margin-bottom: 50px;
    padding: 0;
    width: 100%;
    min-width: 100%;
  }

  .pdp-bottom-options-wrapper {
    padding-left: 0;
  }

  .pdp-bottom {
    display: block;
  }

  .pdp-bottom .jd-buy-option {
    margin-bottom: 8px;
  }

  .pdp-bottom .jd-buy-option-label {
    font: var(--font--small-paragraph--medium);
  }

  .pdp-bottom .jd-shopify-options {
    columns: auto;
  }

  .pdp-sticky-btns {
    margin-left: 0;
    padding-bottom: 0;
  }

  .pdp-sticky-btns > div {
    flex: 1;
  }

  .pdp-sticky-btns > div:first-child {
    padding-right: 10px;
  }

  .pdp-sticky-btns > div:nth-child(2) {
    padding-left: 10px;
  }

  .pdp-sticky-head > div:first-child {
    padding-right: 48px;
  }

  .pdp-sticky-btns > div:first-child:last-child {
    padding-right: 0;
  }

  .pdp-sticky-enroll .pdp-bottom > div:first-child {
    margin-bottom: 20px;
  }

  .pdp-sticky-enroll .pdp-bottom h3 {
    font: var(--font--h3--mobile);
  }

  .pdp-sticky-head {
    margin-bottom: 10px;
  }

  .pdp-sticky-inner {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .pdp-sticky-inner.expanded {
    padding-right: 0;
  }

  .pdp-top-content {
    margin-bottom: var(--spacing-5);
    border-bottom: 1px solid var(--color--grey-5);
    padding: 0 0 var(--spacing-5);
  }

  .pdp-top-content-heading {
    margin-bottom: var(--spacing-4);
  }

  .pdp-top-slide-btn {
    margin-right: var(--spacing-4--static);
  }

  .pdp-top-slide-lower-text {
    margin-top: var(--spacing-4);
  }

  .pdp-top-slide-wrap {
    order: 2;
    padding: 0;
  }

  .pdp-top {
    flex-direction: column;
    padding: var(--spacing-4--static) var(--spacing-6--static)
      var(--spacing-6--static);
  }

  .pdp-top .jd-buy-option {
    margin-bottom: var(--spacing-4);
  }

  html .hs-button.jd-request-btn.pdp-sticky-btn-left,
  html .hs-button.jd-request-btn.pdp-sticky-btn-right {
    width: 100% !important;
    max-width: none;
  }
}

@media (max-width: 767px) {
  .pdp-close-product-selector {
    top: 16px;
    right: 20px;
  }

  .pdp-bottom-content {
    display: block;
  }

  .pdp-bottom-heading-wrapper {
    margin-bottom: 25px;
  }

  .pdp-bottom-options-wrapper {
    padding: 0;
    width: 100%;
    min-width: 100%;
  }

  .pdp-bottom-price-wrapper {
    margin-top: var(--spacing-3);
    border-top: 1px solid var(--color--grey-5);
    padding-top: var(--spacing-3);
    padding-right: var(--spacing-4--static);
    padding-left: var(--spacing-4--static);
    width: auto;
  }

  .pdp-price-button-wrap {
    padding-left: 0;
  }

  .pdp-bottom .pdp-price-button-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pdp-sticky-btns {
    display: block;
  }

  .pdp-sticky-btns > div {
    margin: 20px auto 0;
  }

  .pdp-sticky-btns > div:first-child {
    padding-right: 0;
  }

  .pdp-sticky-btns > div:nth-child(2) {
    padding-left: 0;
  }

  .pdp-sticky-head {
    text-align: center;
    color: var(--color--grey-2);
    font: var(--font--legal);
  }

  .pdp-sticky-head > div:first-child {
    display: flex;
    justify-content: center;
    padding-right: 0;
  }

  .pdp-sticky-head > div:first-child h3 {
    font: var(--font--h4--mobile);
  }

  .pdp-sticky-inner {
    display: block;
    padding-top: 16px;
    padding-bottom: 13px;
  }

  .pdp-sticky-inner.expanded {
    padding-top: var(--spacing-10--static);
  }

  .pdp-top-content {
    margin-bottom: var(--spacing-3);
    padding: 0 var(--spacing-2--static) var(--spacing-3);
  }

  .pdp-top-content-heading {
    font: var(--font--h2--mobile);
  }

  .pdp-top-slide-btn {
    margin-right: var(--spacing-1--static);
    padding: var(--spacing-1--static) 11px;
    font: var(--font--legal);
  }

  .pdp-top-slide-lower-text {
    padding-bottom: var(--spacing-2--static);
    font: var(--font--legal);
  }

  .pdp-top {
    padding: var(--spacing-2--static);
  }
}
