.jd-blackout {
  background: var(--color--legacy--black--black--alpha-50) !important;
}

/* Cart rec */
.jd-cart-rec-wrap {
  padding: 10px;
}

.jd-cart-rec {
  border: 1px solid var(--color--grey-5);
  border-radius: 16px;
  box-shadow: 0 4px 40px 0 var(--color--legacy--black--black--alpha-5);
  background: var(--color--white);
  padding: 35px 30px 25px;
}

.jd-cart-rec > div:first-child {
  margin-bottom: 10px;
  text-align: center;
  font-size: var(--font-size--legacy--4);
}

h3.jd-cart-rec-title {
  text-align: center;
  font-size: var(--font-size--legacy--13);
  font-weight: 500;
}

h3.jd-cart-rec-title a {
  text-decoration: underline;
  color: var(--theme--global-colors--primary-color);
}

.jd-cart-rec-prices {
  margin-bottom: 15px;
  font-size: var(--font-size--legacy--4);
}

.jd-cart-rec-prices > div:nth-child(2) {
  text-decoration: line-through;
  color: var(--theme--global-colors--secondary-color);
}

.jd-cart-rec-prices > div:nth-child(3) {
  font-size: var(--font-size--legacy--7);
  font-weight: 600;
}

.jd-cart-rec-list {
  margin-top: 25px;
}

.jd-cart-rec-plus {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

select.jd-cart-rec-select {
  appearance: auto !important;
  margin-top: 5px !important;
  border-radius: 15px !important;
  background: var(--color--white) !important;
  padding: 5px 15px !important;
}

.jd-cart-rec-item-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.jd-cart-rec-item-title span {
  font-weight: 700;
}

.jd-cart-rec-item-title span:first-child {
  font-family: var(--font-family--heading);
  font-weight: 700;
}

.jd-cart-rec-outer {
  display: flex;
  overflow: auto;
}

.jd-cart-rec-item {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid var(--color--legacy--white--gainsboro-1);
  border-radius: 20px;
  box-shadow: 0 4px 40px 0 var(--color--legacy--black--black--alpha-10);
  overflow: hidden;
  line-height: var(--line-height--100);
}

.jd-cart-rec-item-img {
  background-position: center !important;
  background-size: cover !important;
  min-width: 80px;
}

.jd-cart-rec-item-inner {
  display: flex;
  flex: 1;
  align-items: flex-end;
  padding: 25px 10px 20px;
}

.jd-cart-rec-item-inner > div:nth-child(1) {
  flex: 1;
}

.jd-cart-rec-item-inner > div:nth-child(1) > div {
  padding-right: 16px;
}

.jd-cart-rec-item-inner > div:nth-child(1) > div:last-child {
  font-weight: 600;
}

.jd-cart-rec-item-inner > div:nth-child(2) {
  margin-left: 10px;
  text-align: right;
  white-space: nowrap;
  font-weight: 500;
}

.jd-cart-rec-item-inner-2 {
  display: flex;
  padding: 0 10px 20px;
}

.jd-cart-rec-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.jd-cart-rec-add {
  padding: 8px 16px !important;
  width: auto !important;
  white-space: nowrap;
  font-size: var(--font-size--legacy--4);
}

.jd-cart-rec-add-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.jd-cart-rec-add-wrap > div:nth-child(2) {
  margin-top: 5px;
  padding-right: 10px;
  font-size: var(--font-size--legacy--4);
  font-style: italic;
}

.jd-cart-rec-save-tag {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 12px 0 0 12px;
  background: var(--color--legacy--blue--mabel);
  padding: 6px 20px;
  font-size: var(--font-size--legacy--4);
}

.jd-cart-rec-item-program {
  display: flex;
  margin-bottom: 10px;
  font-size: var(--font-size--legacy--2);
  font-weight: 400;
}

.jd-cart-rec-item-program img {
  margin: -3px 5px 0 0;
  width: 14px;
}

/* Cart page */
.jd-your-cart {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.jd-your-cart h2 {
  margin-bottom: 0;
}

.jd-your-cart a {
  display: flex;
  text-decoration: underline;
  color: var(--color--legacy--blue--oxford-blue);
  font-weight: 600;
}

.jd-your-cart a svg {
  margin-left: 5px;
}

.jd-your-cart a svg path {
  fill: var(--theme--global-colors--secondary-color);
}

.jd-course-total-head {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 30px;
  border-bottom: 2px solid var(--color--legacy--blue--oxford-blue);
  padding-bottom: 5px;
}

.jd-cart-summary-bottom {
  margin-top: 10px;
  text-align: right;
  line-height: var(--line-height--100);
  font-size: var(--font-size--legacy--2);
  font-style: italic;
}

.jd-cart {
  flex: 1;
  margin-right: 5%;
}

.jd-cart-items .jd-add-pop-name {
  font-size: var(--font-size--legacy--18);
}

.jd-cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--color--legacy--grey--very-light-grey-1);
  padding-bottom: 30px;
}

.jd-cart-item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.jd-cart-item-btns {
  margin-top: 15px;
}

/* TODO remove "a" selector */
.jd-cart-item-btns a,
.jd-cart-item-btn {
  text-decoration: none !important;
  color: var(--theme--global-colors--primary-color) !important;
  font-weight: 600;
}

/* Overriding theme-overides.css */
.jd-cart-item-btns .jd-cart-item-btn {
  border: 0;
  border-radius: 0;
  background: transparent;
  padding: 0;
  max-width: none;
  color: var(--theme--global-colors--primary-color) !important;
  font-family: inherit;
}

/* Overriding theme-overides.css */
.jd-cart-item-btns .jd-cart-item-btn:hover,
.jd-cart-item-btns .jd-cart-item-btn:focus {
  background: transparent;
  text-align: inherit;
  color: var(--theme--global-colors--primary-color) !important;
}

/* TODO remove "a" selector */
.jd-cart-item-btns a svg,
.jd-cart-item-btn svg {
  fill: var(--theme--global-colors--primary-color);
  width: 14px;
  height: 14px;
}

/* Overriding theme-overides.css */
.jd-cart-item-btns .jd-cart-item-btn svg {
  fill: var(--theme--global-colors--primary-color);
}

/* Overriding theme-overides.css */
.jd-cart-item-btns .jd-cart-item-btn:hover svg,
.jd-cart-item-btns .jd-cart-item-btn:focus svg {
  fill: var(--theme--global-colors--primary-color) !important;
}

.jd-cart-outer {
  display: flex;
  border-bottom: 2px solid var(--color--legacy--blue--oxford-blue);
  padding-bottom: 15px;
}

.jd-cart-summary-outer {
  width: 350px;
  max-width: 33%;
}

.jd-cart-summary {
  margin-bottom: 15px;
  border-radius: 5px;
  background: var(--color--white);
  padding: 15px;
}

.jd-cart-summary > div:first-child {
  margin-bottom: 5px;
  border-bottom: 1px solid var(--color--legacy--grey--very-light-grey-1);
  padding-bottom: 5px;
  font-weight: 600;
}

.jd-add-pop-content-main {
  max-width: 320px;
}

.jd-cart-summary-items > div {
  margin-top: 5px;
  text-align: right;
}

.jd-cart-summary-outer .jd-request-btn {
  padding: 15px 20px !important;
  width: 100% !important;
  max-width: 100% !important;
}

.jd-cart .jd-add-pop-img > div {
  margin-right: 25px;
}

.jd-cart-enrollment {
  display: flex;
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  opacity: 0;
  z-index: 99999999;
  background: var(--color--legacy--black--black--alpha-90);
  pointer-events: none;
}

.jd-cart-enrollment-show {
  opacity: 1;
  pointer-events: auto;
}

.jd-cart-enrollment-form {
  position: relative;
  border-radius: 5px;
  background: var(--color--white);
  padding: 50px 35px;
  width: 500px;
  max-width: 95vw;
  max-height: 95vh;
  overflow: auto;
}

.jd-cart-enrollment-form h3 {
  margin-bottom: 25px;
}

.jd-cart-enrollment-form .hs-form-field .hs-error-msgs label {
  padding-right: 10px !important;
  color: var(--theme--global-colors--secondary-color) !important;
  font-size: var(--font-size--legacy--4) !important;
}

.jd-cart-enrollment-form .hs-form-field > label {
  display: none !important;
}

.jd-cart-enrollment-form .hs-form-field input[type='email'],
.jd-cart-enrollment-form .hs-form-field input[type='tel'],
.jd-cart-enrollment-form .hs-form-field input[type='text'] {
  background: var(--color--legacy--grey--alabaster);
}

.jd-cart-enrollment-form .hs-form-field select {
  background: url('data: image/svg+xml;base64, PHN2ZyBmaWxsPSIjZDcyYTI1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+')
    no-repeat var(--color--legacy--grey--alabaster) !important;
  background-position: right 15px top 17px !important;
}

.jd-cart-enrollment-form .hs-submit .actions {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.jd-cart-enrollment-form .hs-submit .actions .hs-button {
  background: var(--theme--global-colors--secondary-color);
}

.jd-cart-enrollment-form .hs-submit .actions .hs-button:hover {
  background: var(--color--legacy--red--cinnabar);
}

.jd-cart-enrollment-form .jd-cart-enrollment-form-btn {
  position: absolute;
  top: 5px;
  right: 5px;

  /* Overriding theme-overides.css */
  background: transparent;
  padding: 0;
  width: 24px;
  height: 24px;
}

.jd-cart-enrollment-form .jd-cart-enrollment-form-btn:hover,
.jd-cart-enrollment-form .jd-cart-enrollment-form-btn:focus {
  background: transparent;
}

.jd-cart-enrollment-form svg {
  width: 24px;
  height: 24px;
}

.jd-cart-enrollment-form svg path {
  fill: var(--theme--global-colors--primary-color);
}

.jd-add-pop-content-main .jd-cart-rec-item-program {
  letter-spacing: 0.1rem;
  color: var(--color--grey-3);
}

.jd-cart-item-price {
  text-align: right;
  white-space: nowrap;
  font-size: var(--font-size--legacy--11);
}

.jd-cart-item-price-dis {
  margin-top: 15px;
  text-align: right;
  text-decoration: line-through;
  white-space: nowrap;
  font-size: var(--font-size--legacy--8);
}

.jd-cart-empty .jd-cart {
  margin-right: 0;
}

.jd-cart-empty .jd-cart-summary-outer {
  display: none;
}

.jd-cart-empty-msg {
  display: none;
}

.jd-cart-empty .jd-cart-empty-msg {
  display: block;
  padding: 150px 0;
  text-align: center;
}

.jd-cart-empty .jd-cart-empty-msg .jd-request-btn {
  margin-top: 25px;
  padding: 10px 25px;
  width: auto;
  min-width: 0;
}

.jd-cart-empty .jd-course-total-head > div {
  display: none;
}

/* Shopify course cart selections */
.jd-buy-option-label {
  margin-bottom: 10px;
  text-decoration: underline;
  color: var(--color--cherry);
  font: var(--font--paragraph);
}

.jd-shopify-option {
  display: flex;
  align-items: baseline;
}

.jd-shopify-option-wrap {
  display: flex;
  flex-wrap: wrap;
}

.jd-shopify-option-wrap > * {
  margin: 0 15px 10px 0;
}

.jd-shopify-option-wrap input {
  margin: 0 10px 15px 0;
}

html .jd-shopify-option-wrap .hs-button.jd-request-btn.jd-gray-btn {
  padding: 10px 25px;
  width: auto !important;
}

html
  .jd-shopify-option-wrap
  .hs-button.jd-request-btn.jd-gray-btn.jd-shopify-option-selected {
  background: var(--color--legacy--blue--oxford-blue);
  color: var(--color--white) !important;
}

.jd-shopify-options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.jd-add-cart-wrap {
  width: 700px;
  max-width: 100%;
}

.jd-buy-option {
  margin-bottom: 15px;
  padding-right: 25px;
  min-width: 50%;
}

.jd-shopify-add-exists-msg {
  margin-top: 25px;
  color: var(--theme--global-colors--secondary-color);
}

@media (max-width: 1000px) {
  .course-shopify-price {
    text-align: left !important;
  }
}

@media (max-width: 850px) {
  .jd-checkout-btn-wrap {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    z-index: 9999;
    background: var(--color--chalk);
    padding: 15px 20px;
  }
}

@media (max-width: 767px) {
  .jd-cart-outer {
    display: block;
  }

  .jd-cart-summary-outer {
    width: 100%;
    max-width: 100%;
  }

  .jd-cart {
    margin-right: 0;
  }

  .jd-course-total-head div {
    display: none;
  }

  .jd-add-pop {
    right: 0;
    left: 0;
    padding: 19px 21px 42px;
    width: 100%;
    max-width: 100%;
  }

  .jd-cart-rec-wrap {
    padding: 10px 5px;
    min-width: 0;
  }

  .jd-cart-rec {
    padding: 35px 15px 25px;
  }

  .jd-cart-rec-item-inner {
    font-size: var(--font-size--legacy--4);
  }

  .jd-cart-rec-item-inner-2 select {
    font-size: var(--font-size--legacy--4);
  }

  .jd-cart-items .jd-add-pop-img > div {
    margin-right: 10px;
    width: 70px;
    height: 70px;
  }

  .jd-cart-items .jd-cart-rec-item-program {
    margin-bottom: 5px;
  }

  .jd-cart-item {
    display: block;
  }

  .jd-cart-item-price {
    padding-left: 80px;
    text-align: left;
    font-size: var(--font-size--legacy--8);
  }

  .jd-cart-item-price-dis {
    padding-left: 80px;
    text-align: left;
    font-size: var(--font-size--legacy--4);
  }

  .jd-cart-rec-outer .slick-list {
    padding: 0 25px 0 5px !important;
  }

  .jd-shopify-options {
    display: block;
  }
}
