.timeline li::after,
.tl-nav::after {
  display: table;
  clear: both;
  content: '';
}

html {
  font-family: var(--font-family--legacy--timeline);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*** The timeline styles and structure ***/
.tl-wrapper {
  position: relative;
  height: 450px;
  min-height: 1px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  min-height: 1px;
  max-height: 650px;
  list-style: none;
}

.timeline li {
  width: 100%;
}

.tl-image {
  float: left;
  width: 70%;
}

.tl-image img {
  display: block;
}

.tl-copy {
  margin-top: 150px;
  padding: 1rem;
  width: 100%;
  height: 100%;
  color: var(--color--legacy--blue--big-stone);
}

.tl-description {
  margin: 20px auto;
  width: 60%;
  text-align: center;
}

/*** The items ***/
.tl-item {
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  overflow: hidden;
}

.tl-item .tl-copy {
  transform: translate3d(60%, 0, 0);
  transition: 0.6s ease;
}

.tl-item .tl-image {
  transform: translate3d(0, -100%, 0);
  transition: 0.6s ease;
}

.tl-item.tl-active {
  position: absolute;
  top: 0;
  visibility: visible;
  opacity: 1;
  z-index: 10;
  height: 380px;
  min-height: 380px;
  max-height: 380px;
}

.tl-item.tl-active .tl-copy {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.tl-item.tl-active .tl-image {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

@media only screen and (max-width: 780px) {
  .tl-description {
    width: 95%;
  }
}

/*** The arrows for the items ***/
.tl-items-arrow-left,
.tl-items-arrow-right {
  position: absolute;
  top: 225px;
  z-index: 100;
  margin-top: -40px;
  width: 22px;
  height: 40px;
}

.tl-items-arrow-left::before,
.tl-items-arrow-left::after,
.tl-items-arrow-right::before,
.tl-items-arrow-right::after {
  display: block;
  position: absolute;
  left: 0;
  background: var(--color--white);
  width: 28px;
  height: 2px;
  content: '';
}

.tl-items-arrow-left {
  left: 0;
}

.tl-items-arrow-left::before {
  top: 0;
  transform: rotate(-45deg);
  transform-origin: top right;
}

.tl-items-arrow-left::after {
  bottom: 0;
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.tl-items-arrow-right {
  right: 0;
}

.tl-items-arrow-right::before {
  top: 0;
  transform: rotate(45deg);
  transform-origin: top left;
}

.tl-items-arrow-right::after {
  bottom: 0;
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

/*** The nav's styles ***/
.tl-nav-wrapper {
  position: absolute;
  top: 40px;
  left: 0;
  margin: 0;
  padding: 16px 0 0;
  width: 100%;
}

.tl-nav-wrapper::before,
.tl-nav-wrapper::after {
  position: absolute;
  top: 53px;
  z-index: 50;
  background: var(--color--legacy--blue--big-stone);
  width: 32px;
  height: 32px;
  content: '';
}

.tl-nav-wrapper::before {
  left: 0;
}

.tl-nav-wrapper::after {
  right: 0;
}

.no-csstransforms .tl-nav-wrapper {
  overflow-x: auto;
}

.tl-nav {
  transition: all 0.4s ease;
  margin: 0;
  padding-top: 16px;
  list-style: none;
}

/* new small circles container */
.tl-nav li {
  position: relative;
  float: left;
  z-index: 5;
  margin-top: 28px;
  margin-right: 1rem;
  cursor: pointer;
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 0.5px;
}

/* mobile does not have medium circles */
@media only screen and (max-width: 780px) {
  .tl-nav li.tl-prev-next {
    position: relative;
    float: left;
    z-index: 5;
    margin-top: 28px;
    margin-right: 1rem;
    cursor: pointer;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 0.5px;
  }
}

/* original but now prev/next circle container */
.tl-nav li.tl-prev-next {
  position: relative;
  float: left;
  z-index: 5;
  margin-top: 18px;
  margin-right: 1rem;
  cursor: pointer;
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: var(--font-size--legacy--2);
}

/* active circle item */
.tl-nav li.tl-active {
  margin-top: 0;
}

/* new small circles */
.tl-nav li div {
  transition: 0.6s ease;
  margin: auto;
  border: 1px solid var(--color--legacy--blue--big-stone);
  border-radius: 1000px;
  background: var(--color--legacy--blue--solitude-5);
  padding-top: 7px;
  width: 20px;
  height: 20px;
  color: var(--color--legacy--blue--solitude-5);
}

/* mobile does not have medium prev/next circles */

/* mobile does not have medium circles */
@media only screen and (max-width: 780px) {
  .tl-nav li.tl-prev-next div {
    transition: 0.6s ease;
    margin: auto;
    border: 1px solid var(--color--legacy--blue--big-stone);
    border-radius: 1000px;
    background: var(--color--legacy--blue--solitude-5);
    padding-top: 7px;
    width: 20px;
    height: 20px;
    color: var(--color--legacy--blue--solitude-5);
  }
}

/* original but now prev/next */
.tl-nav li.tl-prev-next div {
  transition: 0.6s ease;
  margin: auto;
  border: 1px solid var(--color--legacy--blue--big-stone);
  border-radius: 1000px;
  background: var(--color--legacy--blue--solitude-5);
  padding-top: 7px;
  width: 35px;
  height: 35px;
  color: var(--color--legacy--blue--big-stone);
}

/* active circle */
.tl-nav li:hover div,
.tl-nav li.tl-active div {
  border: none;
  background: var(--color--legacy--blue--big-stone);
  padding-top: 23px;
  width: 80px;
  height: 80px;
  color: var(--color--white);
  font-size: var(--font-size--legacy--13);
}

/*** The nav's nav styles ***/
.tl-line {
  position: absolute;
  z-index: 0;
  margin-top: 109px;
  border-top: solid 1px var(--color--legacy--blue--big-stone);
  width: 100%;
  height: 2px;
}

.tl-nav-arrow-left,
.tl-nav-arrow-right {
  position: absolute;
  top: 45%;
  z-index: 100;
  width: 12px;
  height: 20px;
}

.tl-nav-arrow-left::before,
.tl-nav-arrow-left::after,
.tl-nav-arrow-right::before,
.tl-nav-arrow-right::after {
  display: block;
  position: absolute;
  background: var(--color--white);
  width: 14px;
  height: 2px;
  content: '';
}

.tl-nav-arrow-left {
  left: 7px;
}

.tl-nav-arrow-left::before {
  top: 0;
  transform: rotate(-45deg);
  transform-origin: top right;
}

.tl-nav-arrow-left::after {
  bottom: 0;
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.tl-nav-arrow-right {
  right: 9px;
}

.tl-nav-arrow-right::before {
  top: 0;
  transform: rotate(45deg);
  transform-origin: top left;
}

.tl-nav-arrow-right::after {
  bottom: 0;
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

@media screen and (min-width: 767px) {
  .tl-nav-wrapper {
    position: absolute;
    top: 40px;
    left: 0;
    margin: 0;
    padding: 16px 0 0;
    width: 100%;
    overflow: hidden;
  }
}
