/* 
  See the following file for additional shared styles:
  themes/Integrative Nutrition/css/objects/_add-to-cart.css
*/

/* Header override */
.jd-header-wrap {
  position: relative !important;
}

.jd-header-wrap.ishidden {
  transform: translateY(0) !important;
}

.jd-add-pop {
  top: 0 !important;
}

.jd-add-pop-message {
  --accent--color: var(--color--slate);
}

#product-selector-trigger {
  display: flex;
  justify-content: center;
}

.selected-value-description {
  color: var(--color--slate);
  font: var(--font--legal--explainer);
  font-style: italic;
}
