{# Independent variables #}
{% set is_sample_class = module.configuration == 'sample-class' %}
{% set is_inline_only = module.configuration == 'inline-only' %}
{% set is_inline_and_header = module.configuration == 'inline-and-header' %}
{% set is_header_only = module.configuration == 'header-only' %}

{# Dependent variables #}
{% set show_sticky_header = is_sample_class or is_inline_and_header or is_header_only %}
{% set sticky_show = is_sample_class ? 'pdp-sticky-show' : '' %}
{% set arrow_link_direction = 'arrow-link-' ~ (is_sample_class ? 'back' : 'forward') %}

{# Markup #}

{# Invisible header trigger #}
{% if is_header_only %}
  <div id="product-selector-trigger">
  {% if is_in_editor %}
    <span class="editor-warning">&lt;PRODUCT SELECTION TRIGGER&gt;</span>
  {% endif %}
  </div>
{% endif %}

{# Inline section: from Sticky Course Shopify Add To Cart #}
{% if is_inline_and_header %}
<div id="{{name}}" class="pdp-top">
  <div class="pdp-top-slide-wrap">
    <div class="pdp-top-slide-btns">
      {% for slide in module.image_slides %}
      <div
        id="pdp-top-slide-btn-{{loop.index}}"
        data-index="{{loop.index}}"
        class="pdp-top-slide-btn {% if loop.first %}pdp-top-slide-btn-active{% endif %}"
      >
        {{ slide.label_field }}
      </div>
      {% endfor %}
    </div>
    <div class="pdp-top-slide-slides">
      <div class="pdp-top-slide-dots-wrap">
        <div class="pdp-top-slide-dots-inner">
          <div class="pdp-top-slide-dots">
            {% for slide in module.image_slides %}
            <div 
              data-index="{{loop.index}}"
              id="pdp-top-slide-dot-{{loop.index}}"
              class="pdp-top-slide-dot {% if slide.video_embed %}pdp-top-slide-dot-video{% endif %} {% if loop.first %}pdp-top-slide-dot-active{% endif %}"
            ></div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% for slide in module.image_slides %}
      <div
        id="pdp-top-slide-slide-{{ loop.index }}"
        class="pdp-top-slide-slide {% if loop.first %}pdp-top-slide-slide-active{% endif %}"
      >
        <div
          class="pdp-top-slide-img {% if slide.video_embed %}pdp-top-slide-video-img{% endif %}"
          style="background:url({{ slide.image_field.src }})"
        >
          {% if slide.video_embed %}
            <div class="pdp-top-slide-video-placeholder"></div>
            <script>
              $('#{{name}} #pdp-top-slide-slide-{{ loop.index }} .pdp-top-slide-video-img').click(function() {
                $('#{{name}} #pdp-top-slide-slide-{{ loop.index }} .pdp-top-slide-video-img').css('background', 'none');
                $('#{{name}} #pdp-top-slide-slide-{{ loop.index }} .pdp-top-slide-video-placeholder').replaceWith(`{{ slide.video_embed }}`);
              });
            </script>
          {% endif %}
        </div>
        <div>{{ slide.lower_text }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="pdp-top-content">
    <div class="pdp-top-content-top">
      <div>
        <img src="{{ module.category_image.src }}" />
        <div>{{ module.category_text }}</div>
      </div>
      <div>
        {% for image in module.provider_image %}
          <img src="{{ image.src }}" />
        {% endfor %}
      </div>
    </div>
    <h1>{{ module.course_name }}</h1>
    <div class="pdp-top-content-sub">{{ module.sub_head }}</div>
    <div class="jd-add-cart-wrap pdp-options"></div>
    <div class="pdp-top-bottom">
      <div class="pdp-affirm-line">{{ module.affirm_line }}</div>
      {% set codeObj = { val: '' } %}
      {% for code in module.code_offers %}
        {% set is_after_start = unixtimestamp(local_dt) >= unixtimestamp(code.start_time) %}
        {% set is_before_end = unixtimestamp(local_dt) < unixtimestamp(code.end_time) %}
        {% if is_after_start && is_before_end %}
          {% do codeObj.update({ val: code.text_field }) %}
        {% endif %}
      {% endfor %}
      {% if codeObj.val %}
      <div class="pdp-code-wrap">
        <div class="pdp-code">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 5H5.01M5 1H10C10.512 1 11.024 1.195 11.414 1.586L18.414 8.586C18.7889 8.96106 18.9996 9.46967 18.9996 10C18.9996 10.5303 18.7889 11.0389 18.414 11.414L11.414 18.414C11.0389 18.7889 10.5303 18.9996 10 18.9996C9.46967 18.9996 8.96106 18.7889 8.586 18.414L1.586 11.414C1.4 11.2285 1.25249 11.0081 1.15192 10.7655C1.05136 10.5228 0.99973 10.2627 1 10V5C1 3.93913 1.42143 2.92172 2.17157 2.17157C2.92172 1.42143 3.93913 1 5 1Z" stroke="#142023" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <div>{{ codeObj.val }}</div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{# Sticky Header #}
{% if show_sticky_header %}
  <div class="pdp-sticky-wrap {{ sticky_show }}">
    <div class="pdp-sticky-header-wrap">
      {# Header Portion #}
      <div class="pdp-sticky">
        <div class="pdp-sticky-inner">
          <div class="pdp-sticky-head">
            <div>
              <div>
                <img src="{{ module.category_image.src }}" />
              </div>
              <h3>{{ module.course_name }}</h3>
            </div>
            <div>{{ module.sticky_nav.subhead }}</div>
          </div>
          <div class="pdp-sticky-btns">
            {# Left Button #}
            {% if module.sticky_nav.left_button_link.href and module.sticky_nav.left_button_text %}
            <div>
              {% if is_sample_class %}
                <a
                  href="{{ module.sticky_nav.left_button_link.href }}"
                  class="jd-request-btn hs-button pdp-sticky-btn-left secondary-button arrow-link {{ arrow_link_direction }}"
                >
                  {{ module.sticky_nav.left_button_text }}
                </a>
              {% else %}
                <a 
                  href="{{ module.sticky_nav.left_button_link.href }}" 
                  class="jd-request-btn hs-button pdp-sticky-btn-left" target="_blank"
                > 
                  {{ module.sticky_nav.left_button_text }}
                  <i class="fa-regular fa-circle-arrow-right" style="padding-left: 10px;"></i>
                </a>
              {% endif %}
            </div>
            {% endif %}
            {# Right button #}
            <div class="enroll-btn-wrapper">
            {# Disabled this button until we parse product info. #}
              <button
                id="pdp-sticky-enroll-btn"
                class="jd-request-btn hs-button light-button pdp-sticky-btn-right caret caret-down"
                disabled
              >
                {% if is_sample_class and module.sticky_nav.right_button_text %}
                  {{ module.sticky_nav.right_button_text }}
                {% else %}
                  Enroll
                {% endif %}
              </button>
            </div>
          </div>
        </div>
      </div>
      {# Dropdown portion #}
      <div class="pdp-sticky-enroll">
        <div class="pdp-sticky-enroll-inner">
          <div class="pdp-bottom">
            <div>
              <h3 class="pdp-sticky__dropdown-heading">
                <span class="multi-variant">{{ module.sticky_nav.dropdown_left_text }}</span>
                <span class="single-variant">{{ module.sticky_nav.dropdown_left_text_singular }}</span>
              </h3>
            </div>
            <div>
              <div>
                <div class="pdp-bottom-options"></div>
              </div>
            </div>
            <div>
              <div class="pdp-bottom-price"></div>
              <div class="pdp-bottom-3-bottom"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{# Inline section: from Course Shopify Add To Cart #}
{% if is_inline_only %}
  <div id="{{ name }}" class="jd-add-cart-wrap"></div>
{% endif %}

{# Added to cart pop up: from Sample Class Sticky Header #}
{% if is_sample_class %}
  <div class="jd-add-pop">
    <div class="jd-add-pop-item-added">
      <strong class="jd-add-pop-message pseudo-svg check-before">Item added to cart</strong>
      <svg
        class="jd-add-pop-close"
        clip-rule="evenodd"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/>
      </svg>
    </div>
    <div class="jd-add-pop-content">
      <div class="jd-add-pop-img"><div></div></div>
      <div class="jd-add-pop-content-main">
        <div class="jd-add-pop-cat"></div>
        <div class="jd-add-pop-name"></div>
        <div class="jd-add-pop-options"></div>
        <div class="jd-add-pop-price"></div>
      </div>
    </div>
    <div class="jd-add-pop-btns">
      <a
        href="{{ module.continue_shopping_link.url.href }}"
        class="jd-request-btn hs-button jd-request-btn-inverse"
      >Continue Shopping</a>
      <a
        href="{{ module.cart_link.url.href }}"
        class="jd-view-cart-link jd-request-btn hs-button light-button jd-arrow-link"
      >View Cart</a>
    </div>
  </div>
{% endif %}

{% require_css %}
<style>
  {% scope_css %}
  .pdp-top-slide-dots-wrap,
  .pdp-top-slide-img {
    padding-top: {{ module.slide_image_height }};
  }
  {% end_scope_css %}
</style>
{% end_require_css %}

<script>
  {%- set raw_data = {
    category: module.category_text,
    courseName: module.course_name,
    name: name,
    isHeaderOnly: is_header_only,
    isInlineAndHeader: is_inline_and_header,
    isInlineOnly: is_inline_only,
    isSampleClass: is_sample_class,
    showStickyHeader: show_sticky_header,
    productID: module.product_id
  } %}
  (function () {
    const jsonData = JSON.stringify({{ raw_data|tojson }});
    IIN.shopify.setAddToCartSessionData(jsonData);
  })();
</script>
