/* Header override */
.jd-header-wrap {
  position: relative !important;
}

.jd-header-wrap.ishidden {
  transform: translateY(0) !important;
}

.jd-add-pop {
  top: 0 !important;
}

.jd-add-pop-message {
  --accent--color: var(--color--slate);
}
