{# Independent variables #}
{% set is_header_only = module.configuration == 'header-only' %}
{% set is_inline_only = module.configuration == 'inline-only' %}
{% set is_inline_and_header = module.configuration == 'inline-and-header' %}
{% set is_sample_class = module.configuration == 'sample-class' %}

{# Dependent variables #}
{% set arrow_link_direction = 'arrow-link-' ~ (is_sample_class ? 'back' : 'forward') %}
{% set show_inline_section = is_inline_and_header or is_inline_only %}
{% set show_sticky_header = is_sample_class or is_inline_and_header or is_header_only %}
{% set sticky_show = is_sample_class ? 'pdp-sticky-show' : '' %}

{# Markup #}

{# Invisible header trigger #}
{% if is_header_only %}
  <div id="product-selector-trigger">
  {% if is_in_editor %}
    <span class="editor-warning">
      {STICKY COURSE SHOPIFY ADD TO CART HEADER TRIGGER}
    </span>
  {% endif %}
  </div>
{% endif %}

{# Inline section: from Sticky Course Shopify Add To Cart #}
{% if show_inline_section %}
<div id="{{ name }}" class="pdp-top">
  <div class="pdp-top-slide-wrap">
    {% if module.image_slides|length > 1 %}
    <div class="pdp-top-slide-btns">
      {% for slide in module.image_slides %}
      <div
        id="pdp-top-slide-btn-{{ loop.index }}"
        data-index="{{ loop.index }}"
        class="pdp-top-slide-btn{% if loop.first %} pdp-top-slide-btn-active{% endif %}"
      >
        {{ slide.label_field }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="pdp-top-slide-slides">
      <div class="pdp-top-slide-dots-wrap">
        <div class="pdp-top-slide-dots-inner">
          <div class="pdp-top-slide-dots">
            {% for slide in module.image_slides %}
            <div 
              data-index="{{ loop.index }}"
              id="pdp-top-slide-dot-{{ loop.index }}"
              class="pdp-top-slide-dot{% if slide.video_embed %} pdp-top-slide-dot-video{% endif %}{% if loop.first %} pdp-top-slide-dot-active{% endif %}"
            ></div>
            {% endfor %}
          </div>
        </div>
      </div>

      {% for slide in module.image_slides %}
      <div
        id="pdp-top-slide-slide-{{ loop.index }}"
        class="pdp-top-slide-slide{% if loop.first %} pdp-top-slide-slide-active{% endif %}"
      >
        <div
          class="pdp-top-slide-img{% if slide.video_embed %} pdp-top-slide-video-img{% endif %}"
          style="background: url({{ slide.image_field.src }})"
        >
          {% if slide.video_embed %}
            <div class="pdp-top-slide-video-placeholder"></div>
            <script>
              $('#{{ name }} #pdp-top-slide-slide-{{ loop.index }} .pdp-top-slide-video-img').click(() => {
                $('#{{ name }} #pdp-top-slide-slide-{{ loop.index }} .pdp-top-slide-video-img').css('background', 'none');
                $('#{{ name }} #pdp-top-slide-slide-{{ loop.index }} .pdp-top-slide-video-placeholder').replaceWith(`{{ slide.video_embed }}`);
              });
            </script>
          {% endif %}
        </div>

        {% if slide.lower_text %}
        <div class="pdp-top-slide-lower-text">
          {{ slide.lower_text }}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="pdp-top-content">
    <div class="pdp-top-content-top">
      <div>
        <img src="{{ module.category_image.src }}" alt="" />
        <div>{{ module.category_text }}</div>
      </div>
      <div>
        {% for image in module.provider_image %}
          <img src="{{ image.src }}" alt="{{ image.alt }}" />
        {% endfor %}
      </div>
    </div>

    {% set section_heading_tag = 'h' ~ (module.page_heading ? 1 : 2) %}

    <{{ section_heading_tag }} class="pdp-top-content-heading">
      {{ module.course_name }}
    </{{ section_heading_tag }}>

    <div class="pdp-top-content-sub">
      {{ module.sub_head }}
    </div>
    <div class="jd-add-cart-wrap pdp-options"></div>
    <div class="pdp-top-bottom">
      <div class="pdp-payment-details">
        {{ module.payment_details.line_1 }}
        {% set logos = module.payment_details.logos if module.payment_details.line_1 %}
        {% if logos|length > 0 %}
          <span>
            {% for logo in logos|selectattr('src') %}
              <img class="pdp-payment-details_logo" src="{{ logo.src }}" alt="{{ logo.alt }}" />
              {% set next_index = loop.index0 + 1 %}
              {{ ',' if logos[next_index] }}
              {{ ' or' if logos|length - 1 == next_index }}
            {% endfor %}
          </span>
        {% endif %}
        {% if module.payment_details.line_2 %}
          <p>{{ module.payment_details.line_2 }}</p>
        {% endif %}
      </div>

      {% set codeObj = { val: '', use_chalk: false } %}
      {% for code in module.code_offers %}
        {% set is_after_start = unixtimestamp(local_dt) >= unixtimestamp(code.start_time) %}
        {% set is_before_end = unixtimestamp(local_dt) < unixtimestamp(code.end_time) %}
        {% if is_after_start && is_before_end %}
          {% do codeObj.update({ val: code.text_field, use_chalk: code.use_chalk }) %}
        {% endif %}
      {% endfor %}

      {% if codeObj.val %}
      <div class="pdp-code-wrap">
        <div class="pdp-code">
          <div class="svg-icon price-tag"></div>
          <div>{{ codeObj.val }}</div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{# Sticky Header #}
{% if show_sticky_header %}
  <div class="pdp-sticky-wrap {{ sticky_show }}">
    <div class="pdp-sticky-header-wrap">
      {# Header Portion #}
      <div class="pdp-sticky">
        <div class="pdp-sticky-inner">
          <div class="pdp-sticky-head">
            <div>
              <div>
                <img src="{{ module.category_image.src }}" alt="" />
              </div>
              <h3>{{ module.course_name }}</h3>
            </div>
            <div>{{ module.sticky_nav.subhead }}</div>
          </div>
          <div class="pdp-sticky-btns">
            {# Left Button #}
            {% if module.sticky_nav.left_button_link.href and module.sticky_nav.left_button_text %}
            <div>
              {% if is_sample_class %}
                <a
                  href="{{ module.sticky_nav.left_button_link.href }}"
                  class="jd-request-btn hs-button pdp-sticky-btn-left secondary-button arrow-link {{ arrow_link_direction }}"
                >
                  {{ module.sticky_nav.left_button_text }}
                </a>
              {% else %}
                <a 
                  href="{{ module.sticky_nav.left_button_link.href }}" 
                  class="jd-request-btn hs-button pdp-sticky-btn-left" target="_blank"
                > 
                  {{ module.sticky_nav.left_button_text }}
                  <i class="fa-regular fa-circle-arrow-right" style="padding-left: 10px;"></i>
                </a>
              {% endif %}
            </div>
            {% endif %}

            {# Right button - Enroll #}
            <div class="enroll-btn-wrapper">
              {# Disabled this button until we parse product info. #}
              <button
                id="pdp-sticky-enroll-btn"
                class="jd-request-btn hs-button {{ is_sample_class ? 'dark-button' : 'light-button' }} pdp-sticky-btn-right caret caret-down"
                disabled
              >
                {% if is_sample_class and module.sticky_nav.right_button_text %}
                  {{ module.sticky_nav.right_button_text }}
                {% else %}
                  Enroll
                {% endif %}
              </button>
            </div>
          </div>
          <button
            type="button"
            id="pdp-close-product-selector"
            class="close-button pdp-close-product-selector hide"
            aria-hidden="true"
          ></button>
        </div>
      </div>

      {# Dropdown portion #}
      <div class="pdp-sticky-enroll">
        <div class="pdp-sticky-enroll-inner">
          <div class="pdp-bottom">
            <div class="pdp-bottom-heading-wrapper">
              <h3 class="pdp-sticky__dropdown-heading">
                <span class="multi-variant">{{ module.sticky_nav.dropdown_left_text }}</span>
                <span class="single-variant">{{ module.sticky_nav.dropdown_left_text_singular }}</span>
              </h3>
            </div>
            <div class="pdp-bottom-content">
              <div class="pdp-bottom-options-wrapper">
                <div class="pdp-bottom-options"></div>
              </div>
              <div class="pdp-bottom-price-wrapper">
                <div class="pdp-bottom-price"></div>
                <div class="pdp-bottom-3-bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{# Added to cart pop up: from Sample Class Sticky Header #}
{% if is_sample_class %}
  <div class="jd-add-pop">
    <div class="jd-add-pop-item-added">
      <strong class="jd-add-pop-message pseudo-svg check-before">Item added to cart</strong>
      <svg
        class="jd-add-pop-close"
        clip-rule="evenodd"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/>
      </svg>
    </div>
    <div class="jd-add-pop-content">
      <div class="jd-add-pop-img"><div></div></div>
      <div class="jd-add-pop-content-main">
        <div class="jd-add-pop-cat"></div>
        <div class="jd-add-pop-name"></div>
        <div class="jd-add-pop-options"></div>
        <div class="add-pop-price-container">      
          <span class="jd-add-pop-price"></span>
          <span class="add-pop-price-original"></span>
        </div>
      </div>
    </div>
    <div class="jd-add-pop-btns">
      <a
        href="{{ module.added_to_cart_popup.continue_shopping_link.url.href }}"
        class="jd-request-btn hs-button jd-request-btn-inverse"
      >Continue Shopping</a>
      <a
        href="{{ module.added_to_cart_popup.cart_link.url.href }}"
        class="jd-view-cart-link jd-request-btn hs-button light-button jd-arrow-link"
      >View Cart</a>
    </div>
  </div>
{% endif %}

{% require_css %}
<style>
  {% scope_css %}
  .pdp-top-slide-dots-wrap,
  .pdp-top-slide-img {
    padding-top: {{ module.slide_image_height }};
  }

  {% if codeObj.use_chalk %}
   .pdp-code {
      background-color: var(--color--chalk);
    }
  {% endif %}
  {% end_scope_css %}
</style>
{% end_require_css %}

<script>
  {%- set raw_data = {
    category: module.category_text,
    courseName: module.course_name,
    isHeaderOnly: is_header_only,
    isInlineAndHeader: is_inline_and_header,
    isInlineOnly: is_inline_only,
    isSampleClass: is_sample_class,
    name: name,
    productID: module.product_id,
    showInlineSection: show_inline_section,
    showStickyHeader: show_sticky_header,
    useDynamicHeaderTrigger: module.use_dynamic_header_trigger
  } %}
  (function () {
    const jsonData = JSON.stringify({{ raw_data|tojson }});
    IIN.shopify.setAddToCartSessionData(jsonData);
  })();
</script>
