{% from '../../macros/get-phone-href.html' import get_phone_href %}

{% set have_phone_number = module.us_phone_number or module.international_phone_number %}
{% if module.appointment_contact.href %}
  {% set appointment_href = module.appointment_contact.href_with_scheme or module.appointment_contact.href %}
{% endif %}
{% set whatsapp_link = module.whatsapp_link.href %}
{% set show_appointment_phone_or = appointment_href and have_phone_number %}
{% set show_phone_whatsapp_or = have_phone_number and whatsapp_link %}

<!-- Begin Need Guidance module html  -->
<div class="need-guidance">
  <h2 class="need-guidance__header">Need Guidance?</h2>
  {% if module.text %}
     <p class="need-guidance__text">{{ module.text }}</p>
  {% endif %}
  <p class="need-guidance__contacts">
    {# Schedule an appointment #}
    {% if appointment_href %}
      <a
        class="pseudo-svg calendar-plus-before"
        href="{{ appointment_href|escape_url }}"
      >Schedule an appointment</a>
    {% endif %}
    {# or #}
    {% if (show_appointment_phone_or) %}
      <span>or</span>
    {% endif %}
    {# Phone Numbers #}
    {% if have_phone_number %}
      <span>
        <span>call us at</span>
        {% if module.us_phone_number %}
          <span>US: </span>
          <a 
            class="pseudo-svg phone-chat-before"
            href="{{ get_phone_href(module.us_phone_number) }}"
          >{{ module.us_phone_number }}</a>
        {% endif %}
        {% if module.us_phone_number and module.international_phone_number %}
          <span>&centerdot;</span>
        {% endif %}
        {% if module.international_phone_number %}
          <span>International: </span>
          <a
            class="pseudo-svg phone-chat-before"
            href="{{ get_phone_href(module.international_phone_number, true) }}"
          >{{ module.international_phone_number }}</a>
        {% endif %}
      </span>
    {% endif %}
    {# or #}
    {% if (show_phone_whatsapp_or) %}
      <span>or</span>
    {% endif %}
    {# Whatsapp #}
    {% if module.whatsapp_link.href %}
      <a
        class="pseudo-svg whatsapp-before"
        href="{{ module.whatsapp_link.href|escape_url }}"
      >Whatsapp</a>
    {% endif %}
  </p>
</div>
<!-- End Need Guidance module html  -->
