.video-slider.non-slider {
  display: flex;
  flex-wrap: wrap;
}

.video-slider.non-slider .video-card-wrap {
  padding: 10px;
  width: var(--tooltip-width);
}

@media (max-width: 991px) {
  .video-slider.non-slider .video-card-wrap {
    width: var(--tooltip-tablet);
  }
}

@media (max-width: 767px) {
  .video-slider.non-slider .video-card-wrap {
    width: 100%;
  }
}
