.deal-bar {
  background: var(--color--cherry);
  color: var(--color--white);
  padding: 5px 45px 5px 5px;
  position: relative;
  text-align: center;
}

.deal-bar-inner {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.deal-bar-inner a:hover {
  text-decoration: underline;
}

.deal-bar-inner > * {
  margin: 5px 5px 5px 0;
}

.deal-bar-time-text {
  background: var(--color--white);
  color: var(--color--cherry);
  margin-right: 20px;
  padding: 0 20px;
}

.deal-bar-btn:hover {
  color: var(--color--white);
  text-decoration: none;
}

.deal-bar-close {
  height: 36px;
  fill: var(--color--white);
  position: absolute;
  right: 5px;
  top: 3px;
  width: 36px;
}

.deal-bar-close:hover {
 fill: var(--color--grey--5);
}

