.deal-bar {
  background: var(--color--midnight);
  color: var(--color--white);
  padding: 5px 45px 5px 5px;
  position: relative;
  text-align: center;
}

.deal-bar-inner {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: var(--container--md)) {
 .deal-bar-inner {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
 }
}

.deal-bar-inner:hover {
  text-decoration: underline;
}

.deal-bar-inner > * {
  margin: 5px 5px 5px 0;
}

.deal-bar-time-text {
  background: var(--color--white);
  color: var(--color--midnight);
  margin-right: 20px;
  padding: 0 20px;
}

.deal-bar-btn {
  border: 1px solid var(--color--white);
  border-radius: 5px;
  color: var(--color--white);
  padding: 0 4px;
}

.deal-bar-btn:hover {
  color: var(--color--white);
  text-decoration: none;
}

.deal-bar-close {
  height: 36px;
  fill: var(--color--legacy--grey--very-light-grey-1);
  position: absolute;
  right: 5px;
  top: 3px;
  width: 36px;
}

