.arrow-nav {
  padding-top: 30px;
  text-align: right;
}

.arrow-nav .slick-arrow {
  position: static;
  border: none;
  box-shadow: 0 0 10px var(--color--legacy--black--black--alpha-15);
  background: var(--color--white);
  font-size: var(--font-size--legacy--21);
}

.arrow-nav .slick-prev {
  border-radius: 4px 0 0 4px;
  padding: 15px 27px 15px 24px !important;
}

.arrow-nav .slick-next {
  border-radius: 0 4px 4px 0;
  padding: 15px 24px 15px 27px !important;
}

.testimonial-q.q-top {
  float: none;
  margin-bottom: 30px;
}

.testimonials .testimonials-wrap {
  display: flex;
  flex-direction: column;
  padding: 4% 0 4% 6%;
}

.acc-img-wrapper {
  display: flex !important;
}

.acc-img-wrapper::before {
  display: block;
  position: relative;
  left: -50px;
  transform: skewX(5deg);
  border-radius: 4px;
  box-shadow: 0 0 10px var(--color--legacy--black--black--alpha-20);
  background: var(--color--legacy--blue--dark-cerulean);
  width: 10vw;
  content: '';
}

.acc-img-wrapper .sq-wrapper {
  flex: 1 auto;
  transform: skewX(5deg);
  margin-right: 5%;
  border-radius: 4px;
  box-shadow: 0 0 10px var(--color--legacy--black--black--alpha-20);
  overflow: hidden;
}

.acc-img-wrapper .responsive-img {
  transform: skewX(-5deg);
  margin-left: -5%;
  width: 110%;
}

@media (max-width: 767px) {
  .acc-img-wrapper .sq-wrapper {
    margin-left: 5%;
  }

  .acc-img-wrapper::before {
    display: none;
  }
}

.testimonials .tabs {
  padding-bottom: 30px;
}

.unset p,
.unset h2,
.unset h3,
.unset h4,
.unset h5 {
  font-family: unset !important;
  font-size: unset !important;
}

.testimonials .tab-index {
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
  padding: 5px 0;
}

.testimonials .tab-index:hover {
  color: var(--tooltip-color) !important;
}

.tab-index.selected {
  color: var(--tooltip-color) !important;
}
