<div class="testimonials size-{{ module.style.image.image_alignment }}{% if module.style.animation.apply_animation_to == 'this' %} {{ module.style.animation.animation }}{% else %} load-parent{% endif %}"{% if module.style.animation.apply_animation_to != 'this' %} data-load="{{ module.style.animation.animation }}" data-target="{{ module.style.animation.apply_animation_to }}"{% endif %} id="{{name}}">
  <div id="{{name}}-img" class="testimonial-img span{{ module.style.image.image_width }} show-test-img">{% for item in module.testimonials %}<div class="acc-img-wrapper"><div class="sq-wrapper"><div class="responsive-img" style="background:url('{{item.image_field.src}}') {{ module.style.image.alignment_field.vertical_align|replace('MIDDLE', 'center') }} {{ module.style.image.alignment_field.horizontal_align }} no-repeat;background-size: {{ module.style.image.image_coverage }};padding-top: {{ module.style.image.image_scale }}%;"></div></div></div>{% endfor %}</div>
  <div class="testimonials-wrap span{{ 12 - module.style.image.image_width }}">
    {% if module.style.align_text == 'bottom' %}<div style="flex: 1;min-height:30px;"></div>{% endif %}
    {% if module.style.navigation == 'tabs' %}<div class="tabs">
      {% for item in module.testimonials %}<span data-index="{{loop.index - 1}}" class="tab-index{% if loop.index == '1' %} selected{% endif %}{% if module.style.font_field.font %} unset{% endif %}" style="{% if module.style.font_field.font %}font-family: {{ module.style.font_field.font }};{% endif %}{{ module.style.font_field.style }}; color: {{ module.style.font_field.color }}; font-size: {{ module.style.font_field.size }}{{module.style.font_field.size_unit }};--tooltip-color:{{ module.style.active_tab.color }};">{{item.person}}</span>{% endfor %}
    </div>{% endif %}
    <div>
      {% if module.style.quote.quotation_location != 'none' %}<div class="testimonial-q q-{{module.style.quote.quotation_location}}"><svg xmlns="http://www.w3.org/2000/svg" width="{{ module.style.quote.quotation_mark.size }}" height="{{ module.style.quote.quotation_mark.size }}" viewBox="0 0 24 24" style="fill: {{ module.style.quote.quotation_mark.color }};"><path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z"/></svg></div>{% endif %}
      <div class="testimonial-slider">
        {% for item in module.testimonials %}
        <div class="testimonial" data-img="{{item.image_field.src}}">
          <div class="q-text" style="{% if module.style.quote.quote.font %}font-family: {{ module.style.quote.quote.font }};{% endif %} color: {{ module.style.quote.quote.color }}; font-size: {{ module.style.quote.quote.size }}{{module.style.quote.quote.size_unit }};{{ module.style.quote.quote.style }}">
            {{item.testimonial}}
          </div>
          {% if module.style.navigation != 'tabs' %}{{item.person}}{% endif %}
        </div>
        {% endfor %}
      </div>
      {% if module.style.navigation == 'arrows' %}<div id="{{name}}-nav" class="arrow-nav"></div>{% endif %}
    </div>    
  </div>
</div>

<style>
  #{{ name }} .q-text p {
    color: {{ module.style.quote.quote.color }};
    {% if module.style.quote.quote.font %}
      font-family: {{ module.style.quote.quote.font }};
    {% endif %}
    font-size: {{ module.style.quote.quote.size }}{{module.style.quote.quote.size_unit }};
    {{ module.style.quote.quote.style }} }
</style>

<script>
$(function () {
  $('#{{name}} .testimonial-slider').slick({
    infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      asNavFor: '#{{name}}-img',
      arrows: {{ 'true' if module.style.navigation == 'arrows' else 'false' }},
    {% if module.style.navigation == 'arrows' %}appendArrows: '#{{name}}-nav',
    prevArrow: '<button class="slick-prev slick-arrow" type="button"><i class="fal fa-chevron-left" aria-hidden="true"></i></button>',
    nextArrow: '<button class="slick-next slick-arrow" type="button"><i class="fal fa-chevron-right" aria-hidden="true"></i></button>',{% endif %}
    dots: {{ 'true' if module.style.navigation == 'dots' else 'false' }}
   });
  $('#{{name}}-img').slick({
    infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
    asNavFor: '#{{name}} .testimonial-slider',
    fade: true,
    dots: false
   });
  {% if module.style.navigation == 'tabs' %}
  $('#{{name}} .tab-index').on('click', function(){
    var this_index = parseInt($(this).data('index'));
    $('.tab-index.selected').removeClass('selected');  
    $(this).addClass('selected');
    $('#{{name}} .testimonial-slider').slick('slickGoTo', this_index);
   });
  {% endif %}
  $('#{{name}} .testimonial-slider').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
    var nextImg = $(slick.$slides.get(nextSlide)).data('img');
    $('#{{name}} .testimonial-img').removeClass('show-test-img');
    $('#{{name}} .testimonial-img').css('background', "url('" + nextImg + "')");
    setTimeout(function() { $('#{{name}} .testimonial-img').addClass('show-test-img'); }, 50);
  });
});
</script>
