<!--
  templateType: blog_listing
  isAvailableForNewContent: false
  label: Blog listing
  screenshotPath: ../../images/con_index.png
-->
{% extends '../layouts/base.html' %}

{% block body %}

<script>
$(document).ready(function() {
  $('.blog-filter-topics-label').click(function() {
    if($(window).outerWidth() < 992) {
      $('.blog-filters').slideToggle();
    }
  });
});
</script>

<main class="body-container-wrapper">
  {% module "module_16383888962115" path='../../modules/Blog Hero', label="Blog Hero" %}
<div class="span12 widget-span widget-type-cell blog-body-wrapper dnd-section" style="" data-widget-type="cell" data-x="0" data-w="12">


  <div class="row-fluid-wrapper row-depth-1 row-number-8 ">
    <div class="row-fluid ">
      <div class="span12 widget-span widget-type-cell resource-section" style="" data-widget-type="cell" data-x="0" data-w="12">
        <div class="row-fluid-wrapper row-depth-1 row-number-9 ">
          <div class="row-fluid column-ct">

            <div class="widget-span widget-type-cell left-column-ct" style="" data-widget-type="cell" data-x="0" data-w="3">
              
              <div class="left-col-section row-fluid-wrapper row-depth-2 row-number-1 ">
                <div class="row-fluid ">
                  <div class="span12 widget-span widget-type-custom_widget blog-sub-2" style="" data-widget-type="custom_widget" data-x="0" data-w="12">
                    <div class="blog-sub-arrow"></div>
                    {% module_block module "module_151456961963776" module_id=1861177, overrideable=False, path='@hubspot/blog_subscribe', per_widget_wrapper_html='', title='Subscribe to Blog', widget_name='Blog Email Subscription', wrapping_html='', label='Blog Email Subscription' %}{% end_module_block %}

                  </div><!--end widget-span -->
                </div><!--end row-->
              </div><!--end row-wrapper -->

              <div class="left-col-section row-fluid-wrapper row-depth-2 row-number-1 ">
                <div class="row-fluid ">
                  <div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
                    {% module "module_159680526989189" path='../../modules/blog_search', label="blog_search", include_search_button=False %}

                  </div><!--end widget-span -->
                </div><!--end row-->
              </div><!--end row-wrapper -->

              <div class="row-fluid-wrapper row-depth-2 row-number-2 ">
                <div class="row-fluid ">
                  <div class="blog-filter">
                    <div class="left-col-section blog-filter-inner">
                      <h3 class="blog-filter-topics-label">Topics<i class="fas fa-chevron-down"></i></h3>
                      {% set my_tags = blog_tags('default', 100) %}
                      <div class="blog-filters">
                        <a href="{{ group.absolute_url }}" class="{% if !topic %}selected{% endif %}">All Blogs</a>
                        {% for item in my_tags %}
                        <div class="type-item filter-item">
                          <a {% if topic == item.slug %}href="{{ group.absolute_url }}" class="selected"{% else %}href="{{ blog_tag_url(group.id, item.slug) }}"{% endif %}>{{ item }}</a>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div><!--end widget-span -->
                </div><!--end row-->
              </div><!--end row-wrapper -->

            </div><!--end widget-span -->




            <div class="widget-span widget-type-cell right-column-ct" style="" data-widget-type="cell" data-x="3" data-w="9">

              <div class="row-fluid-wrapper row-depth-2 row-number-3 ">
                <div class="row-fluid ">
                  {% if !request.query_dict['term'] %}
                  
                  {% module "module_163839054511319" path='../../modules/Blog Listing', label="Blog Listing" %}
                  
                      <!-- pageination -->
                      {% set total_pages = contents.total_page_count %} <!-- sets variable for total pages -->
                      {% set more_pages = total_pages - current_page_num %} <!-- sets variable for how many more pages are past the current pages -->
                      {% if total_pages > 1 %}
                      <div class="fa-pagi-wrap" style="margin-bottom: 50px;">
                        <div class="fa-pagi">
                            {% if more_pages == 0 %}
                            {% if current_page_num - 4 == 1 %}<a href="{{ blog_page_link(current_page_num - 4) }}" class="pagi-num">{{ current_page_num - 4 }}</a>{% endif %}
                            {% if current_page_num - 4 > 1 %}<a href="{{ blog_page_link(current_page_num - 4) }}" class="pagi-num">{{ current_page_num - 4 }}</a>{% endif %}
                            {% endif %}
                            {% if more_pages <= 1 %}
                            {% if current_page_num - 3 == 1 %}<a href="{{ blog_page_link(current_page_num - 3) }}" class="pagi-num">{{ current_page_num - 3 }}</a>{% endif %}
                            {% if current_page_num - 3 > 1 %}<a href="{{ blog_page_link(current_page_num - 3) }}" class="pagi-num">{{ current_page_num - 3 }}</a>{% endif %}
                            {% endif %}
                            {% if current_page_num - 2 == 1 %}<a href="{{ blog_page_link(current_page_num - 2) }}" class="pagi-num">{{ current_page_num - 2 }}</a>{% endif %}
                            {% if current_page_num - 2 > 1 %}<a href="{{ blog_page_link(current_page_num - 2) }}" class="pagi-num">{{ current_page_num - 2 }}</a>{% endif %}
                            {% if current_page_num - 1 == 1 %}<a href="{{ blog_page_link(current_page_num - 1) }}" class="pagi-num">{{ current_page_num - 1 }}</a>{% endif %}
                            {% if current_page_num - 1 > 1 %}<a href="{{ blog_page_link(current_page_num - 1) }}" class="pagi-num">{{ current_page_num - 1 }}</a>{% endif %}
                            <a class="active pagi-num" href="{% if current_page_num==1 %}{{ blog_page_link(current_page_num) }}{% else %}{{ blog_page_link(current_page_num) }}{% endif %}">{{ current_page_num }}</a>
                            {% if current_page_num + 1 <= total_pages %}<a href="{{ blog_page_link(current_page_num + 1) }}" class="pagi-num">{{ current_page_num + 1 }}</a>{% endif %}
                            {% if current_page_num + 2 <= total_pages %}<a href="{{ blog_page_link(current_page_num + 2) }}" class="pagi-num">{{ current_page_num + 2 }}</a>{% endif %}
                            {% if current_page_num <= 2 %}
                            {% if current_page_num + 3 <= total_pages %}<a href="{{ blog_page_link(current_page_num + 3) }}" class="pagi-num">{{ current_page_num + 3 }}</a>{% endif %}
                            {% endif %}
                            {% if current_page_num == 1 %}
                            {% if current_page_num + 4 <= total_pages %}<a href="{{ blog_page_link(current_page_num + 4) }}" class="pagi-num">{{ current_page_num + 4 }}</a>{% endif %}
                            {% endif %}
                          </div>
                      </div>
                      {% endif %}

                    </div>

                  </div><!--end widget-span -->
                  {% endif %}
                </div><!--end row-->
              </div><!--end row-wrapper -->

              <div class="row-fluid-wrapper row-depth-2 row-number-4 ">
                <div class="row-fluid ">
                  <div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
                    <div id="hs_cos_wrapper_module_1576765123915123" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">

                    </div>

                  </div><!--end widget-span -->
                </div><!--end row-->
              </div><!--end row-wrapper -->
              {% module "module_159680519962987" path='../../modules/blog_search_results', label="blog_search_results" %}

            </div><!--end widget-span -->



          </div><!--end row-->
        </div><!--end row-wrapper -->

      </div><!--end widget-span -->
    </div><!--end row-->
  </div><!--end row-wrapper -->

</div>
{% module "module_163838977955715" path='../../modules/Blog CTA', label="Blog CTA" %}

</main>

{% endblock body %}
