<!--
  templateType: page
  isAvailableForNewContent: true
  label: Blog - Tag
  screenshotPath: /Integrative Nutrition/images/blog-tag-page-editor-preview.jpg
-->
{% extends '../layouts/base.html' %}
{% from "../../macros/get-app-config.html" import get_app_config %}
{% from '../../macros/get-blog-navigation.html' import get_blog_nav_breadcrumbs %}

{# suffix bt (blog tag) for pseudo-namespacing #}
{% set app_config_bt = {} %}
{% do get_app_config(app_config_bt) %}
{% set tag_menu_bt = menu(app_config_bt.blog_tag_menu_id) %}
{% set info_bt = {} %}
{% for category in tag_menu_bt.children %}
  {% for tag in category.children if category.children %}
    {% if tag.activeNode %}
      {% do info_bt.put("node", tag) %}
    {%  endif %}
  {% endfor %}
{% endfor %}
{% do info_bt.put("blog_tags", blog_tags("default")) %}
{% do info_bt.put("page_tag", info_bt.blog_tags|selectattr('label', 'equalto', info_bt.node.label)|first) %}

{% set blog_page_level = "level-3" %}

{% block body %}
<main class="blog-page__main offset-header {{ blog_page_level }}">
  <div class="blog-page__section blog-page__breadcrumbs-container {{ blog_page_level }}">
    {{ get_blog_nav_breadcrumbs(tag_menu_bt) }}
  </div>
  <div class="blog-page__section blog-page__blog-teasers-container">
    {% module "module_17291984260572"
      path="/Integrative Nutrition/modules/Blog Teasers",
      label="Blog Tag Page Blog Teasers",
      is_page_heading="true"
      layout="two_column",
      page_level="{{ blog_page_level }}",
      tag_field="{{ info_bt.page_tag }}",
      tag_menu="{{ app_config_bt.blog_tag_menu_id }}"
    %}
  </div>
</main>
{% endblock body %}
