<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Blog - Landing
  screenshotPath: ../../images/blog-landing.jpg
-->
{# Templates #}
{% extends '../layouts/base.html' %}
{% from "../../macros/get-app-config.html" import get_app_config %}

{# Variables #}
{# Prefix bl (blog landing) added to prevent over-writing variables in children modules #}
{% set bl_app_config = {} %}
{{ get_app_config(bl_app_config) }}
{% set bl_dict = {
    "tag_menu_id": bl_app_config.blog_tag_menu_id,
    "tag_intersection": []
  }
%}
{% do bl_dict.put("tag_menu", menu(bl_dict.tag_menu_id)) %}
{% do bl_dict.put("tags", blog_tags("default")) %}
{% for category in bl_dict.tag_menu.children if bl_dict.tag_menu.children %}
  {% set tag = bl_dict.tags|selectattr('label', 'equalto', category.label)|first %}
  {% do bl_dict.tag_intersection.append(tag) if tag %}
{% endfor %}

{# html #}
{% block body %}
  <main class="dnd-section blog-template-wrapper">
    {% module "blog-category-search"
      path="../../modules/Blog - Search Term",
      label="Blog - Search Term",
      tag_menu="{{ bl_dict.tag_menu_id }}",
      blog_search_heading="Articles & Ideas",
      page_level="level-1"
    %}
    {# Featured story grid #}
    {% module "blog-category-featured-story-grid"
      path="../../modules/Featured Story Grid",
      label="Blog - Featured Story Grid",
      tag_menu="{{ bl_dict.tag_menu_id }}"
    %}
    {# Latest blog posts #}
      {% module "blog-latest-posts"
      path="../../modules/Blog - Latest Posts",
      label="Blog - Latest Posts",
      menu="{{ bl_dict.tag_menu_id }}"
      %}
    {# DND Section #}
    {% dnd_area 'dnd_area' label="Main DND section" %}
      {% dnd_section full_width=true %}
        {% dnd_column offset=0, width=12 %}
          {% dnd_row %}{% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}
    {% end_dnd_area %}
    {# Teasers #}
    {% for tag in bl_dict.tag_intersection %}
      {% module "blog-category-teasers"
        path="../../modules/Blog Teasers",
        label="Blog - Teasers",
        unique_in_loop=True,
        tag_menu="{{ bl_dict.tag_menu_id }}",
        tag_field="{{ tag }}",
        layout="two_column"
      %}
    {% endfor %}
  </main>
{% endblock body %}
