<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Blog - Landing
  screenshotPath: ../../images/blog-landing-page-editor-preview.jpg
-->
{# Templates #}
{% extends '../layouts/base.html' %}
{% from "../../macros/get-app-config.html" import get_app_config %}
{{ require_js(get_asset_url('../../js/blog-nav.js')) }}

{# Variables #}
{# Suffix bl (blog listing) for pseudo-namespacing #}
{% set app_config_bl = {} %}
{{ get_app_config(app_config_bl) }}
{% set info_bl = {
    "tag_menu_id": app_config_bl.blog_tag_menu_id,
    "category_tags": {},
  }
%}
{% do info_bl.put("tag_menu", menu(info_bl.tag_menu_id)) %}
{% do info_bl.put("active_tags", blog_tags("default")) %}
{% for category in info_bl.tag_menu.children if info_bl.tag_menu.children %}
  {% do info_bl.category_tags.put(category.label, category.children) if category.children %}
{% endfor %}

{# html #}
{% block body %}
  <main class="blog-page__container offset-header">
    <div class="blog-page__search-container">
      {% module "blog-category-search"
        path="../../modules/Blog - Search Term",
        label="Blog - Search Term",
        tag_menu="{{ info_bl.tag_menu_id }}",
        blog_search_heading="Articles & Ideas",
        page_level="level-1"
      %}
    </div>
    {# Featured story grid #}
    <div class="blog-page__featured-story-grid-container">
      {% module "blog-category-featured-story-grid"
        path="../../modules/Featured Story Grid",
        label="Blog - Featured Story Grid",
        tag_menu="{{ info_bl.tag_menu_id }}"
      %}
    </div>
    {# Latest blog posts #}
      {% module "blog-latest-posts"
      path="../../modules/Blog - Latest Posts",
      label="Blog - Latest Posts",
      menu="{{ info_bl.tag_menu_id }}"
      %}
    {# DND Section #}
    {% dnd_area 'dnd_area' label="Main DND section" %}
      {% dnd_section full_width=true %}
        {% dnd_column offset=0, width=12 %}
          {% dnd_row %}{% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}
    {% end_dnd_area %}
    {# Teasers #}
    <div class="blog-page__blog-teasers-container">
      {% for category_label, tag_list in info_bl.category_tags.items() %}
        {# Slug-ify tag labels for blog_recent_tag_posts call #}
        {%- set tag_slug_list = tag_list
            |map("label")
            |map("lower")
            |map("regex_replace", " \\+ ", "-")
            |map("regex_replace", " ", "-")
        -%}
        {% module "blog-category-teasers"
          path="../../modules/Blog Teasers",
          label="Blog - Teasers",
          unique_in_loop=True,
          tag_menu="{{ info_bl.tag_menu_id }}",
          layout="two_column",
          listing_page_tag_slug_list="{{ tag_slug_list }}",
          listing_page_category="{{ category_label }}",
          page_level="level-1"
        %}
      {% endfor %}
    </div>
  </main>
{% endblock body %}
