<!--
  templateType: page
  isAvailableForNewContent: true
  label: Thank You
  screenshotPath: ../../images/con_ty.png
-->
{% extends '../layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  {# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
  {% dnd_area 'dnd_area' class='body-container body-container--home', label='Main section' %}

  {% include_dnd_partial path='../Sections/IIN_inside_hero.html' context={'title':'Thank You!'} %}
  {% include_dnd_partial path='../Sections/IIN_3_column_boxs.html' context={} %}
  

  {% end_dnd_area %}
</main>
{% endblock body %}