.relative-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: var(--spacing-6) var(--spacing-16);
}

.relative-nav :last-child {
  margin-left: var(--spacing-6);
}

@media (max-width: 767px) {
  .relative-nav {
    justify-content: center;
    padding: var(--spacing-10) var(--spacing-5);
  }
}
