<!-- Start Relative Nav html  -->
{% if module.navigation_menu %}
  {% set nav_links = menu(module.navigation_menu).children|map("url") %}
  {% set link_count = nav_links|length %}
  {% set current_index = nav_links.index(page_meta.canonical_url) %}
  {% set last_index = link_count - 1 %}
  {% set is_last_page = current_index == last_index %}
  {% set have_previous = current_index > 0 %}
  {% set show_previous = (is_last_page and show_previous_btn_on_last_page) or (!is_last_page and have_previous) %}
  {% set show_next = !is_last_page %}
  
  {% if show_previous or show_next %}
    <div class="relative-nav">
      {% if show_previous %}
        {% set previous_index = current_index - 1 %}
        <a 
          class="styled-button secondary-button arrow-link arrow-link-back"
          href="{{ nav_links[previous_index] }}"
        >{{ module.previous_text }}</a>
      {% endif %}
      {% if show_next %}
        {% set next_index = current_index + 1 %}
        <a
          class="styled-button tertiary-button arrow-link arrow-link-forward"
          href="{{ nav_links[next_index] }}"
        >{{ module.next_text }}</a>
      {% endif %}
    </div>
  {% endif %}
{% elif is_in_editor and !module.navigation_menu %}
  <h3 class="text-iin-red">Missing menu selection for Relative Navigation!</h3>
{% endif %}
<!-- End Relative Nav html  -->
