<div id="{{ name }}" class="desktop-table formatted-table{% if module.style_1.animation.apply_animation_to == 'this' %} {{ module.style_1.animation.animation }}{% else %} load-parent{% endif %}"{% if module.style_1.animation.apply_animation_to != 'this' %} data-load="{{ module.style_1.animation.animation }}" data-target="{{ module.style_1.animation.apply_animation_to }}"{% endif %}>
  <table>
    {% if module.add_column_headers %}
    <tr>
      <td style="background:{{ module.headers.column_1.background_color.color }};color:{{ module.headers.column_1.text_color.color }};{{ module.style_1.textalignment_field.css }}"><strong>{{ module.headers.column_1.column1_header }}</strong></td>
      {% if module.columns >= 2 %}<td style="background:{{ module.headers.column_2.background_color.color }};color:{{ module.headers.column_2.text_color.color }};{{ module.style_1.textalignment_field.css }}"><strong>{{ module.headers.column_2.column1_header }}</strong></td>{% endif %}
      {% if module.columns >= 3 %}<td style="background:{{ module.headers.column_3.background_color.color }};color:{{ module.headers.column_3.text_color.color }};{{ module.style_1.textalignment_field.css }}"><strong>{{ module.headers.column_3.column1_header }}</strong></td>{% endif %}
      {% if module.columns >= 4 %}<td style="background:{{ module.headers.column_4.background_color.color }};color:{{ module.headers.column_4.text_color.color }};{{ module.style_1.textalignment_field.css }}"><strong>{{ module.headers.column_4.column1_header }}</strong></td>{% endif %}
      {% if module.columns >= 5 %}<td style="background:{{ module.headers.column_5.background_color.color }};color:{{ module.headers.column_5.text_color.color }};{{ module.style_1.textalignment_field.css }}"><strong>{{ module.headers.column_5.column1_header }}</strong></td>{% endif %}
      {% if module.columns >= 6 %}<td style="background:{{ module.headers.column_6.background_color.color }};color:{{ module.headers.column_6.text_color.color }};{{ module.style_1.textalignment_field.css }}"><strong>{{ module.headers.column_6.column1_header }}</strong></td>{% endif %}
      {% if module.columns >= 7 %}<td style="background:{{ module.headers.column_7.background_color.color }};color:{{ module.headers.column_7.text_color.color }};{{ module.style_1.textalignment_field.css }}"><strong>{{ module.headers.column_7.column1_header }}</strong></td>{% endif %}
    </tr>
    {% endif %}
    {% for item in module.rows %}
    <tr>
      <td>{{ item.column_1 }}</td>
      {% if module.columns >= 2 %}<td>{{ item.column_2 }}</td>{% endif %}
      {% if module.columns >= 3 %}<td>{{ item.column_3 }}</td>{% endif %}
      {% if module.columns >= 4 %}<td>{{ item.column_4 }}</td>{% endif %}
      {% if module.columns >= 5 %}<td>{{ item.column_5 }}</td>{% endif %}
      {% if module.columns >= 6 %}<td>{{ item.column_6 }}</td>{% endif %}
      {% if module.columns >= 7 %}<td>{{ item.column_7 }}</td>{% endif %}
    </tr>
{% endfor %}
  </table>
</div>

<div id="{{ name }}" class="mobile-table formatted-table">
  {% if module.first_column_labels %}
  {% if module.columns >= 2 %}
  <div class="m-column">
    {% if module.add_column_headers %}<strong class="header" style="background:{{ module.headers.column_2.background_color.color }};color:{{ module.headers.column_2.text_color.color }};">{{ module.headers.column2_header }}</strong>{% endif %}
    {% for item in module.rows %}
    <div class="m-row">
      <span class="m-label">{{ item.column_1 }}:</span> {{ item.column_2 }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if module.columns >= 3 %}
  <div class="m-column">
    {% if module.add_column_headers %}<strong class="header" style="background:{{ module.headers.column_3.background_color.color }};color:{{ module.headers.column_3.text_color.color }};">{{ module.headers.column3_header }}</strong>{% endif %}
    {% for item in module.rows %}
    <div class="m-row">
      <span class="m-label">{{ item.column_1 }}:</span> {{ item.column_3 }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if module.columns >= 4 %}
  <div class="m-column">
    {% if module.add_column_headers %}<strong class="header" style="background:{{ module.headers.column_4.background_color.color }};color:{{ module.headers.column_4.text_color.color }};">{{ module.headers.column4_header }}</strong>{% endif %}
    {% for item in module.rows %}
    <div class="m-row">
      <span class="m-label">{{ item.column_1 }}:</span> {{ item.column_4 }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if module.columns >= 5 %}
  <div class="m-column">
    {% if module.add_column_headers %}<strong class="header" style="background:{{ module.headers.column_5.background_color.color }};color:{{ module.headers.column_5.text_color.color }};">{{ module.headers.column5_header }}</strong>{% endif %}
    {% for item in module.rows %}
    <div class="m-row">
      <span class="m-label">{{ item.column_1 }}:</span> {{ item.column_5 }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if module.columns >= 6 %}
  <div class="m-column">
    {% if module.add_column_headers %}<strong class="header" style="background:{{ module.headers.column_6.background_color.color }};color:{{ module.headers.column_6.text_color.color }};">{{ module.headers.column6_header }}</strong>{% endif %}
    {% for item in module.rows %}
    <div class="m-row">
      <span class="m-label">{{ item.column_1 }}:</span> {{ item.column_6 }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if module.columns >= 7 %}
  <div class="m-column">
    {% if module.add_column_headers %}<strong class="header" style="background:{{ module.headers.column_7.background_color.color }};color:{{ module.headers.column_7.text_color.color }};">{{ module.headers.column7_header }}</strong>{% endif %}
    {% for item in module.rows %}
    <div class="m-row">
      <span class="m-label">{{ item.column_1 }}:</span> {{ item.column_7 }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% else %}
  <div class="m-column">
    {% if module.add_column_headers %}<strong class="header">{{ module.headers.column1_header }}</strong>{% endif %}
    {% for item in module.rows %}
    <div class="m-row">
      {{ item.column_1 }}
    </div>
    {% endfor %}
  </div>
  {% if module.columns >= 2 %}
  <div class="m-column">
    {% if module.add_column_headers %}<strong class="header">{{ module.headers.column2_header }}</strong>{% endif %}
    {% for item in module.rows %}
    <div class="m-row">
      {{ item.column_2 }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if module.columns >= 3 %}
  <div class="m-column">
    {% if module.add_column_headers %}<strong class="header">{{ module.headers.column3_header }}</strong>{% endif %}
    {% for item in module.rows %}
    <div class="m-row">
      {{ item.column_3 }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if module.columns >= 4 %}
  <div class="m-column">
    {% if module.add_column_headers %}<strong class="header">{{ module.headers.column4_header }}</strong>{% endif %}
    {% for item in module.rows %}
    <div class="m-row">
      {{ item.column_4 }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if module.columns >= 5 %}
  <div class="m-column">
    {% if module.add_column_headers %}<strong class="header">{{ module.headers.column5_header }}</strong>{% endif %}
    {% for item in module.rows %}
    <div class="m-row">
      {{ item.column_5 }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if module.columns >= 6 %}
  <div class="m-column">
    {% if module.add_column_headers %}<strong class="header">{{ module.headers.column6_header }}</strong>{% endif %}
    {% for item in module.rows %}
    <div class="m-row">
      {{ item.column_6 }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if module.columns >= 7 %}
  <div class="m-column">
    {% if module.add_column_headers %}<strong class="header">{{ module.headers.column7_header }}</strong>{% endif %}
    {% for item in module.rows %}
    <div class="m-row">
      {{ item.column_7 }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endif %}
</div>

<style>
  .formatted-table table { width: 100%;{% if module.style_1.border_style == 'ul_edges' %}{{ module.style_1.border_field.css }}{% endif %} }
  .formatted-table table, .formatted-table tr, .formatted-table td { border-collapse: collapse; }
  #{{ name }} td { padding: 10px 15px;width: {{ 100 / module.columns }}%; }
  .m-column { margin-bottom: 10px; }
  .m-column .m-row:nth-child(even) { background: {{ module.style_1.even_bar_color.color }}; }
  .m-column .m-row:nth-child(odd) { background: {{ module.style_1.odd_bar_color.color }}; }
  .m-row { padding: 2px 10px; }
  .m-row * { display: inline-block;vertical-align: text-top; }
  .m-label, .m-label * { font-weight: bold; }
  {% if module.add_column_headers %}
  #{{name}} > table > tbody > tr:first-child > td { padding: 10px;font-size: var(--font-size--legacy--8); }
  .m-column .header { display: block;padding: 5px 10px; }
  {% endif %}
  #{{name}} > table > tbody > tr:nth-child(even) { background: {{ module.style_1.even_bar_color.color }}; }
  #{{name}} > table > tbody > tr:nth-child(odd) { background: {{ module.style_1.odd_bar_color.color }}; }
  #{{name}} tr, #{{name}} td { {% if module.style_1.border_style != 'full' %}border: none !important;{% else %}{{ module.style_1.border_field.css }}{% endif %}{% if module.style_1.border_style == 'ul_edges' || module.style_1.border_style == 'ul_only' %}border-bottom: {{ module.style_1.border_field.top.width.value}}{{ module.style_1.border_field.top.width.units}} {{ module.style_1.border_field.top.style}} {{ module.style_1.border_field.top.color}} !important;{% endif %} }
  #{{name}} table table, .m-row table { border: none !important; }
  .m-row table tr { display: table-row; }
  #{{name}} table table td, .m-row table td { padding: 1px !important; }
  .m-row table p, .m-row table div { display: block; }
</style>