/* Style Guide Fonts */

@font-face {
  font-family: Junicode;
  font-weight: 400;
  font-style: normal;
  src: url('{{ get_asset_url("/Integrative Nutrition/fonts/Junicode/junicode-regular-webfont.woff2") }}')
    format('woff2');
}

@font-face {
  font-family: Junicode;
  font-weight: 400;
  font-style: italic;
  src: url('{{ get_asset_url("/Integrative Nutrition/fonts/Junicode/junicode-italic-webfont.woff2") }}')
    format('woff2');
}

@font-face {
  font-family: Junicode;
  font-weight: 700;
  font-style: normal;
  src: url('{{ get_asset_url("/Integrative Nutrition/fonts/Junicode/junicode-bold-webfont.woff2") }}')
    format('woff2');
}

@font-face {
  font-family: Junicode;
  font-weight: 700;
  font-style: italic;
  src: url('{{ get_asset_url("/Integrative Nutrition/fonts/Junicode/junicode-bolditalic-webfont.woff2") }}')
    format('woff2');
}

/* Legacy Fonts */

@font-face {
  font-family: JuniusX-Light;
  src: url('https://23273748.fs1.hubspotusercontent-na1.net/hubfs/23273748/Website%20Font%20%E2%80%93%20JuniusX/JuniusX-Light.ttf')
    format('truetype');
}

@font-face {
  font-family: JuniusX-Regular;
  src: url('https://23273748.fs1.hubspotusercontent-na1.net/hubfs/23273748/Website%20Font%20%E2%80%93%20JuniusX/JuniusX-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: JuniusX-Medium;
  src: url('https://23273748.fs1.hubspotusercontent-na1.net/hubfs/23273748/Website%20Font%20%E2%80%93%20JuniusX/JuniusX-Medium.ttf')
    format('truetype');
}

@font-face {
  font-family: JuniusX-Semibold;
  src: url('https://23273748.fs1.hubspotusercontent-na1.net/hubfs/23273748/Website%20Font%20%E2%80%93%20JuniusX/JuniusX-Semibold.ttf')
    format('truetype');
}

@font-face {
  font-family: JuniusX-Bold;
  src: url('https://23273748.fs1.hubspotusercontent-na1.net/hubfs/23273748/Website%20Font%20%E2%80%93%20JuniusX/JuniusX-Bold.ttf')
    format('truetype');
}
