.hide {
  display: none;
}

.no-tbm {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.flex-spacer {
  flex: 1;
}

.btn-main {
  display: inline-block;
  transition: 0.3s all;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: var(--color--legacy--green--emerald);
  cursor: pointer;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: var(--line-height--0);
  white-space: nowrap;
  color: var(--color--white);
  font-family: var(--font-family--legacy--gallery);
  font-size: var(--font-size--legacy--7);
  font-weight: 300;
}

.btn-main:hover {
  background-color: var(--color--legacy--green--blue-stone);
  color: var(--color--white) !important;
}

.amenities-back {
  margin-bottom: 25px;
}

.amenities-back a {
  display: inline-block;
  transition: 0.3s all;
  border-radius: 2px;
  background-color: var(--color--legacy--green--emerald);
  padding: 15px 45px;
  text-transform: uppercase;
  color: var(--color--white);
  font-family: var(--font-family--legacy--gallery);
  font-weight: 300;
}

.amenities-back a:hover {
  background-color: var(--color--legacy--blue--allports-2);
}

/****************************************************   */

/* LOADING ANIM */

/****************************************************   */
.lds-ring {
  display: inline-block;
  position: relative;
  margin-top: 80px;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  margin: 8px;
  border: 8px solid var(--color--white);
  border-radius: 50%;
  border-color: var(--color--legacy--blue--allports-1) transparent transparent
    transparent;
  width: 64px;
  height: 64px;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.amenities-right {
  width: 100%;
}

.amenities-link {
  font-size: var(--font-size--legacy--11);
}

.amenities-select-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.amenities-select-wrapper > div:nth-child(3n + 1) {
  padding-right: 10px;
  padding-left: 0;
  width: 33.33%;
}

.amenities-select-wrapper > div:nth-child(3n + 2) {
  padding-right: 10px;
  padding-left: 10px;
  width: 33.33%;
}

.amenities-select-wrapper > div:nth-child(3n) {
  padding-right: 0;
  padding-left: 10px;
  width: 33.33%;
}

.amenities-select-wrapper select {
  margin-right: 20px;
  padding: 10px;
  width: 100%;
  font-size: var(--font-size--legacy--7);
}

.amenities-listing {
  display: flex;
  flex-wrap: wrap;
}

.amenities-entry-wrap {
  transform: scale(0.6);
  transform-origin: 30% 60%;
  transition: 0.3s all;
  opacity: 0;
  width: 33.33%;
  height: auto;
}

.show-entry {
  transform: scale(1);
  opacity: 1;
}

.hide-entry {
  transform: scale(0.6);
  opacity: 0;
}

.amenities-entry-wrap:nth-child(3n + 1) {
  padding: 0 10px 20px 0;
}

.amenities-entry-wrap:nth-child(3n) {
  padding: 0 0 20px 10px;
}

.amenities-entry-wrap:nth-child(3n + 2) {
  padding: 0 10px 20px;
}

.amenities-title h3 {
  color: var(--color--legacy--blue--endeavour);
}

.amenities-entry {
  display: flex;
  flex-direction: column;
  background: var(--color--white);
  height: 100%;
}

.amenities-entry h6 {
  margin: 10px 0;
}

.amenities-img {
  transition: 0.3s all;
  margin: 0 -1px;
  border-radius: 6px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  cursor: pointer;
  padding-top: 65%;
}

.amenities-img:hover {
  opacity: 0.7;
}

.amenities-date {
  font-size: var(--font-size--legacy--8);
}

.amenities-desc {
  margin-top: 10px;
  margin-bottom: 10px;
}

a.show-full-desc {
  margin-top: 10px;
}

.amenities-body {
  flex: 1;
  padding: 10px 30px 30px;
}

.amenities-download {
  padding: 0 35px 20px;
}

.amenities-dl-num {
  margin-top: 10px;
  font-size: var(--font-size--legacy--2);
  font-style: italic;
}

.amenities-left-card {
  margin-bottom: 40px;
  border: 1px solid var(--color--legacy--grey--silver-2);
  border-top: 20px solid var(--color--legacy--blue--allports-1);
  border-radius: 3px;
  padding: 10px 20px 20px;
}

.amenities-left-card h4 {
  margin-bottom: 15px;
}

.amenities-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px 20px;
}

.amenities-more,
.amenities-slide-more {
  cursor: pointer;
  color: var(--color--legacy--yellow--rob-roy);
  font-size: var(--font-size--legacy--4);
  font-weight: bold;
}

.amenities-loc {
  text-align: right;
  line-height: var(--line-height--legacy--3);
  color: var(--color--legacy--green--de-york);
  font-size: var(--font-size--legacy--4);
  font-weight: bold;
}

#search {
  position: relative;
}

#search i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px;
}

#search-input {
  padding-right: 25px;
}

.recent-link {
  transition: 0.3s all;
  margin-bottom: 10px;
  cursor: pointer;
}

.recent-link:last-child {
  margin-bottom: 0;
}

.recent-link:hover {
  color: var(--color--legacy--blue--allports-1);
}

#loading {
  margin-top: 40px;
  text-align: center;
}

.no-results {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  font-style: italic;
}

.pagi-wrap {
  display: flex;
  flex-wrap: wrap;
}

.pagi-nums {
  margin: auto;
}

.btn-subscribe {
  margin-top: 20px;
}

.pagi-arrow:first-child {
  margin-left: 0;
}

.pagi-arrow:last-child {
  margin-right: 0;
}

@keyframes slideup {
  from {
    transform: translateY(300px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.amenities-pop-wrap,
.amenities-slide-pop-wrap {
  display: none;
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background: var(--color--legacy--black--black--alpha-70);
  padding: 20px;
  overflow: hidden;
}

.show-amen-pop {
  display: flex !important;
}

.amenities-pop {
  display: flex;
  position: relative;
  border: 1px solid var(--color--legacy--grey--silver-2);
  border-radius: 3px;
  max-width: 1000px;
  animation: slideup 0.5s ease forwards;
}

.amenities-pop .amenities-pop-left {
  background-position: center !important;
  background-size: cover !important;
  max-width: 60%;
  max-height: 75vh;
}

.amenities-pop .amenities-pop-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background: var(--color--white);
  padding: 40px 50px;
  max-height: 75vh;
  overflow: auto;
}

.amenities-pop-links a {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  color: var(--color--legacy--green--apple--alpha-100);
  font-size: var(--font-size--legacy--7);
  font-weight: bold;
}

.amenities-pop-div {
  margin: 25px 0;
  background: var(--color--legacy--grey--silver-2);
  width: 60%;
  height: 1px;
}

.amenities-pop-close,
.amenities-slide-pop-close {
  display: flex;
  position: absolute;
  top: -15px;
  right: -15px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--color--legacy--blue--regal-blue-2);
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: var(--color--white);
}

.amenities-search-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

/*
.amenities-filters {
  display: flex;
}

.amenities input {
  width: 100% !important;
}

.input-search,
.dnd-section .amenities-filters select {
  display: flex;
  position: relative;
  margin-left: 10px;
  border: 1px solid var(--color--legacy--grey--silver-1);
  border-radius: 3px;
  background: var(--color--white);
  width: 250px !important;
  max-width: 100%;
  height: 50px !important;
  overflow: hidden;
}

.input-search {
  border-right: 0;
}

.dnd-section .amenities-filters .input-search input {
  border: none;
  background: var(--color--white);
  height: 100%;
}

#amenities-clear {
  transition: 0.3s all;
  cursor: pointer;
}

#amenities-clear:hover {
  transform: scale(1.04);
}

.input-search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color--legacy--green--de-york);
  cursor: pointer;
  width: 40px;
  color: var(--color--white);
}
*/

.amenities-slider {
  margin: 0 50px;
}

.amenities-slider .slick-track {
  display: flex;
}

.amenities-slider .slick-slide {
  display: flex;
  height: auto;
}

.amenities-slide {
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
}

.amenities-arrow-prev,
.amenities-arrow-next {
  position: absolute;
  top: 45%;
  cursor: pointer;
  font-size: var(--font-size--legacy--23);
}

.amenities-arrow-prev {
  left: 0;
}

.amenities-arrow-next {
  right: 0;
}

.arrow-svg {
  width: 40px;
}

.filter-search {
  display: flex;
  border: 1px solid var(--color--legacy--grey--dark-grey-2);
  border-radius: 3px;
}

.filter-search input {
  border: none !important;
  background: transparent !important;
  color: var(--color--legacy--grey--bright-grey) !important;
}

.filter-search input[type='submit'] {
  padding: 12px 15px !important;
  font-family: var(--font-family--icons);
}

.amenities-cats {
  text-align: center;
}

.amenities-cats .category {
  transition: 0.3s all;
  margin: 0 10px;
  cursor: pointer;
  white-space: nowrap;
}

.amenities-cats .category:hover {
  opacity: 0.7;
}

.amenities-cats .category.active {
  color: var(--theme--global-colors--primary-color);
  font-weight: bold;
}

.amenities-pop-cred > *:first-child {
  margin-bottom: 25px;
}

@media (max-width: 1024px) {
  .amenities-left-card {
    margin-bottom: 20px;
  }

  .amenities-pop .amenities-pop-left {
    width: 100% !important;
    max-width: 100% !important;
  }

  .amenities-pop .amenities-pop-right {
    max-height: none;
  }

  .amenities-entry-wrap:nth-child(odd) {
    padding: 0 10px 20px 0 !important;
    width: 50% !important;
  }

  .amenities-entry-wrap:nth-child(even) {
    padding: 0 0 20px 10px !important;
    width: 50% !important;
  }

  .btn-subscribe {
    padding-right: 5px !important;
    padding-left: 5px !important;
    width: 100%;
  }

  .amenities-pop-wrap {
    align-items: flex-start;
    overflow: auto;
  }

  .amenities-pop {
    display: block;
    max-width: 600px;
  }

  .amenities-pop-wrap,
  .amenities-slide-pop-wrap {
    align-items: flex-start;
    overflow: auto;
  }
}

@media (max-width: 991px) {
  .dnd-section .amenities-filters select,
  .input-search {
    display: block;
    margin: 10px 0 0;
  }

  .amenities-filter-wrap,
  .amenities-filters {
    display: block;
  }
}

@media (max-width: 767px) {
  .amenities-arrow-prev,
  .amenities-arrow-next {
    display: none !important;
  }

  .amenities-select-wrapper select {
    margin: 0;
  }

  #recent-posts {
    display: none;
  }

  .amenities {
    display: block;
  }

  .amenities-select-wrapper {
    display: block;
  }

  .amenities-select-wrapper > div {
    padding: 0 0 20px !important;
    width: 100% !important;
  }

  .amenities-entry-wrap:nth-child(odd) {
    padding: 0 0 20px !important;
    width: 100% !important;
    height: auto;
  }

  .amenities-entry-wrap:nth-child(even) {
    padding: 0 0 20px !important;
    width: 100% !important;
    height: auto;
  }

  .pagi-link {
    margin-bottom: 10px;
  }

  .pagi-arrow {
    display: none;
  }

  .amenities-slider {
    margin: 0;
  }

  .amenities-bottom {
    display: block;
  }

  .amenities-loc {
    margin-top: 10px;
    text-align: left;
  }
}
