/* Table of contents
  1. Containers / Grid / DnD Areas
  2. Typography
  3. Buttons
  4. Tables
  5. Site header
  6. Site footer
  7. Blog
  8. Modules
  9. Form contact
*/

/* Containers / Grid / DnD Areas */

.hero-section .dnd-column {
  text-shadow: 2px 2px 2px var(--theme--spacing--overlay-color);
}

.hero-section div[class*='background-color'] * {
  text-shadow: none;
}

.hero-section::after {
  display: block;
  position: absolute;
  inset: 0;
  z-index: 2;
  background: var(--theme--spacing--overlay-color);
  background: linear-gradient(
    180deg,
    var(--theme--spacing--overlay-color) 50%,
    var(--theme--spacing--overlay-color--alpha-33) 100%
  );
  content: '';
}

.hero-section > .row-fluid {
  position: relative;
  z-index: 3;
}

/* Typography */

@font-face {
  font-family: JuniusX-Bold;
  src: url('https://23273748.fs1.hubspotusercontent-na1.net/hubfs/23273748/Website%20Font%20%E2%80%93%20JuniusX/JuniusX-Bold.ttf')
    format('truetype');
}

@font-face {
  font-family: JuniusX-Regular;
  src: url('https://23273748.fs1.hubspotusercontent-na1.net/hubfs/23273748/Website%20Font%20%E2%80%93%20JuniusX/JuniusX-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: JuniusX-Medium;
  src: url('https://23273748.fs1.hubspotusercontent-na1.net/hubfs/23273748/Website%20Font%20%E2%80%93%20JuniusX/JuniusX-Medium.ttf')
    format('truetype');
}

@font-face {
  font-family: JuniusX-Light;
  src: url('https://23273748.fs1.hubspotusercontent-na1.net/hubfs/23273748/Website%20Font%20%E2%80%93%20JuniusX/JuniusX-Light.ttf')
    format('truetype');
}

@font-face {
  font-family: JuniusX-Semibold;
  src: url('https://23273748.fs1.hubspotusercontent-na1.net/hubfs/23273748/Website%20Font%20%E2%80%93%20JuniusX/JuniusX-Semibold.ttf')
    format('truetype');
}

html {
  font-size: var(--theme--typography--body-text--font-size);
}

body {
  color: var(--theme--typography--body-text--color);
  font-family: var(--font-family--body);
  font-weight: var(--font-weight--body);
  font-style: var(--font-style--body);
}

body h4 * {
  font-family: inherit;
}

/* Paragraphs */

/* TODO: remove this overly-targeted rule after testing */
p {
  font-family: var(--font-family--body);
  font-weight: var(--font-weight--body);
  font-style: var(--font-style--body);
}

/* Anchors */

a {
  color: var(--theme--typography--link-color);
}

a:hover,
a:focus {
  color: var(--theme--global-colors--primary-color);
}

a:active {
  color: var(--theme--typography--link-color--lightened);
}

/* Headings */

h1 {
  line-height: var(--line-height--legacy--heading);
  color: var(--theme--typography--heading-1--color);
  font-family: var(--font-family--heading);
  font-size: var(--theme--typography--heading-1--font-size);
  font-weight: var(--font-weight--heading);
  font-style: var(--font-style--heading);
}

.single-header h1 {
  font-size: var(--theme--typography--heading-2--font-size);
}

h2 {
  line-height: var(--line-height--legacy--heading);
  color: var(--theme--typography--heading-2--color);
  font-family: var(--font-family--heading);
  font-size: var(--theme--typography--heading-2--font-size);
  font-weight: var(--font-weight--heading);
  font-style: var(--font-style--heading);
}

h3 {
  margin-top: 0;
  line-height: var(--line-height--legacy--heading);
  color: var(--theme--typography--heading-3--color);
  font-family: var(--font-family--heading);
  font-size: var(--theme--typography--heading-3--font-size);
  font-weight: var(--font-weight--heading);
  font-style: var(--font-style--heading);
}

h4 {
  line-height: var(--line-height--legacy--heading);
  color: var(--theme--typography--heading-4--color);
  font-family: var(--font-family--heading);
  font-size: var(--theme--typography--heading-4--font-size);
  font-weight: var(--font-weight--heading);
  font-style: var(--font-style--heading);
}

h5 {
  color: var(--theme--typography--heading-5--color);
  font-family: var(--font-family--body);
  font-size: var(--theme--typography--heading-5--font-size);
  font-weight: var(--font-weight--heading);
  font-style: var(--font-style--body);
}

h6 {
  color: var(--theme--typography--heading-6--color);
  font-family: var(--font-family--body);
  font-size: var(--theme--typography--heading-6--font-size);
  font-weight: var(--font-weight--thin);
  font-style: var(--font-style--body);
}

.size-small {
  font-size: var(--theme--typography--body-text--font-size);
}

/* Blockquote */

blockquote {
  border-left-color: var(--theme--global-colors--secondary-color);
}

@media (max-width: 767px) {
  h1 {
    line-height: var(--line-height--legacy--heading);
    font-size: var(--theme--typography--heading-1--small--font-size);
  }

  .single-header h1 {
    font-size: var(--theme--typography--heading-2--small--font-size);
  }

  h2 {
    line-height: var(--line-height--legacy--heading);
    font-size: var(--theme--typography--heading-2--small--font-size);
  }

  h3 {
    line-height: var(--line-height--legacy--heading);
    font-size: var(--theme--typography--heading-3--small--font-size);
  }

  h4 {
    line-height: var(--line-height--legacy--heading);
    font-size: var(--theme--typography--heading-4--small--font-size);
  }
}

/* Buttons */

.dnd-section button,
.dnd-section .button,
.dnd-section .hs-button,
.menu-wrapper .hs-button {
  display: inline-block;
  border: var(--theme--buttons--border);
  border-radius: var(--theme--buttons--border-radius);
  background: var(--theme--buttons--background-color);
  padding: var(--theme--buttons--padding);
  max-width: 350px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  color: var(--theme--buttons--text-color);
  font-family: var(--theme--global-fonts--primary-font);
}

.dnd-section .span4 button,
.dnd-section .span4 .button,
.dnd-section .span4 .hs-button,
.dnd-section .span3 button,
.dnd-section .span3 .button,
.dnd-section .span3 .hs-button,
.dnd-section .span2 button,
.dnd-section .span2 .button,
.dnd-section .span2 .hs-button,
.dnd-section .span1 button,
.dnd-section .span1 .button,
.dnd-section .span1 .hs-button {
  max-width: 100%;
}

.dnd-section button:hover,
.dnd-section button:focus,
.dnd-section .button:hover,
.dnd-section .button:focus,
.dnd-section .hs-button:hover,
.dnd-section .hs-button:focus,
.menu-wrapper .hs-button:hover,
.slick-active button {
  background: var(--theme--buttons--hover-color);
  text-decoration: none;
  color: var(--theme--buttons--hover-text-color) !important;
}

.dnd-section button svg,
.dnd-section .button svg,
.dnd-section .hs-button svg {
  fill: var(--theme--buttons--text-color);
}

.dnd-section button:hover svg,
.dnd-section button:focus svg,
.dnd-section .button:hover svg,
.dnd-section .button:focus svg,
.dnd-section .hs-button:hover svg,
.dnd-section .hs-button:focus svg,
.slick-active button svg {
  fill: var(--theme--buttons--hover-text-color) !important;
}

body .hs-button.light-button,
.dnd-section .button-light form input[type='submit'],
.dnd-section .button-light form .hs-button,
.menu-wrapper .button-light {
  display: inline-block;
  border: var(--theme--buttons--light-button--border);
  border-radius: var(--theme--buttons--light-button--border-radius);
  background: var(--theme--buttons--light-button--background-color);
  padding: var(--theme--buttons--padding);
  max-width: 350px;
  text-align: center;
  text-decoration: none;
  color: var(--theme--buttons--light-button--text-color);
  font-family: var(--theme--global-fonts--primary-font);
}

body .hs-button.light-button:hover,
body .hs-button.light-button:focus,
.menu-wrapper .button-light:hover,
.dnd-section .button-light form input[type='submit']:hover,
.dnd-section .button-light form .hs-button:hover {
  background: var(--theme--buttons--light-button--hover-color);
  text-decoration: none;
  color: var(--theme--buttons--light-button--hover-text-color) !important;
}

body .hs-button.light-button:active {
  border-color: var(--theme--buttons--light-button--border-color);
  background-color: var(--theme--buttons--background-color--lightened);
  color: var(--theme--buttons--text-color);
}

/* Tables */

.dnd-section table {
  border: none;
  border-radius: var(--theme--buttons--border-radius);
  border-color: var(--theme--tables--border-color);
  background: var(--color--legacy--white--white-smoke-5);
  max-width: 100%;
  overflow: hidden;
}

.dnd-section th,
.dnd-section td {
  border: none;
  color: var(--theme--tables--body-text-color);
}

.dnd-section thead th,
.dnd-section thead td {
  border: var(--theme--tables--header-background-color);
  background-color: var(--theme--tables--header-background-color);
  border-collapse: collapse;
  color: var(--theme--tables--header-text-color);
}

.dnd-section thead th:nth-child(1) {
  border-radius: var(--theme--buttons--border-radius) 0 0 0;
}

.dnd-section thead th:nth-last-child(1) {
  border-radius: 0 var(--theme--buttons--border-radius) 0 0;
}

.dnd-section tbody {
  border: none;
}

.dnd-section tbody + tbody {
  border-top-color: var(--theme--tables--border-color);
}

.dnd-section tbody tr {
  border-bottom: 1px solid var(--theme--tables--border-color);
}

.dnd-section tbody tr:nth-last-child(1) {
  border-bottom: none;
}

.dnd-section tbody tr:hover {
  background: var(--color--legacy--blue--hawkes-blue);
}

.dnd-section tfoot td {
  background-color: var(--theme--tables--footer-background-color);
  color: var(--theme--tables--footer-text-color);
}

/* Site header */

.header {
  background-color: var(--theme--header--background-color);
}

body .navigation-primary a,
.header__logo .logo-company-name,
.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
  color: var(--theme--header--menu-link-color);
  font-family: var(--theme--typography--body-text--font);
}

body .navigation-primary a:hover,
body .navigation-primary a:focus,
.header__language-switcher-label-current:hover,
.header__language-switcher-label-current:focus,
.header__language-switcher .lang_list_class li:hover a,
.header__language-switcher .lang_list_class li a:focus {
  color: var(--theme--header--menu-link-color--darkened);
}

body .navigation-primary a:active,
body .header__language-switcher-label-current:active,
body .header__language-switcher .lang_list_class li a:active {
  color: var(--theme--header--menu-link-color--lightened);
}

body .navigation-primary .submenu.level-1 > li > a.active-item::after {
  background-color: var(--theme--global-colors--primary-color);
}

body .submenu.level-2,
body .header__language-switcher .lang_list_class li {
  border-color: var(--theme--header--child-menu-border-color);
  background-color: var(--theme--header--background-color);
}

html .header__language-switcher .lang_list_class {
  border-bottom: 3px solid var(--theme--global-colors--primary-color);
  padding-top: 50px;
  width: 100px;
}

html .lang_list_class::before {
  top: 34px;
  margin-left: -8px;
  border: 8px solid transparent;
  border-bottom-color: var(--color--white);
}

html .lang_list_class::after {
  content: none;
}

html .header__language-switcher .lang_list_class li {
  border: none !important;
  background: var(--color--white);
}

body .submenu.level-2 > li:first-child::before {
  border-color: var(--theme--header--child-menu-border-color);
}

body .submenu.level-2 .menu-item .menu-link:hover,
body .submenu.level-2 .menu-item .menu-link:focus,
body .header__language-switcher .lang_list_class li:hover,
body .submenu.level-2 > li:first-child:hover::before,
body .submenu.level-2 > li:first-child.focus::before {
  background-color: var(--theme--header--background-color);
}

.header__language-switcher .lang_list_class.first-active::after {
  border-bottom-color: var(--theme--header--background-color);
}

.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
  font-family: var(--theme--typography--body-text--font);
}

.header__language-switcher-label-current::after {
  border-top-color: var(--theme--header--menu-link-color);
}

@media (max-width: 767px) {
  .header__navigation {
    background-color: var(--theme--header--background-color);
  }

  .header__navigation-toggle svg,
  .menu-arrow svg {
    fill: var(--theme--header--menu-link-color);
  }
}

/* Site footer */

.footer {
  background-color: var(--theme--footer--background-color);
}

/* Footer Content */

.footer a,
.footer div,
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer p,
.footer span {
  color: var(--theme--footer--text-color);
}

/* Blog */

.blog-post__date {
  border-color: var(--theme--typography--body-text--color);
}

.blog-card__tag-link,
.blog-card__title a,
.blog-post__author-name,
.blog-post__tag-link,
.blog-tag-filter__menu-link {
  color: var(--theme--typography--body-text--color);
}

.blog-card__tag-link:hover,
.blog-card__tag-link:focus,
.blog-card__title a:hover,
.blog-card__title a:focus,
.blog-post__author-name:hover,
.blog-post__author-name:focus,
.blog-post__tag-link:hover,
.blog-post__tag-link:focus,
.blog-tag-filter__menu-link:hover,
.blog-tag-filter__menu-link:focus {
  color: var(--theme--typography--body-text--color--darkened);
}

.blog-card__tag-link:active,
.blog-card__title a:active,
.blog-post__tag-link:active,
.blog-post__author-name:active,
.blog-tag-filter__menu-link:active {
  color: var(--theme--typography--body-text--color--lightened);
}

.blog-tag-filter__menu-link--active-item::after {
  background-color: var(--theme--global-colors--primary-color);
}

.blog-pagination__link {
  color: var(--theme--typography--body-text--color);
}

.blog-pagination__link--active::after,
.blog-pagination__prev-link::after,
.blog-pagination__next-link::after {
  background-color: var(--theme--global-colors--primary-color);
}

.blog-post__title {
  color: var(--theme--typography--heading-2--color);
  font-family: var(--font-family--heading);
  font-size: var(--theme--typography--heading-2--font-size);
  font-weight: var(--font-weight--heading);
  font-style: var(--font-style--heading);
}

.blog-post__author {
  background-color: var(--theme--global-colors--secondary-color);
}

#comments-listing .comment-reply-to {
  color: var(--theme--typography--link-color);
}

#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus {
  color: var(--theme--typography--link-color--darkened);
}

#comments-listing .comment-reply-to:active {
  color: var(--theme--typography--link-color--lightened);
}

/* Modules */

body .icon svg {
  fill: var(--theme--global-colors--primary-color);
}

body .tns-nav button.tns-nav-active {
  background-color: var(--theme--global-colors--primary-color);
}

body .tns-nav button:hover,
body .tns-nav button:focus {
  background-color: var(--theme--global-colors--primary-color);
}

body .team-member__description {
  background-color: var(--theme--global-colors--secondary-color);
}

.mb-resource-filter .topic-list {
  color: var(--color--legacy--grey--dim-grey-2);
  font-size: var(--font-size--legacy--4) !important;
}

/* Form contact */

.dnd-section .hsForm_4a043b7e-cde8-4f0c-8bd9-35d78c377c04 .actions .large {
  max-width: 100% !important;
}

.map * {
  height: 500px !important;
  min-height: 394px !important;
  max-height: 394px !important;
}

@media (min-width: 360px) and (max-width: 767px) {
  .dnd-section table {
    width: auto !important;
  }

  .hs_firstname
    #hs-form-4a043b7e-cde8-4f0c-8bd9-35d78c377c04_8d2743a0-4066-483c-b4cd-e71eb843216a
    .form-columns-2
    input {
    margin-right: 0 !important;
  }
}
