/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/

{% set primary_font = theme.global_fonts.primary_font %}
{% set secondary_font = theme.global_fonts.secondary_font %}

{% set body_font = theme.typography.body_text %}

{% set heading_one = theme.typography.heading_one %}
{% set heading_two = theme.typography.heading_two %}
{% set heading_three = theme.typography.heading_three %}
{% set heading_four = theme.typography.heading_four %}
{% set heading_five = theme.typography.heading_five %}
{% set heading_six = theme.typography.heading_six %}

{% set anchor_font_color = theme.typography.link_color.color %}


html {
  font-size: {{ body_font.size ~ body_font.size_unit }};
}

body {
  {{ body_font.style }};
  color: {{ body_font.color }};
}


/* Paragraphs */

p {
  {{ body_font.style }};
}

/* Anchors */

a {
  color: {{ anchor_font_color }};
}

a:hover,
a:focus {
  color: {{ theme.global_colors.primary_color.color }};
}

a:active {
  color: {{ color_variant(anchor_font_color, 40) }};
}

/* Headings */

h1 {
  {{ heading_one.style }};
  color: {{ heading_one.color }};
  font-size: {{ heading_one.size ~ heading_one.size_unit }};
  line-height: 1.2em;
  {% if theme.typography.h1_transform %}text-transform: uppercase;{% endif %}
}
.single-header h1 { font-size: {{ heading_two.size ~ heading_two.size_unit }}; }

h2 {
  {{ heading_two.style }};
  color: {{ heading_two.color }};
  font-size: {{ heading_two.size ~ heading_two.size_unit }};
  line-height: 1.2em;
  {% if theme.typography.h2_transform %}text-transform: uppercase;{% endif %}
}

h3 {
  {{ heading_three.style }};
  color: {{ heading_three.color }};
  font-size: {{ heading_three.size ~ heading_three.size_unit }};
  line-height: 1.2em;
  margin-top: 0;
  {% if theme.typography.h3_transform %}text-transform: uppercase;{% endif %}
}

h4 {
  {{ heading_four.style }};
  color: {{ heading_four.color }};
  font-size: {{ heading_four.size ~ heading_four.size_unit }};
  line-height: 1.2em;
  {% if theme.typography.h4_transform %}text-transform: uppercase;{% endif %}
}

h5 {
  {{ heading_five.style }};
  color: {{ heading_five.color }};
  font-size: {{ heading_five.size ~ heading_five.size_unit }};
  {% if theme.typography.h5_transform %}text-transform: uppercase;{% endif %}
}

h6 {
  {{ heading_six.style }};
  color: {{ heading_six.color }};
  font-size: {{ heading_six.size ~ heading_six.size_unit }};
  {% if theme.typography.h6_transform %}text-transform: uppercase;{% endif %}
}
.size-small { font-size: {{ body_font.size ~ body_font.size_unit }}; }




#course-shopify-compare {
  font-size: 18px;
  text-decoration: line-through;
  display: flex;
  font-style: italic;
  font-weight: 500;
}

#course-shopify-amount {
  font-family: 'Montserrat';
  font-weight: 600;
}

.bottom-float-bar { position: fixed; bottom: 0; left: 0; right: 0; background: #fff; text-align: center; padding: 12px; z-index: 9; color: {{theme.global_colors.secondary_color.color}}; font-family: 'Montserrat'; font-weight: 700;}
.bottom-float-bar a { color: {{theme.global_colors.secondary_color.color}} !important; }


.slick-dots { margin-top: 0px !important; }


/* Form */
select { -webkit-appearance: none; appearance: none; position: relative; background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZDcyYTI1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+') no-repeat, linear-gradient(rgba(255, 250, 243, 1), rgba(255, 250, 243, 1)) !important; background-position: right 15px top 17px !important; }
/* select { -webkit-appearance: none; appearance: none; position: relative; background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZDcyYTI1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+') no-repeat !important; background-position: right 15px top 17px !important; } */

