.blog-posts .mb-resource {
  box-shadow: 0 0 2px rgb(0 0 0 / 30%);
  border-radius: 6px;
}

.blog-posts .mb-resource .content {
  padding-left: 30px;
  padding-right: 30px;
}

.blog-posts .mb-resource h4 {
  font-weight: bold;
}

.blog-posts .mb-resource .more-link {
  padding-bottom: 0;
  border-bottom: 0;
}