{% set posts = blog_recent_posts(module.blog, 3) %}
<div class="blog-posts">
  <div class="blog-listing-wrapper cell-wrapper">
    <div class="mp-posts post-listing">
      {% for content in posts %}
      <div class="mb-resource-wrapper">
        <div class="mb-resource">
          <a href="{{content.absolute_url}}" class="mb-resource-img" style="background: var(--color--legacy--blue--blue-whale) url({{ content.post_list_summary_featured_image }}) center no-repeat;background-size: contain;"></a>
          <div class="content">
            <div class="">
              <span>{{ content.publish_date_localized }} | </span>
              <span class="topic-link">{% for topic in content.topic_list %}{% if loop.index <= 2 %}{% if not loop.first %} | {% endif %}<a class="topic-link" href="{{ blog_tag_url(group.id, topic.slug) }}">{{ topic.name }}</a>{% endif %}{% endfor %}</span>
            </div>
            {% set title_size = content.name|wordcount %}
            <a href="{{content.absolute_url}}"><h4 class="size-{% if title_size <= 5 %}large{% elif title_size <= 10 %}med{% else %}small{% endif %}">{{ content.name }}</h4></a>
            <p>
              {{ content.post_list_content|cut('&nbsp;')|striptags|truncate(100, True, '...') }}
            </p>
          </div>
          <a class="more-link" href="{{content.absolute_url}}"><strong>Read More</strong> <i class="far fa-chevron-right" aria-hidden="true"></i></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>