  <div id="page-deal-bar-{{name}}" class="deal-bar">
    <svg class="deal-bar-close" clip-rule="evenodd" width="24" height="24" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/></svg>
    <div class="deal-bar-inner">
      {% if module.svg_icon %}{{ module.svg_icon }}{% endif %}
      {% if module.deal_bar_text %}<span>{{ module.deal_bar_text }}</span>{% endif %}
      {% if module.deal_ends_time %}
      <span class="deal-bar-time-text"></span>
      {% endif %}
      {% set href = module.claim_deals_link.url.href %}
      {% if href %}
        {% if module.claim_deals_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
         <div class="deal-bar-btn-desktop">
          <a href="{{ href }}" class="deal-bar-btn desktop"
            {% if module.claim_deals_link.open_in_new_tab %}target="_blank"{% endif %}
            {% if module.claim_deals_link.rel %}rel="{{ module.claim_deals_link.rel }}"{% endif %}
            >
            {{ module.claim_deals_text }}
          </a>
         </div>
        <div class="deal-bar-btn-mobile">
          {% if module.claim_deals_link_mobile.url.type is equalto "PHONE_NUMBER" %}
              {% set ctc = "tel:" + module.claim_deals_link_mobile.url.href %}
          {% endif %}
          <a href="{{ ctc }}" class="deal-bar-btn mobile"
              {% if module.claim_deals_link_mobile.open_in_new_tab %}target="_blank"{% endif %}
              {% if module.claim_deals_link_mobile.rel %}rel="{{ module.claim_deals_link_mobile.rel }}"{% endif %}
              >
              {{ module.claim_deals_text_mobile }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  <script>
  (function () {
    $('.deal-bar').hide();
    const showStartTime = new Date('{{ module.start_time_iso }}').getTime();
    const showEndTime = new Date('{{ module.end_time_iso }}').getTime();
    const now = new Date().getTime();
    if(now < showStartTime || now > showEndTime) {
      return; 
    }
    
    {% if module.deal_ends_time %}
    const endTime = new Date('{{ module.deal_ends_time }}').getTime();
    function dealTimeDif() {
      const timeDifference = endTime - new Date().getTime();
      let h,m,s;
      h = Math.floor(timeDifference/1000/60/60);
      m = Math.floor((timeDifference/1000/60/60 - h)*60);
      s = Math.floor(((timeDifference/1000/60/60 - h)*60 - m)*60);
      let timeString = 'Sale ends in ' + h + 'hrs:' + m + 'mins:' + s + 'sec';
      $('#page-deal-bar-{{name}} .deal-bar-time-text').text(timeString);
    }
    dealTimeDif();
    setInterval(dealTimeDif, 1000);
    {% endif %}
    
    $('#page-deal-bar-{{name}}').prependTo('.jd-header-wrap');
    $('#page-deal-bar-{{name}}').show();
    
    $(document).ready(function() {
      $('.static-body').css('padding-top', $('.deal-bar').height() + 'px');
      var dealBarHidden = false;
      $(window).on('resize', function() {
        if(!dealBarHidden) {
          $('.static-body').css('padding-top', $('.deal-bar').height() + 'px');
        }
      });      
      $('.deal-bar-close').click(function() {
        dealBarHidden = true;
        $('.deal-bar').hide();
        $('.static-body').css('padding-top', '0px');
      });
    });
  })();
  </script>