{% set blogPostId1 = module.blog_post_id_card_one %}
{% set blogPostId2 = module.blog_post_id_card_two %}
{% set blogPostId3 = module.blog_post_id_card_three %}
{% set blogPostId4 = module.blog_post_id_card_four %}
{% set largeCard = "large-card" %}
{% set smallCard = "small-card" %}

{% macro render_blog_post(id, cardType) %}
  {% if id %}
    {% set content = content_by_id(id|int) %}
    {% set author = content.blog_post_author.display_name %}
    {% set initialPostWords = content.post_body|wordcount %}
    {% set readTimePostWords = (initialPostWords / 200)|round(0, 'ceil') %}
    {% set isReadTimeWords = readTimePostWords <= 1 ? 'less than 1 minute read' : 'read time: {{ readTimePostWords }} mins'  %}
    <a href="{{ content.url }}">
      <div class="featured-story-grid__{{ cardType }}-content-container">
        <div class="featured-story-grid__card-content featured-story-grid__{{cardType}}">
          {% if module.show_category_eyebrow %}
            <span class="blog-teaser__category">{{ content.topic_list[0].name }}</span>
          {% endif %}
          <h2 class="featured-story-grid__{{ cardType }}-heading">{{ content.name }}</h2>
          {% if author %}
            <p class="blog-teaser__byline">By: {{ author }} | {{ isReadTimeWords }}</p>
          {% endif %}
        </div>
        <div class="{{ cardType }}-image">
          <img src="{{ content.featured_image }}" alt="{{ content.featured_image_alt_text }}">
        </div>
      </div>
    </a>
  {% endif %}
{% endmacro %}

{% if blogPostId1 %}
  <div class="featured-story-grid">
    <div class=" featured-story-grid__card-container featured-story-grid__large-card-container">
      {{ render_blog_post(blogPostId1, largeCard) }}
    </div>
    {% if blogPostId2 or blogPostId3 or blogPostId4 %}
      <div class="featured-story-grid__card-container featured-story-grid__small-card-container">
        {{ render_blog_post(blogPostId2, smallCard) }}
        {{ render_blog_post(blogPostId3, smallCard) }}
        {{ render_blog_post(blogPostId4, smallCard) }}
      </div>
    {% endif %}
  </div>
{% endif %}
