.featured-story-grid {
  display: flex;
  background: var(--color--light-water);
  padding: var(--spacing-10);
}

.featured-story-grid__card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
}

.featured-story-grid__large-card-container {
  padding: 1rem;
}

.featured-story-grid__small-card-content-container {
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}

.featured-story-grid__card-content {
  padding: 1rem;
}

.featured-story-grid__large-card {
  padding-left: 0;
}

.featured-story-grid__small-card {
  align-self: center;
  order: 2;
}

.featured-story-grid__large-card-heading {
  font: var(--font--h4--desktop);
}

.featured-story-grid__small-card-heading {
  font: var(--font--h6--desktop);
}

.small-card-image img {
  border-radius: 10px;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 25rem;
}

.large-card-image img {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 5 / 4;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .featured-story-grid {
    flex-direction: column;
  }

  .featured-story-grid__card-container {
    width: 100%;
  }

  .featured-story-grid__small-card-content-container {
    display: block;
    padding: 1rem;
  }

  .large-card-image img,
  .small-card-image img {
    aspect-ratio: 3/2;
    padding: 0;
    width: 100%;
  }

  .featured-story-grid__card-content {
    padding: 1rem 0;
  }

  .featured-story-grid__large-card-heading,
  .featured-story-grid__small-card-heading {
    font: var(--font--h4--mobile);
  }
}

@media (max-width: 767px) {
  .featured-story-grid {
    padding: 0;
  }
}
