.flex-blog-section { display: flex;flex-wrap: wrap;justify-content: space-between; }
.item-right.featured { align-items: center;justify-content: space-between; }
.item-right .blog-item-img { margin-right: 0;margin-left: 25px; }
.blog-item.featured .blog-item-img { width: 55%;min-width: 55%;padding-top: 35%; }
a.post-link { display: block;color: unset; }
a.post-link:hover { text-decoration: none; }
.blog-item-content { align-self: center; }
.flex-blog-section .topics { margin: 5px 0; }
.blog-item.mb-resource-wrapper { flex-direction: column;padding-bottom: 20px; }
.author-date { font-size: 14px; }
.auth-img { display: inline-block;width: 50px;height: 50px;float: left;margin-right: 10px;border-radius: 50%; }
.flex-blog-section .mb-resource .more-link i { color: unset; }
.post-footer { display: flex;align-items: flex-end; }
.post-footer .more-link { margin-bottom: 5px;margin-left: auto;padding: 0 0 0 50px; }

.drop-true .mb-resource { -webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out }
.drop-true .mb-resource:hover { box-shadow: 0 0 15px var(--color--legacy--black--black--alpha-15); }

.flex-blog-section .blog-item.column-1 { width: 100%; }
.flex-blog-section .blog-item.column-2 { width: 50%; }
.flex-blog-section .blog-item.column-3 { width: 33.33%; }
.flex-blog-section .blog-item.column-4 { width: 25%; }
.flex-blog-section .blog-item.column-5 { width: 20%; }
@media (max-width: 1000px) {
  .flex-blog-section .blog-item.column-3 { width: 50%; }
  .flex-blog-section .blog-item.column-4 { width: 33.33%; }
  .flex-blog-section .blog-item.column-5 { width: 25%; }
}
@media (max-width: 767px) {
  .flex-blog-section .blog-item.column-2 { width: 100%; }
  .flex-blog-section .blog-item.column-3 { width: 100%; }
  .flex-blog-section .blog-item.column-4 { width: 100%; }
  .flex-blog-section .blog-item.column-5 { width: 50%; }
  }