.blog-post-bottom-hero-container {
  display: flex;
  column-gap: var(--spacing-32);
  align-items: center;
  justify-content: center;
  background: var(--color--chalk);
  padding: var(--spacing-20) 0 var(--spacing-16);
}

.blog-post-bottom-hero-image {
  width: 412px;
}

.blog-post-bottom-hero-column {
  max-width: 513px;
  text-align: left;
}

.blog-post-bottom-hero-heading {
  margin-bottom: var(--spacing-8);
  font: var(--font--h3--desktop);
}

.blog-post-bottom-hero-subheading {
  display: block;
  margin-bottom: var(--spacing-8);
  font: var(--font--extra-large-paragraph);
}

.blog-post-bottom-hero-subheading p {
  font: inherit;
}

.blog-post-bottom-hero-container .form-title {
  display: none;
}

.blog-post-bottom-hero-container form label {
  margin-bottom: var(--spacing-2);
  font: var(--font--legal);
}

.blog-post-bottom-hero-container form .hs_submit {
  margin-top: var(--spacing-6);
}

.blog-post-bottom-hero-container form input[type='submit'] {
  background: var(--theme--buttons--light-button--background-color);
  padding: var(--spacing-4) var(--spacing-16);
  font: var(--font--paragraph--semibold--short);
}

.blog-post-bottom-hero-container .hs-form-field {
  margin-bottom: var(--spacing-4);
}

.blog-post-bottom-hero-privacy-consent {
  margin-top: var(--spacing-5);
  font: var(--font--legal);
}

@media (max-width: 1023px) {
  .blog-post-bottom-hero-right-column {
    display: none;
  }

  .blog-post-bottom-hero-container {
    padding: var(--spacing-10) var(--spacing-5) var(--spacing-16)
      var(--spacing-2);
  }

  .blog-post-bottom-hero-container form input[type='submit'] {
    padding: 10px var(--spacing-6);
    font: var(--font--small-paragraph--bold);
  }

  .blog-post-bottom-hero-heading {
    margin-bottom: var(--spacing-6);
    font: var(--font--h2--mobile);
  }

  .blog-post-bottom-hero-subheading {
    margin: var(--spacing-2) 0 var(--spacing-6);
    font: var(--font--small-paragraph--bold);
  }
}
